[2018-02-19 13:46] #808 closed

[2018-02-19 13:51] Zaszczyk commented on #825
Hi @Sephster, I'm sorry for the lack of response, I had not resources and time to code it. However it is interesting challenge and I will try to pick this up until end of March ok?

[2018-02-19 13:53] Sephster commented on #747
Hello @gbgelado - there is no native way to do this in the library at the moment, but I think it is probably a good thing to implement. I will add this as an improvement idea and speak about this with the other maintainers. Thanks for the suggestion.

[2018-02-19 17:59] Sephster commented on #825
No pressure at all. That is fine. I don't have much time to pick it up myself but if a window comes about and you haven't picked it up yet, I will add this myself. Thanks for agreeing to help out

[2018-02-19 18:14] Sephster commented on #758
Hi @Herz3h - apologies for the delay in responding to you. [This page](https://oauth2.thephpleague.com/authorization-server/which-grant/) might help you to decide which grant you need to use.

If I am understanding correctly, you have created both the API and the mobile client. Because you are the creator of the mobile app, it is assumed that there is a higher level of trust in this app so you can

[2018-02-19 18:14] #758 closed

[2018-02-19 19:58] Sephster commented on #855
Sorry, my original comment was incorrect. I should really check these things before responding so thank you both for correcting me.

Because the package use JWT as you noted, no DB call is required to check the validity of an access token. However, as you also noted, we do need some way of checking if a token has been revoked which cannot be achieved from the JWT alone.

In your scenario, even tho

[2018-02-20 00:12] jacobweber opened #858 "Question: where to check token expiration"
I'm trying to implement the entities and repositories. It's not clear to me where to check the token's getExpiryDateTime() field, to make sure it hasn't expired. Do I do this in the is*TokenRevoked() methods?

[2018-02-20 01:54] michaeldnelson commented on #855
Thank you for your responses. I have some thoughts about possible scenarios but it seems like a lot of this is still very fuzzy especially around securing single page apps :) Regardless, as I said, I appreciate this library.  It provides a lot of functionality while not forcing an implementation.

[2018-02-20 22:30] Sephster commented on #858
Hello @jacobweber - The _tokenEntityInterface_ and _refreshTokenEntityInterface_ both require `getExpiryDateTime()` methods to be implemented.

This function is called by the server to retrieve the expiry date for an access token to package up and send back to the client in an http response. As long as you have implemented the function, the package should use the function correctly.

For example,

[2018-02-20 22:30] #858 closed

[2018-02-20 23:19] simonhamp commented on #857
I can’t see anything in that spec that suggests that you can’t/shouldn’t use the client_id as the `aud`. Do you have any specific concern with this @michaeldnelson?

[2018-02-20 23:31] jacobweber commented on #858
Thanks! That's very helpful. I didn't realize that it's embedding the expiration time in the token now, using JWT. I was used to the older version where I had to store the expiration time in the database and verify it myself.

[2018-02-21 01:28] michaeldnelson commented on #857
I think you are right that this is not explicitly prohibited.  Closer reading of the spec leaves this open for interpretation.  I've just never seen it used this way.  Personally my issue with this is that I validate the audience claim against $request->getHost(), this is a simple added layer of verification that doesn't require a database lookup.  This is particularly useful if a token should be

[2018-02-21 01:38] michaeldnelson commented on #857
Perhaps the actor claim might be a better fit though?

https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-12#section-4.1

[2018-02-21 01:42] michaeldnelson commented on #857
There is a cid claim for this purpose it looks like.

https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-12#section-4.3

4.3.  "cid" (Client Identifier) Claim

   The "cid" claim carries the client identifier of the OAuth 2.0
   [RFC6749] client that requested the token.

   The following example illustrates the "cid" claim within a JWT Claims
   Set indicating an OAuth 2.0 client with "s

[2018-02-21 11:49] suhaboncukcu opened #859 "getClientEntity doesn't include client secret"
I'm trying to implement AuthGrant and having a problem about Client Authentication.

However I can't get any secret within getclientEntity function.

I also realized that when validating authorization request the secret is sent as `null`

`AuthCodeGrant.php` line 216:
[code]

When I sniff the request I can see the header sent as `authorization:"Basic base64(client:secret)"`

How can I validate the

[2018-02-21 14:40] Sephster commented on #857
@michaeldnelson the last link you posted is for a draft version that has not been finalised yet I believe.

I think you might be right that the `aud` should be set to the authorization server endpoint. It looks like it has been incorrectly set to identify the client instead. We aren't, to my knowledge, officially implementing RFC 7523 at present but we are following the JWT RFC which [confirms you

[2018-02-21 19:53] Zaszczyk commented on #825
@Sephster are there tests of emitting events or already implemented events? Because I want to inspire, but can't find any.

[2018-02-22 13:41] Sephster commented on #859
Hi @suhaboncukcu. The function `getClientEntity()` accepts four arguments:

* clientIdentifier
* grantType
* clientSecret
* mustValidateSecret

It is up to you where you store your actual clients information. If they are stored in a DB, you must retrieve the clients from the DB and then compare their hashed client password stored in the database against the client secret you have been provided in

[2018-02-22 13:41] #859 closed

[2018-02-22 13:53] Sephster commented on #825
I don't believe there are any tests for these in our test suite.

[2018-02-22 13:58] suhaboncukcu commented on #859
@Sephster Thank you for your kind response. But it got me confused.

I've already implemented my client repository implementing the interface as below:

[code]

I plan to handle non-authorized request within the validate function. I have my client stored safely on my database and I can get its id and secret without a problem. However, whenever I try to get `$clientSecret` from this function; I get

[2018-02-25 10:18] GarbageColl opened #861 "Random Compat"
Hey there,
why do you require `paragonie/random_compat` in the composer.json if you only support PHP 7?

[2018-02-26 12:39] Sephster commented on #861
This is an oversight. Thanks for reporting. Fixed in commit 99e42f6f257a7d865a04898a7591fb7f20209917

[2018-02-26 12:39] #861 closed

[2018-02-26 15:59] simonhamp commented on #837
I've definitely hit this before and it's definitely been trickier than it needs to be to track down. The commit above fixes this case of it, but I haven't checked for others yet.

Would appreciate you giving this a test @Jimbolino if/when you get chance.

[2018-02-26 17:49] simonhamp commented on #735
Interesting issue!

First off, I don't think it should be up to this library to handle the timing of refresh token revocation anywhere... and as far as I can tell it isn't.

I'm pretty sure that revoking refresh tokens only happens in your individual implementations of `RefreshTokenRepositoryInterface::revokeRefreshToken()` and checking for a revoked token by your implementation of `RefreshTokenRe

[2018-02-26 19:13] Sephster commented on #735
I agree with @simonhamp here. It would be negligible of us to mandate an expiry timeout for the server for everyone. The issues here seem to be largely dependent on the host server/client connection which is not the responsibility of this package.

The package itself does not provide implementation for the `revokeRefreshToken` method so it is up to you how you implement this. As this is an impleme

[2018-02-26 19:13] #735 closed

[2018-02-26 19:49] Sephster commented on #837
This issue will also affect the Implicit Grant. I think the problem here is that we are performing some of the validation inside the `canRespondToAuthorizationRequest()` function.

It would be better to just return `true` for the grants that can respond to authorization requests to allow the flow to continue to the `validateAuthorizationRequest()` function and place all actual validation inside th

[2018-02-26 20:03] Sephster commented on #825
Implemented in commit  6fd3024

[2018-02-26 20:03] #825 closed

[2018-02-26 20:18] Sephster commented on #837
Sorry, I hadn't noticed that the implicit grant and auth code grant are differentiated in their check by the response type, hence the need for the request being passed in at that point. Will require some further thought

[2018-02-27 10:25] simonhamp commented on #837
@Sephster I don't think it matters too much because both of these methods get called inside `[AuthorizationServer::validateAuthorizationRequest()](https://github.com/thephpleague/oauth2-server/blob/7.0.0/src/AuthorizationServer.php#L143-L152)`, so validation is the goal one way or another.

If someone happens to use either of the Grant methods separately in their implementation, I feel that having

[2018-02-27 22:13] suhaboncukcu commented on #859
Hi @Sephster, could you take a look at my explanation? I know it is not good to comment again but I couldn't find any other example for my case. I can fork the repo but I really don't want that since you are amazing and I don't want to miss an update.

Is there any other platform that I can get an answer about this you can suggest? Stackoverflow has zero responses as well.

Many thanks

[2018-02-28 13:24] suhaboncukcu commented on #859
@mtangoo but I am doing that. _(I think)_

I am using Postman's Oauth 2.0 Authorization screen and sending the client secret. _(When I sniff the request I can read it is correctly sent via header)_

[code]

But even though I've implemented the ClientRepositoryInterface,   getClientEntity function doesn't get the client secret. I understand that this function should be called with four parameters i

[2018-02-28 13:55] mtangoo commented on #859
which version are you using?
I will test when am at machine with oauth2 code. Last time I checked it was working fine.

[2018-02-28 13:55] mtangoo commented on #859
Yeah, they are far better ;)

[2018-02-28 14:11] suhaboncukcu commented on #859
@mtangoo no need. I checked the source code again and days after I now realized that this function is called twice. Once sending the `clientSecret` as null. Then with the proper `clientSecret` So the example @Sephster shared actually includes the line below:

https://github.com/thephpleague/oauth2-server/blob/b8b92e59255ffe586ddd50a3975d7219ca9a8c38/examples/src/Repositories/ClientRepository.php#L

[2018-02-28 16:41] Sephster commented on #859
Sorry for the delayed response. It looks like you've arrived at the solution yourself which is excellent. As you'd noted, the package checks a client secret in the function `validateClient` which is in the _AbstractGrant_. This function extracts the `client_secret` for the request passed to it. In the auth code grant's case, we don't check this when requesting authorisation but can check it when r

[2018-03-01 06:34] longchass opened #868 "The private key"
https://github.com/thephpleague/oauth2-server/blob/master/tests/Stubs/private.key

[2018-03-01 06:45] #868 closed

[2018-03-02 09:06] halaei commented on #735
To me it means everyone implementing `RefreshTokenRepository::revokeRefreshToken()` by actually revoking the token as the name of method suggests, introduces a bug. Implementations of this package might be unaware.

[2018-03-06 21:01] jackdpeterson opened #870 "Authorization Code flow: conflict between an authorization code custom redirect_uri (saved in the auth code grant entity) and what's saved in the client entity"
A little background: I'm implementing a light version of Open ID Connect to support two providers (utilizing the League-Oauth2-Client provider adapters).

I have an action, FacebookAction that
1. Receives a GET request from a given client (http://sso/login/facebook/{clientId})
2. Redirects to FB Authorization Dialog
3. A. convert the FB code to FB access token, fetches FB identity.
    B. Auto-cre

[2018-03-06 21:21] jackdpeterson commented on #870
Above commit takes the approach that the client's configured redirect_uri is what we care about when validating the request. The other key assumption being made is that the redirect_uri inside of the authorization_code is that it is used for redirecting and not validating ... thus the enforcement of the redirect_uri happens prior to abstractGrant::validateClient() is called.

[2018-03-06 22:04] jackdpeterson commented on #870
Closing because $_GET['state'] is a thing. Thanks @iansltx  :-).

[2018-03-06 22:04] #870 closed

[2018-03-13 09:42] Zaszczyk opened #872 "New realease"
Hi, could you make a new release? I would like to use this feature in my project: https://github.com/thephpleague/oauth2-server/pull/860 :)

[2018-03-13 21:14] Sephster commented on #872
Hi @Zaszczyk - we are moving towards a new release soon but are awaiting some other tasks being finalised before release. I expect this will be within the week.

In the meantime, you can always grab `dev-master` which should work fine but I wouldn't recommend this as if you forget, you might upgrade later to an unstable version.

[2018-03-13 21:14] #872 closed

[2018-03-16 13:01] bauer01 commented on #705
Why I should use legacy version 4.* .... there souhld an option to disable built-in jwt....for example when I use some openidconnect built on top of this solution like https://github.com/steverhoades/oauth2-openid-connect-server ;-)

[2018-03-17 14:34] nealoke opened #875 "Cannot access this package via composer"
I just installed this package with `composer require league/oauth2-server` which worked as normal. When trying to use the class via the `autoload.php` provided by `composer` I always get an error. I'm not sure where I'm going wrong...

**Folder structure**
[code]

**`authorize.php`**
[code]

**Error generated**
`Fatal error: Class 'ClientRepository' not found in C:\xampp\htdocs\wizer\packages\auth

[2018-03-17 18:20] simonhamp commented on #875
Hi @nealoke. I don't think this is an issue with the package or Composer.

What class is `ClientRepository` that you're trying to load? There's no such class in this package. There's a `ClientEntityInterface`...

Even so, you would still need to reference class names absolutely or alias them, e.g.:

[code]

Hope this helps.

[2018-03-17 20:41] Sephster commented on #875
Can you post what your _authorize.php_ file looks like? This isn't a file from the package and it looks like the issue is from this file.

[2018-03-17 20:51] Sephster commented on #705
We currently have someone working on a PR to make it easier to implement alternatives to JWT should you wish.

[2018-03-18 11:09] nealoke commented on #875
@simonhamp indeed, that was where the issue is... I must say the documentation is not as handy to start with. I might do a PR to change that :) Thanks for helping!

[2018-03-18 11:09] #875 closed

[2018-03-19 06:29] vivek-doyenhub commented on #584
Hello, @yukunwu
I want to implement this library in one of my codeigniter project.
Can you please suggest me how you have implemented this library in codeigniter?
I cannot find "ClientRepository.php" this file in this repository. Instead of that file, I can see "ClientRepositoryInterface.php" file. Did you created it yourself?

[2018-03-19 06:45] vivek-doyenhub commented on #72
I have imported library in my codeigniter project using composer in application folder
[code]
Also I have changed composer_autoload to TRUE in config file.

`$config['composer_autoload'] = TRUE;`

But when I try to create instance of classess. It gives me error class "ClientRepository" not found.

[code]

Please assist me!

[2018-03-19 06:49] vivek-1874596 opened #877 "Error in codeigniter integration"
I have imported library in my codeigniter project using composer in application folder
[code]
Also I have changed composer_autoload to TRUE in config file.

`$config['composer_autoload'] = TRUE;`

But when I try to create instance of classess. It gives me error class "ClientRepository" not found.

[code]

Please assist me!

[2018-03-19 07:31] alexbilbie commented on #72
@vivek-1874596 You need to implement the repository interfaces - http://oauth2.thephpleague.com/installation/

[2018-03-19 11:28] nealoke opened #878 "Any way to get the ClientEntity after verification?"
I'm currently at the part where the user needs to confirm access of the client to his/her account. On this page I ofcourse want to display what scopes are involved and some additional information (name, logo, ...).

In order to do this I would need to access the `client` property of the `AuthorizationRequest`. This way I can use the `name` and the `identifier` for fetching more information about t

[2018-03-19 11:44] #878 closed

[2018-03-19 11:56] simonhamp commented on #877
https://github.com/thephpleague/oauth2-server/issues/72#issuecomment-374123182

[2018-03-19 12:11] simonhamp commented on #877
As mentioned in the linked comment, you will need to write the various repository classes yourself, implementing the appropriate interface for each.

These repositories should contain your application's logic for storing the various OAuth2 entities (clients, scopes, tokens etc). It's kept abstract to allow for ultimate flexibility in how you choose to store these entities.

The [examples](https://

[2018-03-19 12:11] #877 closed

[2018-03-21 11:50] mtangoo commented on #809
Refresh Token is a token that you send to get new access token if Oauth2 server supports it. For example if your access token have expired and you have refresh token that is still valid you can use that to get new and valid access token without going thru full grant process (like Auth Code or Password...)

I don't get what you mean about encryption, hex et al so I will skip that for now!

[2018-03-21 12:15] simonhamp commented on #809
Thanks for offering an answer @mtangoo.

@raulferras Access Tokens produced by this library are [JSON Web Tokens (JWT)](https://tools.ietf.org/html/rfc7519) and are meant to be able to be unpacked by a token holder so that the token details stored therein can be interpreted. They are **serialised** for safe transport.

Refresh Tokens on the other hand need to be reversibly **encrypted** (in a way

[2018-03-21 12:29] simonhamp commented on #756
@lilliesAndRoses as this issue appears to be related to Drupal's simple_oauth library (and also relatively old), I'm going to close it. If you're facing any issues specifically with _this_ library, please feel free to open a new ticket.

[2018-03-21 12:29] #756 closed

[2018-03-22 12:04] ximik777 commented on #794
@sergeyklay Great schemа! But access_tokens.user_id can be NULL. If grant_type = client_credentials then user_id is NULL. Or am I noticing something?

[2018-03-22 12:55] simonhamp commented on #802
I totally agree that we need to improve the documentation. It's quite an undertaking, but I'd like to give it a go.

A library/package is likely to be overly prescriptive for some, making it kind of useless, whilst also being seen as an 'official' starting point by others, thus running the risk of being overly simplistic and causing more trouble - we wouldn't want production code running off a 'th

[2018-03-22 15:46] simonhamp commented on #746
@wysisoft how did you get on?

Sharing identifying data is kind of a separate area of concern and not really covered by this library (yet). You probably **shouldn't** rely solely on data stored in a token, as this may change and it's also not super flexible or private - for instance you wouldn't want to be storing any personally identifiable data in a token.

Most APIs have a specific endpoint tha

[2018-03-22 15:49] wysisoft commented on #746
For Wordpress and Drupal yes I think I can use the token and their API to get the user info, but for Joomla I didn't see any API like this. Am I wrong in assuming getIdentifier is stored in the token? I see Microsoft and Google storing some user identifier info in their tokens, was hoping for the same here.

[2018-03-22 16:19] simonhamp commented on #746
It's possible that it will be a constant user identifier (probably of the user on the OAuth service), but this depends on your specific implementation. Honestly, you would probably be ok using this if you're in charge of the OAuth server and can be sure that it won't change.

But even if you are running the OAuth server, personally I wouldn't rely on this for a couple of reasons:

1. If you don't

[2018-03-22 19:40] nealoke opened #879 "How to handle user login (and not oauth clients)?"
I've implemented the `oauth2-server` which is awesome (but sometimes unclear) library :smile: . The problem is however, separate from oauth clients I also have users who just need to login. Do they do this with another grant then the `authorization_code`? If so which one?

Currently I'm doing this via my one-page application via a http POST request with username and password.

[2018-03-22 22:25] Sephster commented on #746
Apologies if I am missing the gist of this discussion but I just answered a similar question so thought I would respond in kind here if it is of use. Sorry in advance to @wysisoft and @simonhamp if this is not what is being discussed.

If I'm understanding correctly, @wysisoft wants to know if he can tie his bearer token back to a specific user. I believe you can if you store the users ID in the _

[2018-03-23 10:52] nealoke commented on #879
Thanks for the quick follow up :+1:

But I'm afraid I don't fully understand what I should do now. The thing is currently my `oauth clients` can have access to my `resource server` (aka my api). But because I'm using the `ResourceServerMiddleware` it errors when my front-end application tries to access the api on behalf of the user that is logged in due to the missing JWT token.

If I understand c

[2018-03-23 15:21] raulferras commented on #809
Much clearer now, thanks!

[2018-03-23 15:21] #809 closed

[2018-03-23 17:00] nealoke commented on #879
I receive the following error message:
`{"error":"access_denied","message":"The resource owner or authorization server denied the request.","hint":"Missing \"Authorization\" header"}`

**A small recap on the situation**
So out of your answer and my stackoverflow question it becomes clear that the OAuth flow is not for typical user logins. I would like to create an endpoint on my auth server for lo

[2018-03-24 14:39] simonhamp commented on #879
IMHO, you're better off sticking to your standard auth methods for users logging directly into your service. The extra step of giving those users an OAuth token will give you unnecessary headaches and add a redundant layer of complexity to your code.

Remember, OAuth is ideally suited to stateless APIs, especially ones that you want to allow third-party clients to have access to your users' data o

[2018-03-25 19:13] Sephster commented on #879
Yeah, @simonhamp is right. You should have a user login that is not relying on OAuth 2. OAuth 2 is for protecting your API, not the login to your application itself.

[2018-03-27 03:29] mrgrain commented on #740
@louisfisch Check if your regexp returns an error. We run into the same (?) / a similar issue. For us it was caused by PHP's most stupid ever "feature", the implementation of PCRE JIT. See this bug for [reference](https://bugs.php.net/bug.php?id=70110).

Essentially with PHP 7, one cannot guarantee the behaviour of a preg_match anymore.

[2018-03-27 11:25] simonhamp commented on #740
Thanks for sharing the extra detail @mrgrain. Also see comments on https://github.com/php/php-src/pull/2910.

@louisfisch can you confirm the `preg_last_error()` code you're seeing when using the `RSA_KEY_PATTERN` constant? Is it a `PREG_JIT_STACKLIMIT_ERROR`?

Does anyone fancy recompiling their PHP to see if the stack limit size change fixes this issue?

[2018-03-27 12:33] louisfisch commented on #740
@simonhamp I confirm the `preg_last_error()` returns the value `6` which I think is the value of the `PREG_JIT_STACKLIMIT_ERROR` constant.

@mrgrain, agree. I also run into bad experiences with `preg_match()`

[2018-03-27 12:56] simonhamp commented on #740
@louisfisch thanks for confirming that

[2018-04-02 19:36] Sephster commented on #879
@nealoke I'm going to close this issue as there hasn't been any activity in over a week. If you still have questions please feel free to comment and we will reopen it for further discussion

[2018-04-02 19:36] #879 closed

[2018-04-02 19:38] Sephster commented on #838
As an aside @tominek - we are currently looking at alternative methods to surface Scope IDs so we don't rely on `jsonSerialize` as it is too easy to make mistakes with implementation. @samiboukadida, because this issue has sat idle for a few months, I'm going to close it, but if you do have further information, please get back in touch and we can look at this further. Many thanks

[2018-04-02 19:38] #838 closed

[2018-04-02 19:42] Sephster commented on #812
Closing this issue as @SunMar has produced a fix which will be added to the next release

[2018-04-02 19:42] #812 closed

[2018-04-02 20:03] Sephster commented on #780
Hi @bartfeenstra - sorry it has taken so long for us to get back to you. You have likely came across the answer to your question by now but in case you haven't, documentation for this change was added [here](https://oauth2.thephpleague.com/v5-security-improvements/).

I think in your case the issue can be ignored but if you are still on the 5.1x branch I would recommend setting the encryption key

[2018-04-02 20:03] #780 closed

[2018-04-02 21:41] Sephster commented on #743
Hi @jilvin - sorry for the delayed response. I've tested this and I don't believe the system is providing the same access token every time. When requesting an access token I received the following results:

[code]
and:

[code]
The access token is a JWT which is split into three sections, separated by full stops (or periods). The sections are:

* Header
* Payload
* Signature

The header will typica

[2018-04-02 21:41] #743 closed

[2018-04-03 06:50] jilvin commented on #743
@Sephster Thanks for taking time to resolve this. It was a mistake on my part as I checked the header section alone.

[2018-04-03 08:08] Sephster commented on #743
No problem. I suspected that might be the case. Thanks for your patience.

[2018-04-03 11:36] Sephster commented on #746
@wysisoft did this answer your question or do you still have concerns?

[2018-04-03 11:49] Sephster commented on #715
Hi @Danack - Apologies for the delayed response. This looks like a bug to me as you are correct in that we are likely double entering scopes. This shouldn't created duplicates against the access token though as these are indexed on the scope ID:

https://github.com/thephpleague/oauth2-server/blob/9fc288ce53bbd198ceb7be604ca00dc3910a7d82/src/Entities/Traits/TokenEntityTrait.php#L42-L45

The easiest

[2018-04-03 11:51] Sephster commented on #707
Thanks for answering this @dimvic. I trust that answers your question @lotarbo but if you do have further questions, please don't hesitate to get back in touch and I will reopen this issue.

[2018-04-03 11:51] #707 closed

[2018-04-03 12:07] wysisoft commented on #746
i'll test it in the coming weeks and let you know, I think it will work

[2018-04-03 12:07] #746 closed

[2018-04-03 16:26] coloradotex opened #880 "Cannot decrypt the refresh token"
We have developed a smart home skill for Amazon Alexa and use the phpleague oauth2 server for authentication. We are running the Amazon Smart Home API V3.   A third party consultant implemented the phpleague oauth server for us, but unfortunately, they’re no longer available to us.  But, the skill works quite well and we have multiple beta users testing it.  However, every few days - no pattern th

[2018-04-03 20:52] Sephster commented on #880
Hi @coloradotex. How have you implemented your encrypt and decrypt functions? Are you using the provided _CryptTrait_ or have you implemented your own encryption mechanism?

[2018-04-03 21:59] coloradotex commented on #880
Thanks for the response, Sephster.  As far as I know, we did not implement our own encrypt / decrypt functions.   I'll try to check that, but if there is a different encrypt/decrypt function involved, it was developed by a third party that we hired as consultants to do the oauth server implementation.  This third party has become unresponsive to us, so we're trying to delve into this and figure it

[2018-04-04 10:24] starx opened #881 "Why isn't auth code grant validate the client secret?"
Hi,

I was wondering why client secret is not used to verify the client?

And this part is actually part of the core grant class, not the example implementation.

https://github.com/thephpleague/oauth2-server/blob/9fc288ce53bbd198ceb7be604ca00dc3910a7d82/src/Grant/AuthCodeGrant.php#L247

[2018-04-04 14:58] danisetg opened #882 "oauth_client <-> user relation"
Hi, I am building two projects, a frontend using angular and a backend using laravel. In the laravel backend, I'm implementing Passport for the oauth2 authentication. Then, checking out the tables made by the migrations I saw that an oauth_client can be asociated to only one user.
![image](https://user-images.githubusercontent.com/22918525/38315592-138f63ea-3829-11e8-924c-4684a42b82b1.png) So, the

[2018-04-04 20:48] coloradotex commented on #880
Good afternoon, Andrew, and thanks so much for the reply.  A quick
question – will this reply get posted on the public forum ?  Is there
any way we can take this offline so we can figure out a way for you to
see the codebase?

And, we're pretty confident we're just using the default CryptTrait.

Thanks.

Terry

Quoting Andrew Millington <notifications@github.com>:

[2018-04-04 22:54] coloradotex commented on #880
Obviously, replying to the email posted to the forum.  Is there some way we can go offline so I can give you access to the codebase?

thanks so much.

[2018-04-05 11:52] Sephster commented on #880
Hi Terry. Sure, you have twitter you can DM me there (at sephster) or you can email me (andrew at noexceptions dot io)

[2018-04-06 11:33] Sephster commented on #881
The auth code grant is typically used by third party clients and web apps such as SPA's that cannot usually keep confidential information secret. Because of this, the server does not expect the client to transfer their client secret if they are using the auth code grant, and does not expect the client to be trusted, so will not validate their client credentials.

Instead, we do a basic check ensur

[2018-04-06 11:33] #881 closed

[2018-04-06 11:45] Sephster commented on #442
Hi @nicolassing - I haven't yet but @alexbilbie had started on something so I'd planned on using that as a start at some point. I can't say when though as my timing predictions are usually wrong :)

[2018-04-06 22:58] hgs81 opened #883 "laravel/passport@4.0.x responds with "Object of class DateTime could not be converted to string""
Using laravel passport Password Grant, the following code line fails and responds to client with this string: "Object of class DateTime could not be converted to string".
https://github.com/thephpleague/oauth2-server/blob/9fc288ce53bbd198ceb7be604ca00dc3910a7d82/src/Grant/AbstractGrant.php#L372
My request was POST http://localhost/oauth/token with proper required parameters.
Please let me know how

[2018-04-09 09:36] simonhamp commented on #882
@danisetg This is definitely a Passport query, but I've been using Passport extensively and I can say with confidence that this in no way limits the users that can register via that client and you **do not need to create a client for each user**.

It is simply used as a way to determine which user 'owns' the client application from your side so that you can easily present details to that user abou

[2018-04-10 10:41] tpaksu opened #884 "Package localization"
Hello,

I found out a way to translate this package's response strings in `laravel/passport` package, but there's something I can't figure out and I need your thoughts about it.

The exception response body that oauth2-server provides contains:

[code]

which the `error` parameter I can use as key for translating the string into another languages. But, this package has dynamic messages using same

[2018-04-10 11:01] tpaksu commented on #884
Will also fix #747.

[2018-04-10 11:56] leroy0211 opened #885 "Ability to extend the JWT token with information"
Right now the JWT token has one custom claim called `scopes`. But it would be a nice feature to add some more claims to the JWT when required.
Like a username, email, user-group, etc.

[2018-04-10 12:02] leroy0211 opened #886 "Adding support for Client scopes"
It would be nice to also limit Clients to specific scopes. I'm not sure if it's part of the Oauth2 Spec though.

For example you might have 3 scopes `read`, `write` and `delete`.

In most cases, every client may request the `read` scope. But not all clients may request the `write` or `delete` scopes. Especially when using the client credentials grant.

[2018-04-10 12:09] Sephster commented on #884
I think this implementation could be simplified. Ideally what I'd like to see in the package is a language file  which will hold all of the various error messages and refactor the library to read from this language file instead of have the strings hard coded.

By doing this, we can then just specify the language we want to use and have the code retrieve the appropriate message so we don't need to

[2018-04-10 12:13] Sephster commented on #885
Agreed. Adding as an improvement

[2018-04-10 14:04] simonhamp commented on #886
@leroy0211 This is left up to your implementation. The logic for achieving this shouldn't be too complicated, but it is very dependent on your specific circumstances as it won't be needed/wanted in all implementations.

Having said that, if you do come up with an implementation that you feel is quite generic and can be integrated without adding any extra setup on behalf of other implementors, if y

[2018-04-10 14:04] #886 closed

[2018-04-10 14:25] tpaksu commented on #884
Hi @Sephster ,

**TL;DR** oauth2-server package doesn't give the user the ability to customize the messages, still it would be hardcoded localized strings for the user. but packages with laravel service providers have this option. By adding this to oauth2-server package, we would destroy this package's portability.

---

When thinking in the Laravel scope, the user would do something like this (if

[2018-04-10 14:49] tpaksu commented on #884
Until I realized that some messages are dynamically generated, this was my implementation:

in `laravel/passport` package I've added a new method to `src/Http/Controllers/HandlesOAuthErrors.php`:

[code]

which modifies this part:

[code]

and it gets the translations from `resources/translations/en/messages.php` which can be published into `app/resources/lang/vendor/passport/en/messages.php` in t

[2018-04-10 21:53] Sephster commented on #886
The finalizeScope method is probably best used for this purpose. It will modify the requested scopes by the client so would be perfect for this. As @simonhamp  says, this is an implementation detail so would be unlikely to be included in the core library

[2018-04-12 18:09] simonhamp commented on #885
If/when this is available, implementors should be extra cautious about what they store in the JWT - **especially if it's not encrypted** - but even if it is, maybe things like email address aren't the best things to be putting inside a token. Use OpenID Connect instead.

Also, consider the extra weight that adding new claims will give to your headers - in some cases, larger JWTs could cause unexpe

[2018-04-13 12:10] Sephster commented on #883
@hgs81 I'm closing this as I haven't heard back from you. This issue is probably better dealt with in Passport as it is dealing with a Passport implementation and I see you have [opened an issue](https://github.com/laravel/passport/issues/688) in that repository as well.

At first glance I suspect this is something to do with the conversion of the expiryDate from a DateTime object to a string but

[2018-04-13 12:10] #883 closed

[2018-04-13 14:27] hgs81 commented on #883
Thanks, @Sephster.
I also don't think this is not an issue about this repository.
But I cannot find implementation of persistNewAccessToken() method in laravel/passport.
Also I tested with raw php when this error occurs.
This code raised same error:
[code]
$accessToken var dump contains DateTime type variable 'expiryDate'.
Perhaps is this version problem? I want to know if old version of AccessTok

[2018-04-13 14:40] ricky2k7 opened #888 "Count Number of Failed Login Attempts"
Hi,

I'm using Laravel Passport (that is built on top of oauth2-server) to manage API authentications.
I would like to create a login attempt mechanism to lock a user after a predefined number os times. How can i accomplish this with oauth2-server? Are there any events triggered when a user login fails? How can i accomplish such task?

Cheers.

[2018-04-13 20:35] Sephster commented on #888
Hey. You are probably wanting to use the event emitters. Details about them can be found [here](https://oauth2.thephpleague.com/authorization-server/events/). Hope that helps!

[2018-04-13 20:35] #888 closed

[2018-04-17 08:16] starx commented on #881
@Sephster Makes sense. Thanks

[2018-04-17 11:31] simonhamp commented on #667
Hi @gitomato, apologies for the very late reply to this issue.

I understand where you were coming from, but we're trying to follow the spec as closely as possible, so unfortunately there's no scope for a separate kind of error in this scenario. [According to the spec](https://tools.ietf.org/html/rfc6749#section-5.2), any problems with the client identification should be bundled under `invalid_cli

[2018-04-17 11:31] #667 closed

[2018-04-17 15:05] boyd91 opened #889 "Password grant for SPA's"
The documentation advises to use the password grant type for first party frontend apps such as single page applications. ([link](http://oauth2.thephpleague.com/authorization-server/which-grant/))

This confuses me because the password grant requires the client to store the `client_secret`. Considering your first party SPA has no backend component I wouldn't know how to securely store that secret.

[2018-04-17 16:00] mtangoo commented on #889
Password grant does not require client secret
https://tools.ietf.org/html/rfc6749#section-1.3.3

[2018-04-17 17:24] boyd91 commented on #889
The Password grant referred to in the docs does require to pass the `client_secret`. See http://oauth2.thephpleague.com/authorization-server/resource-owner-password-credentials-grant/

[2018-04-17 17:39] mtangoo commented on #889
https://tools.ietf.org/html/rfc6749#section-4.3.2

Client/Secret should be sent if the client is capable of keeping secret.

Did you omit the id and secret and it didn't work? AFAIK it should work fine

[2018-04-17 17:42] bitgandtter commented on #889
@boyd91 has a point, the current implementation requires client_secret as part of password grant. Not sure if this is completely under the specs or we are missing something

[2018-04-17 17:47] boyd91 commented on #889
The password grant in this implementation indeed requires the `client_secret` to be passed. https://github.com/thephpleague/oauth2-server/blob/master/src/Grant/PasswordGrant.php#L51

[2018-04-17 17:54] mtangoo commented on #889
I cannot currently verify that myself but I would expect that line since some cases require client/secret.

The question am asking is,  is this ennforced?  If it is then it should be logged as a bug

[2018-04-17 17:56] bitgandtter commented on #889
At leas on my side its enforced, i workaround using implicit grant for my SPA but as far as password grant client_secret its mandatory

[2018-04-17 17:57] mtangoo commented on #889
By the way most of the "engine and tires" of this library require your own implementation. I guess the same is the case with password grant

[2018-04-17 17:58] boyd91 commented on #889
By reading the contents of `validateClient` it certainly seems like it's unconditionally enforced. https://github.com/thephpleague/oauth2-server/blob/master/src/Grant/AbstractGrant.php#L172

[2018-04-17 18:02] mtangoo commented on #889
https://github.com/thephpleague/oauth2-server/blob/master/src/Repositories/ClientRepositoryInterface.php

[2018-04-17 22:13] alex-filat commented on #889
It is wrong to use Password Grant for SPA. The only right solution (if you really need oauth 2.0 authorisation) is Implicit Grant flow. Otherwise you misunderstand at the basic level the purpose of oauth 2.0.

[2018-04-18 06:07] mtangoo commented on #889
Actually the level of trust password grant requires should warn anyone against using it anywhere. I would not recommend it even for mobile apps (Native or otherwise)

That being said, the question about enforcement of secret for the grant if indeed it does require it all the times should be addressed

[2018-04-18 09:33] simonhamp commented on #889
As @alex-filat said, your SPA (if it is calling your OAuth service directly from the front-end) should be using an Implicit Grant.

There are plenty of valid reasons to use the Password grant, but you will definitely need to send Client ID & Client Secret, so it's impractical to use this for an SPA without some kind of back-end proxy to store your secrets and make requests on behalf of the app.

[2018-04-18 09:39] boyd91 commented on #889
@simonhamp Thanks for your clarification.

In this case I would suggest the doc needs an update. It now states

http://oauth2.thephpleague.com/authorization-server/which-grant/

But since the `client_secret` is always required, the password grant can never be a viable option for a frontend only SPA (regardless wether it is first or third party) because such clients can never really keep the `clien

[2018-04-18 09:49] simonhamp commented on #889
Thanks @boyd. So I've reopened this for the issue around documentation.

[2018-04-18 09:57] mtangoo commented on #889
@simonhamp

Is this according to RFC or an opinion of this specific library? [As per RFC](https://tools.ietf.org/html/rfc6749#section-4.3.2) only grant_type, username and password are required. Scope is optional and there is no mention of client id nor of password. Since The library tries as much as it can to stick to standard, I would expect at least the client ID/Secret to be optional.

[2018-04-18 10:30] Sephster commented on #889
It needs further investigation. If the client is confidential or has been issued auth credentials, it must authenticate with the OAuth2 server.

The package first checks for Basic HTTP auth and if not present, will look for the client ID and password to try and authenticate the client.

The implicit grant should probably be the go-to grant for SPAs so we will update the docs to reflect this in due

[2018-04-18 10:31] Sephster commented on #889
Oops, I didn't mean to close this. Clicked the wrong button sorry :)

[2018-04-18 10:37] simonhamp commented on #889
@mtangoo relevant part is in the docs for the section you're referencing:

Following this through the spec leads us to [Section 2.3](https://tools.ietf.org/html/rfc6749#section-2.3), which indicates that `client_id` and `client_secret` are required.

But it's not a requirement of this library, it's an implementation detail. As you said, "engine and tires" :) It all comes down to how you implement

[2018-04-18 11:56] aluciffer opened #890 "AuthCodeGrant $this->encrypt failure"
Hello.

I have a weird behavior, where this->encrypt has a different output in AuthCodeGrant [around line 365](https://github.com/thephpleague/oauth2-server/blob/2375b8c7f3bd757bfa9a9f8d5a13e51d9fc460c4/src/Grant/AuthCodeGrant.php#L358).
These following two different calls output different encrypted strings, which in turn, in my installation lead to a failure to correctly decrypt the autorization

[2018-04-18 12:16] Sephster commented on #889
Documentation has been updated to not advocate the _password grant_ for SPAs. At the moment it states that you should use the implicit grant but I believe current best practices are actually to use an Auth Code grant without passing the client secret. This can't be achieved with the library at present so I've left it recommending the _implicit grant_ for now. Will need to do some more investigatio

[2018-04-18 17:58] mtangoo commented on #889
@simonhamp thanks for clarification.

I was under impression that the library as quoted by OP forces that and hence bypassing `ClientRepositoryInterface`.  Thanks for clarifying.

I love how this library gives us power, to even shoot our own legs, especially the "engine and the tires";)

[2018-04-18 18:00] mtangoo commented on #889
@Sephster @simonhamp and the team, your work in this library is highly appreciated. Its such a Wondeful library!

[2018-04-20 13:27] galab-devision-bg opened #891 "generateHttpResponse cannot write to response stream"
Hello guys, I have an issue using the library, I have configured it and have implemented all necessary checks. I am using the yii2 framework. When I get to the method **generateHttpResponse** in **BearerTokenResponse.php** and I var_dump($responseParams);die; I get all the data I need. but after this line:

`$response->getBody()->write(json_encode($responseParams));`

I get empty stream in the res

[2018-04-20 15:10] Sephster commented on #891
`$response->getBody()` returns an instance of the StreamInterface. I would check this to see if it is seekable and writable using the following calls:

[code]

That would be my first port of call to ensure there is nothing funky going on with the stream. Good luck and please let us know how you get on

[2018-04-20 15:12] Sephster commented on #880
Closing this issue as I believe Terry and his team resolved this by not revoking refresh tokens immediately. @coloradotex if you still require assistance please let us know and we will be happy to re-open this ticket.

[2018-04-20 15:12] #880 closed

[2018-04-20 17:13] Sephster commented on #837
I've had a big think about this and I actually think the initial functionality was correct. Although the error messages at first appear confusing, they are actually valid and appropriate given the circumstances.

Unlike the request for an access token, we don't specify the grant type when requesting auth tokens. The two grants that can validate authorization requests are the _implicit_ grant and t

[2018-04-20 17:13] #837 closed

[2018-04-20 17:51] Sephster commented on #890
I know this is likely an obvious question but bear with me so we can rule out everything.

* Have you var dumped the `$payload` in both instances?
* Have you confirmed that the key being used for encryption (usually set in the `setEncryptionKey` function in the Crypt Trait) is identical for both calls?

[2018-04-22 13:53] mtangoo opened #894 "Dedicated Private/Public Keys per client"
Am sharpening my Oauth2 design skills and have faced a little problem. I have been using same priv/Pub keys set for all clients and now I want to separate them, each to use its own.

Now I find current design is so hard to accomplish that (May be because I miss something). I have one place that I create server instance and store it in the DI container and pull that instance everywhere else.  I can

[2018-04-22 14:28] Sephster commented on #894
The library hasn't really been designed to use multiple encryption keys. In general, it is very unlikely that your keys will ever be compromised because, as long as you are following modern practices, it is nigh on impossible to break them.

We are taking the stance that if you keep your key secure, you shouldn't have a need for multiple keys. Realistically the only way that your keys could become

[2018-04-22 14:49] christiaangoossens opened #895 "OAuth2 Spec interpretation: finalizeScopes()"
The OAuth2 spec (https://tools.ietf.org/html/rfc6749#section-6) states:
[code]

This library however interprets that to say: 'the scopes that were originally in the access token', but the spec only says: 'scopes granted by the resource owner'. Therefore, if I show the resource owner a prompt to approve for instance the `test` and `demo` scopes, and they are approved, but I remove `demo` in the fin

[2018-04-22 14:51] christiaangoossens commented on #885
+1, I implemented this now (for adding a group ID to the token) by extending all the grants, which isn't the nicest for maintainability.

[2018-04-22 15:26] mtangoo commented on #894
I see you have a point. Since I can't fault your arguments, I'll close this one.

Thanks for clearing out my double

[2018-04-22 15:26] #894 closed

[2018-04-23 06:38] galab-devision-bg commented on #891
@Sephster Sorry for the delayed answer I was not able to test that earilier. Both isSeekable and isWritable return true.

[2018-04-23 08:00] simonhamp commented on #895
Interesting use-case... It may be that this highlights a loose adherence to the spec in this area, and this is likely something we’ll address if we/you can.

However, I’m keen to learn more about why scopes are being used in this way in your case because it feels like this could be handled differently/more appropriately using other methods.

Personally as a client hoping for a token with the corre

[2018-04-23 08:06] simonhamp commented on #891
@galab-devision-bg can you isolate the `json_encode($responseParameters)` part to see what the output of that is please?

[2018-04-23 08:14] galab-devision-bg commented on #891
@simonhamp Yes :) It returns the correctly generated data.

`"{"token_type":"Bearer","expires_in":2592000,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImM3MTYxYmFiYTVlODczMjYxNTVkNmI3ODg3MWNmN2I3NDI1YmY3ZTVlMTYzYTgyOWIzZTAzMDQ2YWU4MzE1YTI4YTNkZTNjMDU2NGQyOTRjIn0.eyJhdWQiOiIxIiwianRpIjoiYzcxNjFiYWJhNWU4NzMyNjE1NWQ2Yjc4ODcxY2Y3Yjc0MjViZjdlNWUxNjNhODI5YjNlMDMwNDZhZTgzMTVhMjhhM2RlM2MwNT

[2018-04-23 08:35] aluciffer commented on #890
Hi Sephster, no worries, i will bear with anything, because i've spent days on this topic and i'm completely puzzled.
I keep obtaining the two different outputs running literally the code above, how can $payload be different?, if i dump it out, where exactly should i dump it to see if it's different?
If i have the two lines one below the other in the code, how can the result be different?

To foll

[2018-04-23 09:05] aluciffer commented on #890
In the client, i have the following code, which surprizingly, gets a successful bearer_token when i uncomment and submit manually the form :
[code]

I fail to understand, can you please help if there is a problem in the encryption here or is is something else?

[2018-04-23 09:09] christiaangoossens commented on #895
Yes, that would be the nicest, but that would require checking permissions at the data endpoint (because data might be available for one group, but not for another at the same time, so you can't just disable the endpoint). I would like to keep the authorization and data servers seperated.

For my usecase, no. Tokens are relatively short lived, and the data update blockage can last for a week, so t

[2018-04-23 09:11] christiaangoossens commented on #895
I would agree that the spec doesn't specify this usecase, but as I'm using authorization code flow (with external authentication in there through SAML) in my first-party apps, it would be bad to keep asking people to login again if the scopes are not sufficient. With this system I could request all `app.*` permissions and approve them beforehand (as you would with first-party apps).

Then, the API

[2018-04-23 09:26] aluciffer commented on #890
Ok, about the var_dump, i've done it in crypttrait->encrypt and yes it shows the same output.
**completeAuthorizationRequest**:
[code]
**CryptTrait->encrypt:**
[code]
outputs:
[code]

and the last two entries in **AuthCodeGrantDebug.txt**:
09:17:49:http://client:8091/callback?code=def502007da70049d112d07ab8261860f759dc429079b9fd156d578a1aca8c1877ded127e92914d211f7a5a6269be07cfd4b476960851e102779a3

[2018-04-23 09:49] aluciffer commented on #890
Ok, so then sorry for the flooding, i now think that it's normal that the output is different, the crypto->encrypt outputs a different string at every call .
But then what is going on, why does the guzzlehttp call fail ?

[2018-04-23 10:36] mtangoo commented on #885
@simonhamp
Your concern is genuine, but I think it goes against spirit of this library of allowing flexibility in terms of "engine and tires". A word of warning will suffice for those who want to extends it and if someone extends it without knowing what they are doing, let them shoot their feet!

I suggest some sort of freedom we have in other things get extended there too!

[2018-04-23 10:41] simonhamp commented on #890
@aluciffer can you share the request parameters you're setting and the response you get when running it through Guzzle?

[2018-04-23 10:46] simonhamp commented on #890
So it looks like you're expecting JSON back from Passport without explicitly telling it to respond with JSON. Try this:

[code]

[2018-04-23 11:05] simonhamp commented on #895
I have to say this all feels like it's happening in the wrong place... maybe it works for your use-case at the moment, but I wouldn't be surprised if you face quirkier problems down the line.

I would definitely recommend moving things around. For example, if you know that certain parts of the data may not be available for certain groups/teams of users for a specific amount of time, give different

[2018-04-23 11:16] aluciffer commented on #890
@simonhap Thanks, but no, that didn't help.
Actually i now find @Sephster 's suggestion that the encryption key is different than the decryption key.

[2018-04-23 12:00] simonhamp commented on #885
@mtangoo I appreciate your point, but I have to disagree. I don't feel that what you suggest is the correct approach. Letting others 'shoot their feet' is one of the factors involved in why there are leaks of billions of people's personal details... we need to help each other improve security and an opinionated stance on the part of widely-used, standards-compliant libraries such as this can make

[2018-04-23 12:30] mtangoo commented on #885
Thanks for genuine concerns. My point was, that putting ability to extend as completely optional and add even a warning that only people who know what they are doing should even venture there. If someone still feels brave to transgress that, then let them shoot their feets for sure.

Am not against helping people to be compliant. But I really get worried when that ends up crippling flexibility.

C

[2018-04-23 13:26] simonhamp commented on #891
I understand, but I can't see the problem being in the `generateHttpResponse()` method.

In `generateHttpResponse()`, please add a `var_dump` before the `return`:

[code]

Please let us know what the var_dump result is here.

[2018-04-23 13:28] galab-devision-bg commented on #891
The result of it is in the first post that is the GuzzleHttp\Psr7\Response object.

[2018-04-23 13:30] simonhamp commented on #891
So can you change that to `var_dump($response->getBody()->getContents());` and let us know what you see?

[2018-04-23 15:47] christiaangoossens commented on #895
Sadly, I don't see how this would solve anything. Do you mean giving groups different permissions ahead of time? What if it changes?

How is this last idea different from storing all approved scopes in the refresh token directly, and removing the ones that are not being granted? Do you have a solid reasoning against using the refresh token as 'internal storage', especially in a stateless environme

[2018-04-23 16:59] simonhamp commented on #895
You _can_ do that and I'm not saying that _you_ shouldn't.... I'm saying that _OAuth2 Server_ shouldn't - at least not yet.

The most solid reason for this is because I believe the majority of folks use scopes in the way they were intended (this is the first mention I've seen of scopes being used in this way): If you can request them and the resource owner granted them, then it's generally assumed

[2018-04-23 17:37] christiaangoossens commented on #895
I think most people are indeed still using OAuth2 for third party only, and using their own more dynamic permissions system for their own apps, and thus will never need this behaviour.

However, if you want to integrate your permissions system fully with these tokens, one would expect to be able to add and remove scopes/permissions dynamically, and currently this library doesn't add originally gra

[2018-04-23 18:39] simonhamp commented on #895
I don’t feel that creating a new grant type is too onerous or insecure for your specific approach. You may find some methods could be reused and encapsulated differently. Best way is to build something out! :) Feel free to prepare a PR for review. Your input is always appreciated.

And thanks for this discussion too! It’s great to see different use-cases and nice to discuss things passionate-but-r

[2018-04-23 20:27] christiaangoossens commented on #895
I could try to prepare a PR soon with some stuff moved around into new methods (such as in the example above), so that the core business logic (such as creating the actual tokens, or finalizing scopes) may be more easily extended, while keeping the profits of recieving the updates on those checks. I will try to make it non-breaking, so that it can be included as soon as possible.

Things like #885

[2018-04-24 05:24] galab-devision-bg commented on #891
It returns null

[2018-04-24 16:05] coloradotex commented on #880
I wanted to respond back to this.  Right now, we do believe the issue has been resolved, as Sephster mentioned above, by not revoking refresh tokens immediately, as reported in issue 735.  We're still reserving judgement, wanting to let our testing run its course, but it very much looks like it is resolved.  I do want to take this opportunity to thank Sephster so much for his assistance and attent

[2018-04-25 12:10] simonhamp commented on #895
I look forward to seeing what you come up with.

[2018-04-26 11:49] Sephster commented on #895
Personally I don't feel this functionality should be implemented in the server. It feels very much like a use case that would only apply to a select few. I would advocate just providing some customisation that can use this library but is not included in this library.

Scopes aren't generally used in this manner. It is assumed that once you have issued an access token with it's associated scopes, t

[2018-04-26 11:50] Sephster commented on #880
Thanks for responding and providing an update @coloradotex - much appreciated and glad you've resolved your problem.

[2018-04-26 12:03] Sephster commented on #891
Hmmm, this is really strange. Can you try the following?

[code]

That's a lot of var dumping but it should give a better idea of what is happening. If this doesn't turn up anything, I think we'd need to see the full codebase to progress this

[2018-04-26 12:46] christiaangoossens commented on #895
As said above, any PR that will follow out of this will NOT implement any functionality described above. It will only make creating extensions of grant easier.

[2018-04-26 12:47] christiaangoossens commented on #895
Furthermore, any advice/tips on how this should be implemented (as apparently nobody uses scopes for permissions in first party apps) is welcome from more experienced implementers of the standard.

[2018-04-26 13:42] gingabeard opened #896 "ORM mapping for vendor-supplied traits"
Hi guys

Not really specific to this project, but I hope you don't mind me asking here?

I wondered if anyone had a workaround for writing Doctrine mappings for the (very useful, thanks!) traits used on this project?

My org uses annotations so I don't want to move the whole project to Yaml mappings if I can avoid it. Neither do I want to scrawl all over your files (and thus break composer updates

[2018-04-26 15:32] lookyman commented on #896
Personally, I don't use the traits at all (with the exception of `AccessTokenTrait`), and just implement the interfaces. It's all just getters and setters anyway, not difficult to implement yourself.

[2018-04-26 16:36] Sephster commented on #896
I'm afraid I can't help with regards to Doctrine as I don't use it myself. However I think the advice given by @lookyman is pretty spot on. I just wouldn't use the traits if they are causing you problems and implement the interfaces instead.

The traits aren't required to use the library, they are just handy implementations that you can use if applicable to your use case or for reference for your

[2018-04-26 20:32] Sephster commented on #895
Thanks for the clarification @christiaangoossens. As an alternative, and probably simpler solution, why can't you just grant the scopes that are potentially going to be disabled, regardless of their current state?

By doing this, you can use the API responses to actually dictate if the resource is currently accessible. You don't need to mess around with the scopes against the token, the server wou

[2018-04-26 20:51] Sephster commented on #890
Hey @aluciffer - have you resolved your issue or do you still require assistance? Many thanks

[2018-04-26 21:05] Sephster commented on #883
The latest versions of both libraries should be stable. For OAuth 2 Server it is version 7.1.0 and for Passport it is version 6.0.0

[2018-04-27 06:44] aluciffer commented on #890
@Sephster no, i have not, i am not sure anymore that this is a real issue with oauth2-server or laravel, perhaps a misconfiguration, but no, i  did not find any solution. The access code is being encrypted with a different key than when it's being decrypted in the exchange for the access token. do you have any ideas?

[2018-04-27 09:48] gingabeard commented on #896
Yea that makes sense - traits more of a clue than a final implementation, thanks guys.

I'll just override the props for now to keep Doctrine happy (new to me too, but really easy to use once I had an example to copy,) and ditch the rest of the traits when/if we veer away from them.

Cheers

[2018-04-27 09:48] #896 closed

[2018-04-27 10:04] gingabeard commented on #808
@pilotcurler I know this has been a while, but for others' benefit who Google their way here..

Symfony 3+ DI  wants the services type-hinted in the controller endpoints and entity constructors.

My bundle services.yml looks a bit like this:

    League\OAuth2\Server\AuthorizationServer:
        class:       League\OAuth2\Server\AuthorizationServer
        arguments:
            - '@MyAuthBundle\R

[2018-04-27 11:00] christiaangoossens commented on #895
Thanks for the advice @Sephster. The main advantages of my current method over yours seem to be the following:

- The (OAuth) authorization server can handle complex group rights and management of when endpoints are available for exactly which users. Thus the decoupled benefits of the system are preserved.
- Endpoint servers (which may also be other microservices) never need to be aware of permiss

[2018-04-27 11:04] lookyman commented on #896
You could find some inspiration [here](https://github.com/lookyman/nette-oauth2-server-doctrine). [AccessTokenEntity](https://github.com/lookyman/nette-oauth2-server-doctrine/blob/master/src/AccessToken/AccessTokenEntity.php), for example.

[2018-04-27 11:12] christiaangoossens commented on #895
Btw just thought of a solution myself, that would also fix the biggest downside of my method (lifetime of tokens should be very short, otherwise endpoints are also available during the rest of the token lifetime), but has a drawback itself as well:

I could create a seperate idenity management service (or extend the current one) and store the access rights for different groups on endpoints there.

[2018-04-27 11:47] Sephster commented on #808
Thanks for providing this @gingabeard

[2018-04-27 11:49] christiaangoossens commented on #895
It may be important that I have a lot of very complex group to permission to endpoint relationships, so I require a lot of flexibility in permission granting.

I had thought of a solution to do it your way, with having a seperate server where every endpoint would be able to check if the user has the permission right now, but this would introduce a single point of failure for all endpoints, and I w

[2018-04-27 11:50] Sephster commented on #890
Are you sure it is using two different keys? It shouldn't be so if this is the case, you just need to resolve this problem.

I'm afraid I don't have any other immediate ideas. If you have a public repository of the implementation I could take a look but other than that, I'm out of ideas.

$this->encrypty() should return the same value every time given the same payload and key. If you are getting d

[2018-04-27 12:07] dfriedmann commented on #890
In my AuthCodeGrant.php,
these two calls cause different outputs:

`
 $params =[
                    'code'  => $this->encrypt(
                        json_encode(
                            $payload
                        )
                    ),
                    'state' => $authorizationRequest->getState(),
                ];

        $fp = fopen('AuthCodeGrantDebug.txt', 'a');
        fwr

[2018-04-27 12:08] aluciffer commented on #890
In my AuthCodeGrant.php,
these two calls cause different outputs:

`
$params =[
'code' => $this->encrypt(
json_encode(
$payload
)
),
'state' => $authorizationRequest->getState(),
];

    $fp = fopen('AuthCodeGrantDebug.txt', 'a');
    fwrite($fp, date('H:i:s').':' .$this->makeRedirectUri(
            $finalRedirectUri,
            $params
        ) . PHP_EOL .
        $this->makeRedirectUri(

[2018-04-27 14:56] gingabeard commented on #896
Handy, thank you. Implementing that scope finalizer was giving me a headache, so it was nice to lift yours :)

[2018-04-30 11:56] Sephster commented on #890
You would have to update the key between calls, which to be honest, is unlikely if you aren't sure how this happens.

I'd stated earlier that if the payload and key are the same, you will always get the same output which is true. However, it occurred to me that it would be unlikely you would ever provide the same payload as the expire time is typically going to be different depending when you crea

[2018-05-02 21:10] ravanscafi commented on #745
We are suffering with this problem too.

[2018-05-03 07:14] benito103e commented on #745
@ravanscafi for my part, I removed manually this unexcpected header on my authorization controller :

[code]

[2018-05-06 12:15] jpmelnik opened #898 "Wordpress Support"
Do you have an example with Wordpress REST Api?

Thanks

[2018-05-06 12:28] Sephster commented on #898
I'm not aware of a WordPress integration. I was searching for one the other week but didn't find any that use this library. Hopefully someone from the community might know of a good example

On 6 May 2018 13:15:41 BST, jpmelnik <notifications@github.com> wrote:

[2018-05-08 16:51] isaaciss commented on #471
I had the same problem but using JWT. I've sent the Authorization Token in Request Headers but it wasn't showed when I used Symfony method $this->getRequest()->headers->get('Authorization'). I changed my apache2.conf -> Directory /var/www/ to "AllowOverride All" and now everything is fine.

[2018-05-09 11:10] Sephster commented on #891
@galab-devision-bg did you try the above? How did you get on?

[2018-05-10 15:36] filips123 commented on #442
Is there any progress? When will OpenID Connect be implemented?

[2018-05-14 12:33] caseylau opened #900 "If public key belong to incorrect user/group or it's file Permissions is 000, system won't give help tips"
https://github.com/thephpleague/oauth2-server/blob/master/src/CryptKey.php#L53
[code]
We are using drupal's module [simple_oauth](https://www.drupal.org/project/simple_oauth) which depends on this repo.
We find if public key(sites/config/certificates/ssopublic.key) belong to incorrect user/group or it's file Permissions is 000, system won't give help tips.  Above is the relevant code.

[2018-05-14 13:02] Sephster commented on #900
`trigger_error()` should be used in conjunction with an error handler which will surface the error for you. You can register an error handler using the function `set_error_handler()`.

Unfortunately, I don't know enough about Drupal to advise on how error handling is used in that application.

You'd mentioned you don't get an error when the permission is set to 000. Does this also occur when set t

[2018-05-14 13:03] Sephster commented on #898
@jpmelnik I'm going to close this issue due to a lack of activity. I'm not aware of any WP plugin but if someone is, please feel free to comment here.

[2018-05-14 13:03] #898 closed

[2018-05-14 13:04] Sephster commented on #891
@galab-devision-bg I'm closing this issue as we haven't heard from you in a while. If you would like to progress this further, please get back to us and we can reopen this. Cheers

[2018-05-14 13:04] #891 closed

[2018-05-14 13:08] caseylau commented on #900
@Sephster Very thanks for the info.
If I set it to 777, I will get the error message in every drupal page.
![image](https://user-images.githubusercontent.com/20714821/39999063-906c1d94-57ba-11e8-8e11-1a348926a42c.png)
If I set it to 000, I won't got the error.
**Wrong user/group** don't have tips too, can this be fixed in this repo?

[2018-05-14 13:29] caseylau commented on #900
I debug it just now.
[code]
When permission is 000 or wrong user/group will trigger above error, but this error don't display in drupal page, Maybe we should fix it in [simple_oauth](https://www.drupal.org/project/simple_oauth)

[2018-05-16 09:51] Sephster commented on #900
No problem @caseylau. It looks like this is an issue with _simple_oauth_ so I will close this issue. If this turns out to not be the case, please get back in touch and we can look into this further.

[2018-05-16 09:51] #900 closed

[2018-05-16 12:37] Sephster commented on #640
Closing this issue as added a note on PSR-7 to the readme requirements.

[2018-05-16 12:37] #640 closed

[2018-05-16 19:27] soundsgoodsofar commented on #798
This bit us again in production today and I just want to bump this again as extremely important in real-world scenarios.

There's an open issue on the upstream lcobucci package for this problem as well.  Seeing it addressed in either place would be great.

https://github.com/lcobucci/jwt/issues/191

[2018-05-17 12:34] #745 closed

[2018-05-18 13:17] gingabeard opened #903 "Unable to Override AuthorizationServer to use customised BearerTokenResponse"
Hey guys

I wanted to put a user_id in the token response, and line 66 of BearerTokenResponse says:
    /**
     * Add custom fields to your Bearer Token response here, then override
     * AuthorizationServer::getResponseType() to pull in your version of
     * this class rather than the default.

This doesn't work though, as AuthorizationServer->encryptionKey, which is used in
 AuthorizationServ

[2018-05-18 13:34] simonhamp commented on #885
Hence my original comment 🙂

[2018-05-18 13:36] mtangoo commented on #885
:)

[2018-05-18 14:16] simonhamp commented on #903
Hi Alex, please feel free to make a PR for this 🙂

Note that there are a number of [related issues](https://github.com/thephpleague/oauth2-server/issues/885) currently open and [some](https://github.com/thephpleague/oauth2-server/pull/851) [PRs](https://github.com/thephpleague/oauth2-server/pull/874) too.

So it may be that this change makes its way into a bigger release.

[2018-05-23 13:37] Sephster commented on #890
I'm closing this issue due to lack of activity/response. If you are still having problems and require assistance @aluciffer, please get back in touch here and we can reopen the issue for further investigation

[2018-05-23 13:37] #890 closed

[2018-05-24 13:26] Sephster commented on #603
@alexbilbie changed the library to use the _php-encryption_ library in this commit 1af4012df459cf8382b9d184af59161fbe62f192.

As such, I don't believe there is anything else that needs doing for this issue so will mark it as closed. If anyone has any objections please shout.

[2018-05-24 13:26] #603 closed

[2018-05-25 09:09] #694 closed

[2018-05-26 07:04] B-Galati commented on #675
@Sephster Small reminder. Please let me know if I am mistaken or something.

[2018-05-27 14:05] Sephster commented on #675
Hi @B-Galati - sorry for not seeing your question. I think this is still possible given the current state of the package although we don't specify how to do this ourselves.

If someone wants to restrict a client to certain scopes, you could use a scope to client ID mapping in your database and query the client ID stored in the client entity.

This would require a bit of work from your end to imple

[2018-05-27 16:08] B-Galati commented on #675
@Sephster You're right. it's clearer now.

Thank you for this great answer :-)

[2018-05-27 19:26] Sephster commented on #675
No problem. You're welcome!

[2018-05-28 05:57] nimsothea commented on #72
Hi @fahmiardi,

1. I pulled league/oauth2-server 7.1
2. I downloaded the example from this repo.

I copied the "Oauth2" classes from this issue and there seemed to be missing some packages and classes:
- League\OAuth2\Server\Util
- League\OAuth2\Server\Storage\PDO
- Oauth2\Exception\ClientException

Please see in my screenshot.
![screen shot 2018-05-28 at 1 54 16 am](https://user-images.githubuser

[2018-05-28 06:06] vivek-1874596 commented on #72
@nimsothea - Try to download using composer, It will download all required classes.

Follow steps added by @fahmiardi - https://github.com/thephpleague/oauth2-server/issues/72#issuecomment-20274701

It will definitely help you.

[2018-05-28 14:55] nimsothea commented on #72
Yep, I was using as well (composer require league/oauth2-server "^7.1")

[2018-05-29 21:29] Sephster commented on #72
@nimsothea I don't think you have downloaded version 7.1.1 or you have some customisations as some of the files you are trying to get aren't provided by this package such as `League\OAuth2\Server\Storage\PDO`

You should check your version in your composer file. Hope this helps

[2018-05-31 11:36] acodercat opened #906 "I want to separate resource services from authorization services"
I want to separate resource services from authorization services

[2018-05-31 20:47] Sephster commented on #906
The server already does this by providing an auth server class and a resource server class. Please can you state your question and I will try to help as best as possible.

[2018-06-01 01:05] acodercat commented on #906
Where is the resource class?thx

[2018-06-01 16:15] Sephster commented on #906
It is in the _src_ folder called _ResourceServer_.

[2018-06-02 06:18] acodercat commented on #906
thanks

[2018-06-03 18:18] mtangoo opened #907 "verifying Token with custom logic for handling clients validity"
Hi,
I'm facing this requirement to occasionally verify a token using a custom logic. To (over)simplify it it goes like
1. User logs in client X in his machine
2. User want to user client Y on same machine

client X and Y are from same developer so they can decrypt the same config file and get access token.
Now before client Y admits user, it must verify a token silently. In the server, I want to c

[2018-06-03 19:39] Sephster commented on #907
Sorry @mtangoo but I'm not following the example here. It is this bit which I'm struggling with:

Which token are you talking about here? The access token? I don't think a client would have the ability to verify this as this would usually be done by the resource server.

If you could provide a bit more background I will try to help as best I can.

[2018-06-03 19:39] Sephster commented on #906
Closing as I believe this is resolved.

[2018-06-03 19:39] #906 closed

[2018-06-03 19:50] mtangoo commented on #907
Hi @sephster,
Sorry for not being clear.

The flow is, app X gets access token by Auth Code for example. But app Y by same dev in same machine as X Should not require to take user thru login (given that user have previously approved X and Y for same scopes)

So Y needs only to verify access token  aqcuired by X and if valid it will continue using it.

Y will send the token somehow to Oauth server

[2018-06-03 19:52] mtangoo commented on #907
Note that X and Y are two different services accessing resources from different servers

[2018-06-04 14:55] simonhamp commented on #907
You shouldn't attempt to get the *user* to pass their token around between apps as this is really insecure and one of the main reasons for OAuth's existence in the first place.

**Ideally the user never sees their token.**

But there are potentially a few ways to tackle your problem:

### Shared Client Credentials
One approach is to set the OAuth Client ID & Secret to be the same for both X and Y.

[2018-06-04 19:34] mtangoo commented on #907
Thanks @simonhamp for great piece of advice. I think it have enough of problems to be avoided completely without much advantages. I'll think another way out that will keep Oauth intact

[2018-06-04 19:34] #907 closed

[2018-06-06 21:37] Erikvv opened #909 "AbstractGrant::issueAccessToken adds scopes twice"
https://github.com/thephpleague/oauth2-server/blob/master/src/Grant/AbstractGrant.php#L360

[code]

I gues the user code not supposed to add them in ->getNewToken()? But why give those parameters then?

This could be documented in the docblock of AccessTokenRepositoryInterface::getNewToken

[2018-06-08 17:55] loganto commented on #442
Currently PHP ecosystem has no thought through and maintained OIDC library.
To the point that I seriously have to consider using python|node for my current work task which is very sad.

[2018-06-09 16:08] Sephster commented on #909
Thanks @Erikvv - there is a bit of repetition here with the client and userIDs as well. I think this will probably need to be tidied up and released in version 8. I will try to get this actioned before the end of the weekend. I've made a start on it in the PR here

[2018-06-14 12:59] loganto opened #911 "Are there any schema examples? repositories implementation examples with mysql backend?"
Are there any schema examples? repositories implementation examples with mysql backend?

I think I get what I need to do to setup the provider, but it would really really help if I could see some examples.

[2018-06-15 12:39] Sephster commented on #911
There are no official schema examples as yet. This is something that is repeatedly asked for though so we might add this in the future. There is already an open issue for a MySQL Schema.

In the meantime, one user of the package did [provide his own schema](https://github.com/thephpleague/oauth2-server/issues/794#issuecomment-339110212) for people to reference which might be worth taking a look at

[2018-06-15 12:39] #911 closed

[2018-06-18 11:48] simonhamp commented on #911
#794 working on this soon :)

[2018-06-18 14:47] rmasclef opened #914 "Probable BC break between 4.1.3 and 4.1.6"
Hello :)

We just updated some old php 5.4 (#shame) app deps and we encountered an error upgrading v4.1.3 to v4.1.6 ^^

Here is some log that might help:

`request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalErrorException: "Compile Error: Can't use method return value in write context" at [...]/vendor/league/oauth2-server/src/ResourceServer.php line 141 {"exception":"[

[2018-06-19 15:10] loganto opened #915 "Public Key vs Encryption Key"
So I'm extremely confused about what I should use when instantiating `AuthorizationServer` object.

So the [documentation](https://oauth2.thephpleague.com/installation/) directs people to generate public and private keys and then literally says:

But then this commit removes the public key from the  `AuthorizationServer` code:
[76c2b6f88cccaa07f9eceaab42e0306dd839cacb](https://github.com/thephplea

[2018-06-22 12:35] Sephster commented on #914
It looks like the issue is here:

https://github.com/thephpleague/oauth2-server/blob/3bec591393b1cc6a3fc02c94d18262e4ffad2e4f/src/ResourceServer.php#L141

Prior to PHP 5.5, you could only put variables inside the `empty()` function so the function call is causing the error. I will raise a fix for this as version 4 of the package should support PHP 5.4.

I would strongly encourage you to upgrade to

[2018-06-23 16:48] Sephster commented on #914
@rmasclef I believe the issue is resolved now. I've release version 4.1.7 of the package with the bug fix. Please let me know how you get on. Thanks for reporting this.

[2018-06-23 16:48] #914 closed

[2018-06-24 12:56] Sephster commented on #909
Closing as now merged into the version 8 branch

[2018-06-24 12:56] #909 closed

[2018-06-24 21:16] rmasclef commented on #914
@sephter thanks a lot for your reactivity! i'll check by the end the week :)

[2018-06-25 07:29] Sephster commented on #914
Excellent. Please do let me know how you get on. Thanks

On 24 June 2018 22:16:53 BST, Romain Masclef <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-06-29 22:21] loganto commented on #911
@Sephster im a little confused by the schema that as provided by sergeyklay: http://vpaste.net/lQmK1

What's the use case would there be for these tables?
client_grants, client_scopes ?
user_grants, user_scopes?
grants & grant_scopes ?

Like i'm trying to think where would thee be useful in my app and I just cant... are those supposedly should be used for ACL?

[2018-06-30 10:13] Sephster commented on #911
Sergey would probably be best placed to answer but I am presuming the following:

* Grants are for storing which grants are active on the server
* Grant scopes are for associating scopes with given grants (perhaps he doesn't want all scopes to be applicable to all grants)

* Client Grants must be specifying which grants are permissible/enabled to particular clients
* Similarly I'm guessing there i

[2018-06-30 10:14] Sephster commented on #915
Reopening as I want to track the documentation issue so we can resolve and then close.

[2018-06-30 10:29] Sephster commented on #914
@rmasclef did the fix work as expected?

[2018-07-09 11:52] mtangoo opened #922 "Make Server Exception give more details than superficial details"
I have been fighting with an error for quiet long time on System in production. The error it give is ` Client authentication failed`. Now The problem is, this is next to useless because many things can cause client to fail. I have tried to check all I could but I could not find what is wrong with client request so I decided to log the exception.

I have found that exception is not really useful as

[2018-07-09 13:32] simonhamp commented on #922
@mtangoo I agree that it's a bit tricky to spot mistakes in your client auth code...  during development. However, there are really only [3 cases](https://github.com/thephpleague/oauth2-server/search?q=invalidClient&type=Code) where the `invalid_client` exception is thrown, so unless you're doing something extra in your implementation, there's not many paths to investigate.

Also, the main conside

[2018-07-09 13:48] mtangoo commented on #922
Am not sure how other implements it, but my implementation which is Yii based, catches that exception, logs important stuffs and presents user with a generic message. Those detail can even be bundled as an exception hint if you still care for those who don't catch exceptions (which shouldn't be the case. It is developer responsibility to catch exceptions and do something)

Another way would be emi

[2018-07-09 14:24] simonhamp commented on #922
Agreed! But there's also a balance of what's strictly **needed** to comply with [the spec here](https://tools.ietf.org/html/rfc6749#section-5.2) too.

Basically, the only required detail for the response is the actual `error` (in this case `invalid_client`) and that's what this package allows you to supply in your response when handling the exception.

If you choose to dig into this to provide the

[2018-07-09 15:19] mtangoo commented on #922
Are you implying that somewhere in my implementation I can get the `actual error`?

[2018-07-09 15:21] mtangoo commented on #922
I still believe that adding actual error will benefit developers, with a little cost (that am not sure if matters anyway as they are only invoked in case of an error). But opening a PR at least should have a guarantee that it can be discussed. If adding that is beyond what is acceptable, then opening PR becomes waste :)

[2018-07-11 07:06] rmasclef commented on #914
@Sephster sorry for the huge delay, I just upgraded the app deps and the problem seems to be fixed :+1:

[2018-07-11 16:00] Sephster commented on #914
Awesome. Glad it worked. Thanks for the update @rmasclef

[2018-07-13 09:16] christiaangoossens commented on #903
While looking at making a PR for making the addition of information to JWT's easier, I found the solution to this problem as well. Line 66 seems to be a documentation error, you should pass in the responseType (linking to your implementation of BearerTokenResponse) as the last parameter when creating the AuthorizationServer, instead of overwriting elements of that class. The documentation block sh

[2018-07-13 10:29] christiaangoossens commented on #857
I agree with @michaeldnelson that we should use the `cid` claim for the client_id and that `aud` should actually be a list of the resource servers who are the recipient of the token. However, this would require the user to pass in a list of all resource servers (which may be the same server, or a very long list of servers). This would possible require adding a new Repository to keep track of resou

[2018-07-13 10:30] christiaangoossens commented on #786
Resulted in PR #923.

[2018-07-16 07:46] sg3s commented on #857
While the RFC is in draft it should not be used, it explicitly says so in the draft.

While eventually something will be standardised, oauth2-server should refrain from adding uncertain/uncomplete features. I've checked what the larger vendors use in their JWTs, as far as I could find nobody uses `cid` for the suggested purpose (yet).

If they use something it is usually referring to claims in an

[2018-07-24 10:44] conquer66666 opened #926 "examples auth_code.php doesn't work"
curl -X "GET" "http://localhost:4444/auth_code.php/authorize" \
	-H "Content-Type: application/x-www-form-urlencoded" \
	-H "Accept: 1.0" \
	--data-urlencode "response_type=code" \
	--data-urlencode "client_id=myawesomeapp" \
	--data-urlencode "redirect_uri=http://www.google.com" \
	--data-urlencode "scope=basic email" \
	--data-urlencode "state=123123123asae"

127.0.0.1:42776 [400]: /auth_code.ph

[2018-07-24 12:15] thuethe commented on #782
+1 for this.
I've the same issue

[2018-07-26 10:16] christiaangoossens commented on #895
I wrote a blog post about this, for future reference: https://chrg.nl/2018/07/26/not-so-easy-oauth2-for-first-parties-part-2/

[2018-07-26 15:53] sg3s commented on #926
I do not see an example curl command for for `auth_code.php` which should typically be approached with a webbrowser where you might have to log in as a user. But this seems like an error in the curl command you tried to use.

If you want to use this endpoint with curl you will need to tell curl to convert all `--data` arguments to query params with `-G`. The auth code requests also returns a redir

[2018-07-27 11:45] Sephster commented on #782
@2blane and @thuethe could this not be solved by your database schema?

Why don't you have a pivot table between users and tokens so that these can easily be searched? I think the suggestion is probably a valid one but I want to understand your specific issue before this is progressed.

If this change is made, it will likely be in version 8. Thank you for your time

[2018-07-27 11:46] Sephster commented on #782
If you could outline why you are wanting to retrieve the user ID associated with the token as well that would be much appreciated.

[2018-08-03 02:11] conquer66666 commented on #926
thanks

[2018-08-07 12:35] Sephster opened #929 "Alternative Fragment Identifier"
An [old pull request](https://github.com/thephpleague/oauth2-server/pull/801) allowed us to replace the # with an alternative fragment identifier for the implicit grant. I am struggling to find where in the spec this is valid.

We need to check if this is valid as it could introduce a security concern should someone use a ? instead, which will convert the params to a query string and make them ava

[2018-08-14 13:03] sg3s commented on #929
I've had this exact question when I began devoting time to understanding all the different specs.

Fragment encoding in fact a part of OpenID specs. Definitely something you want if you want to work towards a fully OpenID Connect compliance.

The question is if that is something you/the maintainers want. The specs are backwards compatible with plain oAuth2 as far as I know, but might require signi

[2018-08-14 13:14] sg3s commented on #929
To be complete; These are features that are in OpenID Connect that are pretty desirable to me:

- Fragment responses for authorisation requests
- Token introspection
- Token revocation
- Userinfo
- Login / session status through iframe
- Logout flows

And to complete/manage that it also includes:

- Server discovery (see it as feature detection for clients)
- Server JWK set (publish keys needed to

[2018-08-14 13:38] sg3s commented on #929
It seems that fragment is also present when using Implicit Grant according to the core oAuth 2.0 spec:
https://tools.ietf.org/html/rfc6749#section-4.2

Though, I do think OpenID Connect does a much better job of defining how that actually works then.

[2018-08-14 22:51] JasonTheAdams commented on #794
@loganto I believe it depends on the type of grant you're doing which drives where the scopes get stored. In the Client Credentials grant, for example, the user scope table is unnecessary as there are no "users" in that grant.

---

Something I'm confused by is id's versus identifiers. In _all_ of the interfaces only the identifier is used, never the id. AccessTokens are where this is really odd.

[2018-08-15 17:26] JasonTheAdams opened #930 "Why do we need getName() in ClientEntityInterface?"
I've been working on building out OAuth in vanilla PHP for a week or so now using this library. I've been deep diving into the library code to try and understand the usage of the interfaces and such required for the purpose of trying to understand the necessary MySQL table structures.

One puzzling method is `ClientEntityInterface::getName()`. Simply enough, it wants the client name. What's strang

[2018-08-15 20:11] Sephster commented on #930
It is actually used in the client trait which provides a ready made implementation for some of the functions provided by the `ClientEntityTrait` but I guess this isn't a real _use_ so I see your point.

I can't speak as to why this was added in historically. The main reason I can think for having such a function is that when a client redirects the user to the authorisation end point, the client on

[2018-08-15 20:31] Sephster commented on #929
Thanks @sg3s. Yeah, I'm sure we need to keep this in, I'm just not sure we should be allowing people to choose different characters from a # as the pull request I'd referenced allows us to do. I can't find support for this in the spec but I do seem to recall reading about it somewhere at some point (although I am struggling to find any evidence to support this).

[2018-08-16 07:53] sg3s commented on #929
Ah, missed that the PR made it an arbitrary character...

No that is definitely not right. The reason the fragment is used for the implicit grant is ofcourse to protect the token which stays local and is not sent to servers in requests by user-agents and thus does not show up in logs.

The spec that does expand this and does allow for another way is OpenID Connect - in the same document that I lin

[2018-08-17 07:37] JurRutten opened #931 "Unable to verify the access token in own AuthorizationValidatorInterface"
I've implemented the OAuth server and my test client is receiving access and refresh tokens (major upgrade implementation from version 4.1.5)
When I use the access token to make an api call, it can not be verified.
I had to use 'Lcobucci\JWT\Signer\Hmac\Sha256' as my signer, or I would have an algorithm mismatch, the BearerTokenValidator uses 'Lcobucci\JWT\Signer\Rsa\Sha256;'
The signatures of my

[2018-08-17 08:28] JurRutten commented on #931
Never mind, there was an issue creating the jwt token

[2018-08-17 08:28] #931 closed

[2018-08-18 20:57] JasonTheAdams commented on #930
Thanks for your thoughts, @Sephster! That makes sense. It doesn't have any "functional" purpose for this library, but I agree that it's a good idea to have it if it's part of the spec. The implementing developers can decide if and how to utilize the name further.

I'm going to close this as I think it should definitely stay since it's part of the spec.

[2018-08-18 20:57] #930 closed

[2018-08-21 17:57] NoelDeMartin commented on #889
@Sephster

In this other issue https://github.com/thephpleague/oauth2-server/issues/881 you confirm that client secret is actually not being used for the Auth Code grant, so which of the two statements is correct?

Looking at the code seems like the secret is required at the moment: https://github.com/thephpleague/oauth2-server/blob/master/src/Grant/AbstractGrant.php#L181..L189

What's the current

[2018-08-21 17:59] JasonTheAdams commented on #802
@simonhamp Any progress on the documentation? Would love to see this project get proper documentation.

I'm ~70% of the way through integrating this into a vanilla PHP project, and it's been quite the undertaking. The documentation feels like it's written as a loose reference for those that made it, not for anyone new. The interfaces, especially, I find I'm just having to search through the lib co

[2018-08-24 13:09] NoelDeMartin opened #934 "Dynamic Client Registration"
[RFC 7951 - OAuth 2.0 Dynamic Client Registration Protocol](https://tools.ietf.org/html/rfc7591) defines a protocol to register clients dynamically. This is useful to provide authentication for SPAs and other scenarios without backend that can't be trusted with client secrets, so authentication can be performed with a client_id unique to each instance.

[2018-08-26 00:42] JasonTheAdams opened #935 "How does token verification and JWT work?"
Getting this going on a vanilla PHP project and I'm rather confused as to how oauth2-server and oauth2-client work together. On this particular project the only initial grant that will be supported is the client grant, so very simple.

The token request endpoint is set up and works. What confuses me is that the `access_token` is an SHA-256 signed JWT. In my case auth and resource server are the sa

[2018-08-26 12:40] Sephster commented on #935
Hi @JasonTheAdams. The client will store the access token and pass it back on future requests. The resource server validates the JWT by checking that the signature is as expected. The JWT is made up of three parts:

* The header
* The payload
* The signature

The signature is created by the auth server, by encoding the header and payload along with a secret known only to the auth server.

This all

[2018-08-26 13:05] Sephster commented on #889
@NoelDeMartin good question and apologies for any confusion I've caused. As I had stated in #881, the Auth Code Grant can be used without a secret according to the OAuth2 specs. However, I've made a mistake with my assertions in #881.

The initial _auth code request_ doesn't require a secret but you are right in stating that at the moment, the _access token request _does indeed require a secret be

[2018-08-27 04:56] JasonTheAdams commented on #935
Ahah! I get it now! 😄

Thank you for breaking down the JWT, that made me realize that I didn't fully understand the JWT standard, so I did some more homework. Now it makes sense. I also thought the JWT was validated on the client side, which it's not; it's validated on the resource server (which in my case is the same server as the authentication server).

This is a tangent question, but if you do

[2018-08-27 11:43] Sephster commented on #935
Yes, this should be enough. As long as you are communicating over https, which this server and the OAuth 2 spec mandate, it should be fine. One caveat is if you are using a native app such as a desktop app. If you are, you probably need to use [PKCE](https://oauth.net/2/pkce/) as well but if it is website to website, there should be no additional requirements.

[2018-08-27 13:09] mtangoo commented on #889
@Sephster,
Will v8 come with fix for https://github.com/thephpleague/oauth2-server/pull/817 ?

[2018-08-27 14:13] JasonTheAdams commented on #935
Got it, thank you! Should I require that the client server use https, or is it _enough_ that the authentication and resource servers use it? There's a good chance many client sites will be on https, but I'm deciding whether it should be a requirement. Thank you for your advice!!

[2018-08-27 14:27] Sephster commented on #935
If your client is a web application then I would advise it supports https out of the box as it is recommended that all websites are served over https these days. However, the important thing is that your resource/authentication servers are hosted on https domains and are connected to over https

[2018-08-27 18:51] mtangoo commented on #889
That sounds really great! When you think you are ready please open PR so that  I can help testing or if you need any input. Good work as usual!

[2018-08-29 13:13] jacksun101 opened #936 "Use scope to a specific subset of resources"
Let's say, I am developing an oauth2 server for smart home hubs. I would like to create couple scopes as below.

hubs:query:*
hubs:control:*

And when user is asked for approval, he/she can select hub. I think maybe it makes sense to store in the access token (or session) scope like below.

hubs:query:1        ( Just hub 1 )
hubs:control:1|2    ( hub 1 & 2 )

Is this making any sense? Or any bette

[2018-08-29 21:11] JasonTheAdams commented on #935
Got it! I have this working, now. Thank you!

[2018-08-29 21:11] #935 closed

[2018-08-30 06:05] mtangoo commented on #936
Am not sure I understand your problem. But the library gives you power to do anything you want.
Did you face a specific problem?

[2018-08-30 11:28] Sephster commented on #936
The client would typically decide what scopes are required, rather than the user. The user will just provide authorisation to the client for the specified scopes. If the client does not require access to hub 2 for example, it shouldn't request access to hub 2. I hope that makes sense.

[2018-09-01 17:02] JasonTheAdams opened #937 "Additional Token handling after AuthorizatonServer::respondToAccessTokenRequest"
I have a scenario where I want to do additional handling of the access token before the API response is sent. I'm not finding a good way to be able to hook into `AuthorizatonServer::respondToAccessTokenRequest` at a point where the token is available. Ultimately it provides the response, but by then the token is in JWT form.

I thought that I may be able to use this line — https://github.com/theph

[2018-09-01 17:25] Sephster commented on #937
I don't think there is a way to do this in the library. Can you provide a bit more information about the nature of the additional handling you want to do?

[2018-09-01 17:46] JasonTheAdams commented on #937
In this project I'm only using client credentials, and have two resource tables — Clients & Websites. Clients is a resource (think business client) which has a one-to-one with the OAuth Client table. So each OAuth Client will be connected to one Client. In fact, in the API, when one creates the Client resource, it's also creating an OAuth Client and then connecting the two (the Client table has a

[2018-09-02 15:00] Sephster commented on #937
I think there is something not quite right about your architecture. The clients shouldn't be as coupled to your resources as they are.

Take Twitter and the many third party applications that connect to the platform as an example. If a client requests access for a given user's account, it _must_ know in advance which user it is requesting information for. How does this work in your implementation

[2018-09-03 10:58] sg3s commented on #936
The dilemma is that sometimes you want users to be able to grant clients access to specific entity IDs in a resource server which are not known to the client beforehand. A selection step is presented to the user when reviewing the client authorisation request.

Sort of how some central Git repositories (dunno if Github can do this) can let you share specific git repositories with 3rd party service

[2018-09-05 11:29] Sephster commented on #936
Closing this due to no response from @jacksun101.

[2018-09-05 11:29] #936 closed

[2018-09-07 21:49] rapgithub opened #939 "Examples folder is not included in the .zip file!"
Examples folder is not included in the .zip file! please verify I need to install the OAuth2ServerExamples thanks

[2018-09-11 08:43] nealoke commented on #885
@christiaangoossens do you mind sharing how you did the adding of (in your case) the `group ID` to the JWT token? I am needing this as well because users have access to multiple accounts. You mentioned extending the Grant types but I'm unsure how.

[2018-09-11 12:51] nealoke opened #940 "Access authCodePayload in AccessTokenRepository or RefreshTokenRepository?"
Hi, when I'm creating an `authCode` and thus using the `persistNewAuthCode` method I also save another piece of information in a column named `accountId` because users can access various accounts with the same login information in my app.

I'm currently facing a challenge when getting a new `access token` with the `authCode` I receive because I cannot access the `authCodePayload` when the `access

[2018-09-11 21:42] Sephster commented on #940
Hi @nealoke - it depends what you are using the `accountId` field for but usually, scopes would be used to restrict the capabilities of an auth code and eventually issued access token. Have you looked at these as a potential solution?

[2018-09-11 21:55] Sephster commented on #939
Hi @rapgithub - the examples directory is not included as zip file download is supposed to be used as a drop in replacement for the composer install option so that you can just extract the folder and prepare it for production. In production you won't require the examples or tests folder so these haven't been included.

If you want to download the examples directory you can clone the repository in

[2018-09-11 21:55] #939 closed

[2018-09-11 21:55] Sephster commented on #937
@JasonTheAdams is there anything else I can help you with in regards to this issue? Many thanks

[2018-09-13 14:52] sg3s commented on #857
Today while trying to get this discrepancy documented I reviewed the information in several specs and I think it is useful to clarify a few things.

**The specification referenced by @michaeldnelson is something else**
The final version of the spec [can be found here](https://tools.ietf.org/html/rfc7523), and basically describes how to retrieve access tokens using JWTs from an authorisation server

[2018-09-14 07:58] nealoke commented on #940
@Sephster Thanks for the quick reply. As a matter of fact I thought about it but because the auth codes are used for integrations that are for a specific `accountId` it seems a bit weird to use the actual `user` as resource owner and block the access with a scope.

Do you think it is appropriate to use the `accountId` as the resource owner in stead of the `user`? Or is this not a good practice for

[2018-09-14 15:19] nealoke commented on #940
@Sephster the problem is that my knowledge on how to setup integrations with oauth is very limited and I'm sure you have a better understanding and knowledge about this.

But what if the `user` who setup the integration get's deleted? The integration (because the `accessToken` and `refreshToken` are scoped on the user) also becomes invalid then I guess?

[2018-09-14 16:26] Sephster commented on #940
The purpose of the Auth Grant is to allow third parties to have access to a user's resources without sharing the user's credentials with the third party. Presumably your auth code grant will go something like this:

* The client directs the users to the login page of your protected resource and specifies which scopes it wants access to (if applicable)
* The user reviews the access request, and ent

[2018-09-15 00:06] JasonTheAdams commented on #937
Hi @Sephster, thanks for checking in!

Per your feedback I decided to hire a consultant to talk over the OAuth to Resource details. I learned that I was being overly clever with the authentication and resources. There is always a contact point of some type between the OAuth and Resources, but it ought to be minimal, clear, and very secure.

In this case, the Website resource is now connected to th

[2018-09-16 21:18] diogodomanski opened #942 "PSR-15 version"
Hi,

I'm currently using the PSR-7 version with Zend Expressive 2, but I'm facing some obstacles on adapting it to work with Zend Expressive 3.

Is there any plans to create a PSR-15 version of this project?

Is there any guideline to make it work with Zend Expressive 3?

Thanks

[2018-09-17 07:30] Sephster commented on #937
No problem. Sounds like you ended up with a great solution! Glad to be of help

[2018-09-17 08:31] nealoke commented on #940
@Sephster This cleared up quite a bit 👍 . I'm gonna try now to implement it with the scope based approach and see if I run in any issues when I do this. Thanks for the time and effort to put forth such an explanation! 👍 👍 👍

[2018-09-17 11:30] Sephster commented on #942
Hi @diogodomanski. The library doesn't support PSR-15 at the moment but we will add support for this as our middleware was created prior to this standard. There isn't any guidance on how to achieve this as yet.

We will likely release this in version 8 of the package which is currently some way off being released.

[2018-09-17 11:43] Sephster commented on #940
* The access token is stored within the refresh token so as long as you have scopes associated with the access token, they will also be associated with the refresh token.
* Typically your scopes will be issued by the client as part of the initial authorisation request.  These usually aren't key value pairs, and instead are single strings. In your instance, you might have a scope called `account1`

[2018-09-17 14:46] nealoke commented on #940
@Sephster thanks, I just implemented it with your comments from above and it works like a charm. I can't thank you enough 🥇 !

[2018-09-17 14:46] #940 closed

[2018-09-17 18:37] pjdevries opened #943 "BearerTokenValidator::validateAuthorization() - jti and scope(s)"
Hi,

I'm not quite as theoretically educated as most here and rather new to OAuth2 in general and this interesting implementation in specific. I do run into a few issues in `BearerTokenValidator::validateAuthorization()` though:

First of all the token revoked check. It executes `$token->getClaim('jti')`, without a second default parameter. This results in an exception being thrown whenver the JWT

[2018-09-17 19:03] Sephster commented on #943
Hi @pjdevries. Thank you for your comments. You are right in saying that the JTI is not a required claim but our server uses it to set the ID of the token. Because our server is the one issuing the access token, we should be confident that this value will be populated when checking any access tokens.

Similarly, we don't bother to check the claims unless the JWT has first been validated to ensure

[2018-09-17 19:03] #943 closed

[2018-09-17 19:05] Sephster commented on #940
Glad to be of help!

[2018-09-18 12:41] nealoke opened #944 "No TTL for refresh tokens?"
Hi I'm wondering, is it possbile to not have a TTL for refresh tokens? Because in the `AbstractGrant` it does the following `$refreshToken->setExpiryDateTime((new \DateTime())->add($this->refreshTokenTTL));` which makes me think that if you don't set it that it will expire immediately, is that correct?

[2018-09-18 17:15] Sephster commented on #944
A refresh token TTL should be set otherwise it will fail this check:

[code]

[2018-09-19 07:33] nealoke commented on #944
@Sephster I understand, but shouldn't it be optional? Also I if I use `$refreshTokenGrant->setRefreshTokenTTL(new \DateInterval("P240M"));` it always throws the error you mentioned above. Is that normal or is it not allowed to set such a long interval?

[2018-09-19 12:10] Sephster commented on #944
I think it probably _should_ be optional. There is nothing in the spec that dictates that we should specify a TTL for the refresh token. We should probably look into rectifying this (I presume we can't do this at the moment but haven't looked into it closely enough).

There should be no problem with setting it to P240M as there is no restrictions on absolute length to my knowledge.

[2018-09-19 12:13] nealoke commented on #944
Great, thanks again for the help. I'll try to debug why the `P240M` is not working as expected.

[2018-09-19 14:44] sg3s commented on #944
A TTL is optional according to the spec. But using one is highly recommended. It is one of the more controversial issues with the OAuth2 spec (indefinite refresh tokens).

Systems that do allow for 'indefinite' expiration dates usually just set the expires at to something silly large like the year 2100. I think this is mostly so that one verification step can always be checking the expires at and

[2018-09-20 12:02] Sephster commented on #944
Thank you for the further information @sg3s. I'm going to close this issue now as I believe the original question has been answered. I will open up another issue to look at the expiry time for refresh tokens

[2018-09-20 12:02] #944 closed

[2018-09-20 12:04] Sephster opened #946 "Indefinite Refresh Tokens"
In its current state I believe the library enforces the use of expiry times for Refresh Tokens. This is good practice but mandatory expiry times are not specified in the OAuth2 spec.

We should evaluate this current stance and see if we want to support indefinite refresh tokens in a future release. Please see issue #944 for the original discussion that led to the raising of this issue.

[2018-09-20 17:09] mtangoo commented on #946
I have seen many application use 0 as indefinite time. I would like to table this too for this specific use case. Set time t for specific expiry or 0 for non expiring

[2018-09-23 17:31] #737 closed

[2018-09-23 17:33] Sephster commented on #786
Closing issue as now fixed as part of PR #923

[2018-09-23 17:33] #786 closed

[2018-09-24 07:10] Richard87 commented on #903
Hi!

I think I have the same problem when trying to use oauth2-openid-server (https://github.com/steverhoades/oauth2-openid-connect-server/issues/21), the Implicit Grant completley disregards the responseType, so I don't know how to add the id_token response required in OpenID except creating a new OidcImplicitGrant, wich feels wrong....

[2018-09-25 08:33] sg3s commented on #946
Not in favor, setting a far future expires date is effectively just as good and makes you think about what you're actually doing.

What would be good is somehow being able to set an expiration time for refresh tokens (or access tokens really) per client. So you can control / write logic to determine which clients are actually allowed to receive long lifetime tokens and which are not, instead of al

[2018-10-09 05:50] faravinicius opened #947 "decode jwt"
How can I decode the received JWT in Bearer ?

[2018-10-09 11:11] nealoke commented on #944
@sg3s Thanks for giving me an example for the fixed date. When I try to persist this information using the `$refreshTokenEntityInterface->getExpiryDateTime()->format("Y-m-d H:i:s")` it only gives me the first period though. Am I storing this incorrectly?

[2018-10-09 12:04] docxplusgmoon opened #948 "Why you use global Request object instead scalar parameters in classes?"
Hi. All classes use global Request object for extracting tokens or client data. Because of this classes not reusable. We want add our custom logic in creating or validating tokens. But more methods require global Request object. I think, all income parameters (tokens, client_id, client_secret etc.) must be assign by client code. Example src/Grant/PasswordGrant.php. Code is not support SOLID princi

[2018-10-09 12:08] docxplusgmoon commented on #947
Example code:
`$accessTokenRepository = new AccessTokenRepository();
        $bearerTokenValidator  = new BearerTokenValidator($accessTokenRepository);

        $publicKeyPath = $this->config->public_key_path;

        $bearerTokenValidator->setPublicKey(new CryptKey($publicKeyPath, null, false));

        $request = $bearerTokenValidator->validateAuthorization(ServerRequest::fromGlobals());

[2018-10-09 12:11] sg3s commented on #944
@nealoke That might indeed indicate that you are indeed storing it incorrectly.

The storage solution is left up to the implementer of the library, but it sounds like you might not be storing the time portion of the expiry datetime or the way you are converting the datetime from the database to a datetime (or equivalent) in php might not work correctly. It is weird how you describe that `DateTime-

[2018-10-09 12:12] faravinicius commented on #947
Thanks, @docxplusgmoon!

[2018-10-09 12:43] nealoke commented on #944
@sg3s Thanks for the fast answer, the `DateTime->format` also returns the `H:i:s` elements, I just typed these as placeholders.

I checked [the example](https://github.com/thephpleague/oauth2-server/blob/master/examples/public/refresh_token.php) and tried multiple things but I am getting quite sure that the library is not setting the TTL for refresh tokens correctly.

**Setting the grant**
[code]

[2018-10-09 12:47] #947 closed

[2018-10-09 13:12] sg3s commented on #944
With the given configuration
- Your refresh tokens created by the refresh grant should be valid for 20 years
- Your access tokens created by the refresh grant should be valid for 1 hour

When your initial refresh tokens are created with the `AuthCodeGrant` you will need to set the TTL for those refresh tokens **separately**.

i.e.

    $authCodeTTL = new \DateInterval('PT10M'); // 10 minutes
    $

[2018-10-09 13:31] nealoke commented on #944
@sg3s omg, didn't understand that at all 😄. Thanks for the effort and speed of answering my question!

THANK YOU

[2018-10-10 18:49] faravinicius commented on #947
Today I was able to finalize an implementation and it is giving an error. Call to undefined method Zend\Diactoros\ServerRequest::fromGlobals().

Help me ?

[2018-10-10 19:39] faravinicius opened #949 "Get user_id from jwt token ?"
I have not found documentation on how to get the user_id from the jwt token.

[2018-10-10 19:48] #949 closed

[2018-10-10 19:48] faravinicius commented on #949
I found the documentation, I'm sorry!

[2018-10-11 03:36] docxplusgmoon commented on #947
@faravinicius ServerRequest must be instance of GuzzleHttp\Psr7\ServerRequest. Add `use GuzzleHttp\Psr7\ServerRequest` on head your class

[2018-10-12 04:18] gopalvenu033 opened #951 "How can add a custom token generation for codeigniter"
I have an ionic app with CodeIgniter as backend. I need to add a custom authentication like an automatic token generation from server side and its verification in client side for each request. Can anyone show me the path?

[2018-10-12 12:10] Sephster commented on #951
Hi @gopalvenu033 - thanks for raising an issue. I think your best route would be to check the [documentation](https://oauth2.thephpleague.com/) and reference the [examples](https://github.com/thephpleague/oauth2-server/tree/master/examples) to get going. Failing that, I would post your question on StackOverflow to get some assistance.

I'm happy to answer specific questions but generalised questio

[2018-10-12 12:10] #951 closed

[2018-10-15 11:03] mbrodala commented on #757
@dmelo See https://github.com/thephpleague/oauth2-server/issues/915#issuecomment-399425285 for the explanation of the encryption key. I assume it needs to be stored somewhere safe and injected into your code the same way as the keypair.

[2018-10-15 12:07] Sephster commented on #757
Hey all, does anyone still need a response to this? I was not involved with the security upgrades so might find it difficult to find an answer to these questions. In addition, we are now on version 7 of the project so I feel that this questions is fairly out dated. Unless anyone has a strong objection, I will close this issue as I don't feel I can sufficiently answer it and even if I can, I don't

[2018-10-15 14:30] leroy0211 opened #954 "How to handle new tokens on User Registration"
I am aware that oauth2-server is not aware of any User Registration. But is there any suggestion on how to do this?

First let me explain the situation.

The application we are creating does not use `AuthCode` Grant, but uses the `Client Credentials` Grant and `Password` Grant since we are the owners of the application.

Our Oauth2 server is completely setup with the above Grants (including `Refre

[2018-10-15 16:38] brandonfarber opened #955 "invalid_credentials is not spec-compliant"
When using the Resource Owner Password Credentials Grant type, if an invalid username+password combination is supplied the server returns an "invalid_credentials" error code response.

https://github.com/thephpleague/oauth2-server/blob/master/src/Exception/OAuthServerException.php#L160

This is not, however, spec-compliant and any consumers interacting with the server may not handle this appropria

[2018-10-16 11:33] Sephster commented on #757
Thanks @webclaus for the quick response. I will close this issue as I think that this change was made so long ago it probably isn't relevant any more. @Lavoaster if you would like this to be followed up, please add a comment and I can re-open this. Thank you

[2018-10-16 11:33] #757 closed

[2018-10-16 11:45] Sephster commented on #954
This is a workflow I haven't seen before if I'm honest. OAuth isn't really used for the scenario you are suggesting. In most situations, the user credentials will already exists on the protected resource so I don't think you will find a common solution to this unfortunately.

I would suggest that you just notify the user that their account has been created and let them login with their credentials

[2018-10-16 11:48] Sephster commented on #955
I could have sworn this had previously been reported but I can find no reference to it and it hasn't been resolved for version 8. As such, I will leave this open and look to fix it for the next major release. Thank you for reporting this to us!

[2018-10-16 11:54] Sephster commented on #948
Closing this issue as have not heard back from @docxplusgmoon. If this is still an issue, please comment on this ticket with a clarification of the problem and I will look into this further. Thank you

[2018-10-16 11:54] #948 closed

[2018-10-18 09:57] Sephster commented on #954
Actually, and apologies I didn't realise this initially, but it sounds like you want to use [Dynamic Client Registration](https://tools.ietf.org/html/rfc7591). The library doesn't support this at the moment but I think it is something we should definitely look into.

It has already been raised as a feature request in issue #934 so I will close this issue and track it there. Thanks!

[2018-10-18 09:57] #954 closed

[2018-10-18 11:15] leroy0211 commented on #954
@Sephster No I don't mean Dynamic Client Registration, because that's an RFC to register a new Client. I really ment Register a new User over the API.

The main reason is that our complete software is based on API's. So even our own web application is using API's. So to register a new User in the web application there must be an API for that, which will result in a new token which logs in the newl

[2018-10-18 11:50] Sephster commented on #954
Apologies. I thought that might be a solution for you but I guess the user part is the important bit. I'm sorry but I don't know a good solution to your problem. Nothing springs to mind as I haven't seen a similar use case in the past although that's not to say there isn't one.

I would advise you take this to Stack Overflow as it isn't necessarily a question that is specific to this client or eve

[2018-10-18 12:09] Sephster opened #956 "Restrict Characters for a Scope"
The OAuth spec limits characters that can be used in a scope to the following:

I don't believe we currently have formal restrictions on the scope characters. If we do not, we need to add this in to provide better alignment with the OAuth 2 spec.

[2018-10-18 15:03] tylik1 commented on #735
I'm having the same issue. Imagine the case where client app calls `refreshToken` api endpoint, to retrieve new access and refresh tokens, but then user for some reason, refreshes browser in the middle of process. The refresh token cookie is not attached, meaning, all following requests will fail, and the user will have to login again.

[2018-10-20 22:47] Sephster commented on #955
I knew this was ringing a bell. It is related to pull request #803. I will try and get it pushed through in the morning. Thanks

[2018-10-20 22:47] #955 closed

[2018-10-24 11:49] tback commented on #639
This is related to #442

[2018-10-25 18:25] dennisrojaspereira opened #957 "Error Resource Server"
I installed from README of path examples, generate a private key and public key.
When i get the JWT but when i send the Authorization Bearer with token return "Access token could not be verified".

Get JWT
`curl -X "POST" "http://localhost:4444/password.php/access_token" -H "Content-Type: application/x-www-form-urlencoded" -H "Accept: 1.0" --data-urlencode "grant_type=password" --data-urlencode "c

[2018-10-25 18:37] dennisrojaspereira commented on #957
Sorry guys, my bad !

[2018-10-25 18:37] #957 closed

[2018-10-30 13:06] thuethe opened #958 "Error Response is not OAuth2 compliant"
On Issuing an Access Token the OAuth 2.0 Server produces an error response like:
[code]
with optional `hint` in some cases.

Specs compliant would be an error response like:
[code]
`error_uri` and `error_description` are optional.

From the specs (https://tools.ietf.org/html/rfc6749#section-5.2):

   status code (unless specified otherwise) and includes the following
   parameters with the respons

[2018-11-01 16:43] mikefrancis commented on #705
@Sephster Hi, do you have the PR to hand? I am guessing it might have gone a bit stale and am interested to see if I can pick it up after discussion over on here https://github.com/laravel/passport/issues/543

[2018-11-01 17:32] mabar commented on #705
I would also like to be able pick an alternative. I am currently working on oauth2-server integration for [Nette](https://nette.org) and [Apitte](https://contributte.org/packages/apitte/core.html) frameworks and I want choose [paragonie/paseto](https://github.com/paragonie/paseto) instead of JWT

[2018-11-05 12:48] marcelogarbin commented on #747
any news?

[2018-11-06 10:45] Devristo opened #961 "In the 8.0.0 branch the AuthCodeGrant does not accept client_id and client_secret through HTTP Basic Authentication"
First of all thanks for this great library! I have been playing around with the 8.0.0 branch because we need the `isConfidential` / PKCE functionality. However we stumbled upon a regression: Clients can no longer authenticate themselves using HTTP Basic authentication.

This seem to have happened in https://github.com/thephpleague/oauth2-server/pull/938. More specifically: The `$this->validateClie

[2018-11-06 22:06] Sephster commented on #961
Hi @Devristo - thanks for getting in touch and thanks for the kind words regarding the library.

Is your code calling the `validateClient()` function at all? There was a change in the 8.0.0 branch where clients must now identify themselves as confidential. If they aren't confidential, then no client validation takes place as the client cannot be trusted to keep its credentials secret.

[2018-11-07 07:09] Devristo commented on #961
In this case I am not using the PKCE flow but a confidential client. However the 8.0.0 branch changed the way the AuthCodeGrant is implemented.

`src/Grant/AuthCodeGrant.php`
![image](https://user-images.githubusercontent.com/1564257/48115647-e8318800-e263-11e8-91bd-c8fd1e359bab.png)

Previously the `validateClient` call would check the request params AND the headers using `getBasicAuthCredentials

[2018-11-07 17:46] Sephster commented on #961
Ahh I think I see. I presume it is issuing an _invalid request_ exception because you aren't passing a client ID in as a request parameter, correct?

I will look at getting a fix sorted for this soon and double checking everything. Thanks for reporting this.

[2018-11-08 06:38] m0ark opened #962 "Support nonce for Authorization Code and Implicit Grant"
Currently I have to integrate full [OpenId Connect Core](https://openid.net/specs/openid-connect-core-1_0.html) spec, so I came across https://github.com/steverhoades/oauth2-openid-connect-server to this library.

OIDC Implicit Flow requires a `nonce` to be included in the id_token issued. (see [3.2.2.1.](https://openid.net/specs/openid-connect-core-1_0.html))

In OIDC Authorization Code Grant the

[2018-11-08 11:21] Sephster commented on #962
We aren't supporting OpenId Connect at present but do plan to do so in the future. I don't believe including a nonce is required in any of the RFC's we currently support so don't think this will be added in until full support for OpenId Connect is.

[2018-11-08 11:21] #962 closed

[2018-11-08 16:10] jay-shah-personal opened #964 "Security Issues Checking"
Is this library prevents such vulnerabilities ?

By modifying **alg** value in **jwt token's header** to pass verification of token in all type of grants liek client, password grant etc.

https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

[2018-11-08 17:01] Sephster commented on #964
I believe so. For JWT we use lcobucci/jwt. This vulnerability was fixed in version 3.0 and we are now using the 3.2 version.

As noted in the blog post, we also specify the algorithm to use when were are verifying the JWT.

[2018-11-08 17:01] #964 closed

[2018-11-12 12:50] Devristo commented on #961
Exactly! Thanks for picking this up

[2018-11-15 12:42] curry684 opened #968 "BC break when extending BearerTokenResponse"
My application just broke down when upgrading to 7.3.0, working fine still when downgrading to 7.2.0.

I'm using the following override in my custom OAuth2Server class to customize the response type:
[code]
The extended response class overrides the default `BearerTokenResponse` in `getExtraParams` to add some extra properties to the token. This method is apparently not called anymore, or ignored,

[2018-11-15 12:46] curry684 commented on #968
Yikes, https://github.com/thephpleague/oauth2-server/commit/d288a2ad8a574d9a1b641d529a79cbc617e03305 is the obvious cause... that commit should've never made it into a minor release, that's fundamentally breaking all extension points.

[2018-11-15 16:03] ceeram commented on #968
This issue is not just about changing the method name, as i renamed it in our extended class as well. Also setting the privateKey and encryptionKey was moved to the constructor, which is why it still was broken after renaming the extended method.

[2018-11-15 16:16] Sephster commented on #968
@ceeram do you have an example of your extended class you can share so I can get a better idea of the problems at hand?

[2018-11-15 16:22] ceeram commented on #968
https://github.com/thephpleague/oauth2-server/pull/969 i have a fixed the BC without breaking the newly added tests. I think this will make both sides happy

[2018-11-15 16:24] ceeram commented on #968
No need to revert. We have changed our implementation already.

Op do 15 nov. 2018 15:49 schreef Andrew Millington <notifications@github.com
:

[2018-11-15 22:40] Sephster commented on #968
@curry684 I've reverted the interface change in release 7.3.1 which will hopefully resolve your issue. I'm leaving this issue open for now to follow up on @ceeram's issue and related PR.

[2018-11-16 08:14] curry684 commented on #968
It should be noted that we're not so much doing unexpected stuff, we're actually [using a documented extension point](https://github.com/thephpleague/oauth2-server/blob/master/src/ResponseTypes/BearerTokenResponse.php#L67-L69):
[code]
I've just upgraded to 7.3.1 but still getting breakage elsewhere:
[code]
This could be just an implementation detail on my end, will investigate whether this concern

[2018-11-16 08:29] curry684 commented on #968
Nope, that's still BC breakage. The old `getResponseType` implementation would set the keys on the fly: https://github.com/thephpleague/oauth2-server/blob/7.2.0/src/AuthorizationServer.php#L211-L214

As the new implementation does that in the constructor and clones it afterwards any custom ResponseType override "old style" will be missing the keys. https://github.com/thephpleague/oauth2-server/blo

[2018-11-16 09:10] alukaa opened #972 "is there anyway to translate response messsage?"
like the title said, all the response message are english, if i want these messages to another language,how do i do ,or is there some feature i can use, thx

[2018-11-16 10:09] Sephster commented on #972
There is no official way at this time. Issue #747 is tracking this but has not been worked on yet. Sorry that there isn't a resolution for you at the moment

[2018-11-16 10:09] #972 closed

[2018-11-19 01:30] alukaa commented on #972
so owners of this project consider to add this feature or not, i think it's important. for us we can understand what happened, but if we notice these response message to user, they may can not understand what happened. hope your guys to think a little about this, thx

[2018-11-19 12:34] Sephster commented on #968
@curry684 are you using a similar implementation to the one @ceeram is?

[code]

[2018-11-19 12:59] curry684 commented on #968
Pretty much identical yes, like I said it's documented to do it like this: https://github.com/thephpleague/oauth2-server/blob/master/src/ResponseTypes/BearerTokenResponse.php#L67-L69

[2018-11-19 13:57] ceeram commented on #968
Alternatively, you could add the code to set the keys in your extended method to get around this with current implementation. See https://github.com/thephpleague/oauth2-server/pull/969#issuecomment-439898961

[2018-11-19 13:58] ceeram commented on #968
Still, this is unwanted behavior from a minor release

[2018-11-19 15:07] curry684 commented on #968
Yeah I'd recommend just yanking the 7.3.x releases and adding this to the 8.x breaking changes pile.

[2018-11-19 15:10] curry684 commented on #968
Well practically yanking isn't really possible anymore after a week. Perhaps best to just ensure the old behavior still works in 7.x branch, if need be with some monkeypatch methods around the old extension points.

Right now it's a dangerous wait until applications being less actively developed hit the `composer update` button, we can't be the only 2 using this.

[2018-11-21 12:46] Sephster commented on #958
Thanks both. I will aim to look at this this evening.

[2018-11-21 12:48] Sephster commented on #968
Sorry that I haven't resolved this yet. I've been pretty busy in work. I suspect we will have to implement @ceeram's PR in the meantime and accept that the stateless implementations will have their keys reset unnecessarily.

I will take a closer look at this this evening and aim to get a resolution in place. Long term, I think is is preferable to set the custom response via the constructor so will

[2018-11-21 14:10] curry684 commented on #968
No problem really, just sticking to `7.2.0` is an acceptable workaround for the time being as long as it doesn't take months to get 8.0 out or fix it well in a 7.3.x edition. Rather do it well than rush now that the dragon is already out. And given the lack of other outcry it would seem the broken extension point isn't used all that often.

[2018-11-21 21:35] Sephster commented on #968
I've taken the decision to merge in @ceeram's fix. Although this will mean that people using Swoole will have their keys set multiple times needlessly, this to me is the lesser of two evils and will remove the BC change.

Longer term, I think I will make the `getResponseType()` method private as you can set a custom response type via the constructor. Unless someone raises a good reason not to make

[2018-11-21 21:39] Sephster commented on #968
Fixed in PR #969

[2018-11-22 06:20] cnbailian opened #973 "Typo on web site"
https://oauth2.thephpleague.com/refresh-token-repository-interface/

It should be:

"refresh token."

[2018-11-22 21:01] krozinov opened #974 "Dangerously incorrect documentation (re: public/private keys)"
Hi team,

There is a critical mistake in the wording on the Installation page (https://oauth2.thephpleague.com/installation/) under the section "Generating public and private keys"

It says:

It should say:

The current documentation is dangerously wrong - instructing users to commit a potentially serious security issue.

[2018-11-22 21:27] krozinov opened #975 "Timeline for v8.0 release?"
Not an issue, just curious if there is a timeline for the release of v8.0.0 and what changes are to be expected?

I saw a ticket that said that support for OpenID Connect is scheduled to be included in v8.0.0?

Thank you!

[2018-11-23 10:18] curry684 commented on #968
Yep, I can confirm 7.3.2 is working fine again, cheers!

[2018-11-23 10:18] #968 closed

[2018-11-23 12:34] Sephster commented on #968
Thanks for confirming @curry684

[2018-11-23 12:51] Sephster commented on #974
Merged. Thanks for spotting

[2018-11-23 12:51] #974 closed

[2018-11-23 12:54] Sephster commented on #975
No definitive timescale on version 8. I've added a number of features I want to see added to version 8 in the version 8 milestone. We are about 50% of the way there at the moment, but more features might be added.

[2018-11-23 12:54] #975 closed

[2018-12-06 07:27] uiisoft opened #979 "can i user this extension in yii2?"
i am a beginner,i I'm using yii2.Can I use this extension in yii2?If so, can you give me some guidance?

[2018-12-06 14:33] itay-moav opened #980 "What should be instantiated for each step on the server? |documentation|"
Kudos for the quality of the code of this lib.

In the setup section, under Authorization Code Grant, it can be interpreted that for each of the three requests (first redirect, user is authenticated and token request) You instantiate the following objects:
[code]
And re-configure the TTL
`$grant->setRefreshTokenTTL(new \DateInterval('P1M'));  `
and

[code]

I am new to this, so I might missunderst

[2018-12-06 15:19] mtangoo commented on #979
Yes, we have implemented it in our projects with no problem. You have to start with documentation of different interfaces (assuming you already know Oauth2)

[2018-12-06 15:20] mtangoo commented on #980
which grant do you want to be available?

[2018-12-06 15:56] itay-moav commented on #980
AuthCodeGrant

[2018-12-06 18:08] #980 closed

[2018-12-06 18:08] itay-moav commented on #980
going through the code I figured this

[2018-12-06 23:05] Sephster commented on #979
@uiisoft I'm afraid I don't know of any out of the box installations for yii2 so I imagine you will need to roll your own. To find out more about how to do this, I would advise checking the [documentation on our website](https://oauth2.thephpleague.com/) and also refer to the [examples](https://github.com/thephpleague/oauth2-server/tree/master/examples) which are implemented in the Slim Framework.

[2018-12-06 23:05] #979 closed

[2018-12-06 23:30] Sephster commented on #973
Thanks very much @cnbailian - I've updated the documentation now. Cheers for spotting this.

[2018-12-06 23:30] #973 closed

[2018-12-10 09:07] rakeev commented on #885
@nealoke all you need to do is reimplement AccessTokenEntity::convertToJWT()
Copy it from AccessTokenTrait and adjust as needed
No grant extension needed

[2018-12-10 23:09] Sephster commented on #961
Closing as issue now resolved by PR #978

[2018-12-10 23:09] #961 closed

[2018-12-13 11:04] Sephster commented on #903
Hey @gingabeard and @Richard87. The way you would normally do this is as follows:

[code]

If you implement your custom response like this. It should resolve your issue. I will mark this as resolved but if this doesn't solve your issue, please feel free to get back and I will reopen this issue. Thanks

[2018-12-13 11:04] #903 closed

[2018-12-26 15:35] delphiforphp opened #982 "missing dependency in example project"
Hi,
The dependency "league/oauth2-server": "^7.3" is missing in compose.json file in example folder.
please correct it.
thank you.

[2018-12-26 17:14] Sephster commented on #982
@delphiforphp I've taken a look and there is a composer.json file already there. Do you not mean this file? It is in the root of the examples folder

[2019-01-01 16:32] lordrhodos commented on #715
I hit the same issue as well and was wondering why the `AbstractGrant` adds the scopes again after they had been passed to the `getNewToken` method of the repository. I was not using indexed entries in the scopes collection (common doctrine `ArrayCollection`). Changed that for now, but would love to see a fix in the future.

[2019-01-03 00:16] lordrhodos commented on #799
@sergeyklay How would you enforce that the implementer actually throws the exception? Phpdoc could be updated to document the basics of the implementation, but to me it feels not right.

[2019-01-04 21:41] sergeyklay commented on #799
@lordrhodos It is my personal opinion. If you are always expecting to find a Client entity then throwing the exception will be right way to inform that there was a problem. In other hand if the Client entity can be missing or present and both are valid for the application logic then returning a null is acceptable. So there is a question: Is Client entity absence a normal condition, by design, or n

[2019-01-06 17:54] xgin commented on #942
I use the following factory for `AuthorizationServerMiddleware` with Zend Expressive 3:
[code]

For `ResourceServerMiddleware` is enough to wrap it with `Zend\Stratigility\Middleware\DoublePassMiddlewareDecorator`.

[2019-01-07 19:48] jacobweber commented on #649
Was this already released?

[2019-01-08 10:19] Sephster commented on #649
@jacobweber no it is listed as a release for v8. I don't have a definite schedule for that release yet. I was hoping to get it out late December/early Jan but these timescales have now slipped somewhat.

[2019-01-08 20:24] jacobweber commented on #649
No problem.

For now (in case anyone needs this), I did something similar to what @xiehan did. For public clients, it will always generate and return a refresh_token, but it won't persist it unless you pass `scope=refresh_token` in the initial auth request.

My `ClientEntityInterface` implementation has a custom `isConfidential` method, which returns true if the client is known to be able to store

[2019-01-09 23:51] jacobweber opened #984 "Feature request: event or callback when access token about to be refreshed"
In my app, when someone tries to refresh the access token, I'd like to perform some checks in my app, like making sure the user isn't temporarily disabled.

If the checks fail, I'd like to prevent the access token from being refreshed, but also prevent the refresh token from being revoked. So the checks should happen after the refresh token is validated, but before the old tokens are revoked.

Is

[2019-01-10 09:45] Sephster commented on #984
I don't think this is something we would add in as it strays away from normal conventions somewhat. It is important to remember that it is the client that has access on behalf of the user. I think linking the two so closely is probably not a good idea. If the user is suspended in an application, client access should probably be revoked.

[2019-01-10 19:31] jacobweber commented on #984
Fair enough, thanks.

[2019-01-11 10:34] #984 closed

[2019-01-14 18:48] Sephster commented on #982
Closing due to lack of activity. If you still believe there is an issue @delphiforphp, please get back in touch and I will take another look at this. Thanks

[2019-01-14 18:48] #982 closed

[2019-01-14 19:03] Sephster opened #986 "Incorrect Docblock Param Type in Entity"
There appears to be a discrepancy in docblocks for the ClientEntityInterface. The interface says that the `getIdentifier` function will return a string.

However, in the EntityTrait which can be used to implement the ClientEntityInterface, the `$identifier` is declared as a string but the _set_ and _get_ functions accept _mixed_ values.

I think the identifier probably should be mixed rather than

[2019-01-22 21:56] Sephster commented on #715
This issue was originally tackled in https://github.com/thephpleague/oauth2-server/pull/553 but reverted as it introduced a breaking change. I think it should be reinstated for version 8.

[2019-01-24 14:47] christophemassin opened #989 "Incorrect login password error management with optimus - heimdal"
Hello,

I got an api, with optimus heimdal installed on it ( https://packagist.org/packages/optimus/heimdal ) and a fresh laravel 5.7

I ve add your package on it, to deal with the oauth2 part. However, when i try to log with a bad credential, i got

{
    "error": "invalid_credentials",
    "message": "The user credentials were incorrect."
}

But i would like to get

{
    "status": "error",

[2019-01-29 14:50] crtl commented on #715
I wanted to ask the same question.
Either `getNewToken` or `AbstractGrant` should setup the token.
Why call a factory when I do everything myself?

If it is to execute additional logic, why dont you use an event system?

[2019-01-30 14:06] ghostika opened #990 "How to deal with native app social login"
I started to integrate the library, what was fairly straight forward, but there is a part where I'm not sure, how to proceed.
I also have a mobile app, where I would like to authenticate my user.
Using Facebook in the browser is not a problem (when I'm authenticating myself in the browser) bot on the phone I want to give the opportunity for the user to use the native Facebook app. Then the faceboo

[2019-01-30 22:30] crtl opened #991 "Outsource AbstractGrant::generateUniqueIdentifier"
In `League\OAuth2\Server\Grant\AbstractGrant` I could not understand why `generateUniqueIdentifier` is implemented as it is.
There is no way to configure the length other than by extending `AbstractGrant` and override it, but then you have to reimplement all grants again.

I would suggest to define an interface and provide an default implementation with the current length of 40, which is then pass

[2019-02-04 10:04] lordrhodos commented on #991
@crtl I submitted a PR dealing with this code part here, but it will not be merged at the moment:

https://github.com/thephpleague/oauth2-server/pull/987

If we can find more people in need of this we may get a chance to open up the discussion again ;-)

[2019-02-04 19:16] jacobweber commented on #806
I might try working on this for my own purposes. I can try to submit a PR if you want.

I could add a `respondToRevokeTokenRequest ` method to `AuthorizationServer`. It would need to duplicate some of the code in `AbstractGrant->validateClient`, since that's not available to `AuthorizationServer`.

Then, depending on the `token_type_hint`, it would call either `accessTokenRepository->revokeAccessT

[2019-02-04 20:14] darrencoutts118 opened #992 "Version 8"
Hi Guys,

It looks like you have a lot of good things planned for version 8 - which is fantastic! Do you have any idea when it is likely to be released?

I also note that there is no development branches to see how things are progressing, and to take a look how we may integrate - am I missing something?

[2019-02-04 21:48] jacobweber commented on #806
Sure, if you don’t mind me moving that out of the Grant classes, and maybe into its own class, I can take that approach.

[2019-02-05 00:21] jacobweber opened #993 "Spec compliance: invalid_request returned when refresh token invalid"
According to [the OAuth2 spec](https://tools.ietf.org/html/rfc6749#section-5.2), when you're using the `refresh_token` grant and the refresh token has expired, it should return an `invalid_grant` error. But this server actually returns a `invalid_request` error.

[code]

[2019-02-05 02:37] brandinchiu opened #994 "Setting up resource server monitoring for symfony 4.x"
I'm not sure if this is the most appropriate place to ask this, but I'd love some clarity on how to implement the resource server monitoring for a Symfony 4.x application.

I'm loosely familiar with Symfony middleware, but feel like I am missing something obvious.

Specifically, this part:
`new \League\OAuth2\Server\Middleware\ResourceServerMiddleware($server);`

I'm not sure where I would be expe

[2019-02-05 11:31] Sephster commented on #994
Sorry @brandinchiu but I'm not familiar with Symfony 4 so wouldn't be able to assist here. I think this question would be better suited to StackOverflow/Reddit etc. Sorry I can't be of any help

[2019-02-05 11:31] #994 closed

[2019-02-05 12:46] Sephster commented on #993
Well spotted. Thanks for finding this issue @jacobweber

[2019-02-05 23:03] darrencoutts118 commented on #992
cc/ @Sephster

[2019-02-06 09:26] Sephster commented on #992
I had originally said the end of January but I didn't get as much time to work on this over the Christmas period as I would have liked. I'm hesitant to offer any further estimation as this is likely to be wrong.

Anything that is due to go into version 8 and has been completed is in the version 8 branch. We don't have development branches as have no real need for them. Development will largely be

[2019-02-06 09:26] #992 closed

[2019-02-06 09:35] Sephster commented on #991
It is good that there is a second person asking for this as it does add weight to the request. @crtl can you provide some more information as to why you want to modify this?

[2019-02-06 09:37] Sephster commented on #990
Hi @ghostika - Sorry, I'm not sure what you mean. This server can only consume and issue access tokens generated by itself. From your initial comments, it looks like you are trying to do something with an access token issued by Facebook. Is this correct?

[2019-02-06 09:41] Sephster commented on #989
Hi @christophemassin - Sorry for the delayed response, I was on holiday. I'm sorry but I'm not familiar with the Heimdal package. I think the easiest way would be to replace the AuthorizationServerMiddleware with your own implementation but it is hard for me to comment without knowing the full workflow.

I would recommend this question is asked on either Reddit/Laracasts/StackOverflow or raised as

[2019-02-06 09:41] #989 closed

[2019-02-06 13:42] crtl commented on #991
Ok.

So the OAuth2 does not define a length for `client_id` and `client_secret`:

From the OAuth2 RFC, Section 2.2 Client Identifier:

   specification.  The client should avoid making assumptions about the
   identifier size.  The authorization server SHOULD document the size
   of any identifier it issues.

So the server should be able to specify its own length.
Viewing the source in [AbstractGr

[2019-02-06 15:17] Sephster commented on #991
Thanks @crtl for your response. Sorry, I didn't phrase my question very well first time around. I suppose I'm more interested in why you want to change this.

@lordrhodos was looking to use UUIDs instead. Are you looking to do something along these lines? I suppose I'm just trying to establish the driving reason behind such a change.

I'm up for giving more control/customisability to the implement

[2019-02-06 16:32] crtl commented on #991
1. The length of `40` is not documented
2. When creating my schema I have to guess the length (maybe it changes) and I have no control over it.
3. I cant implement my own generation algorithm
4. It can also provide backwards compatibility for future releases.

I for example wanted a length of 64 (for whatever reason) but I couldnt change it without extending a dozen of classes and copy/paste.
Sure

[2019-02-06 21:17] jacobweber commented on #806
Before I go ahead with writing tests and submitting a pull request, could I ask if this is something you're interested in at all, and if my approach in [this commit](https://github.com/jacobweber/oauth2-server/commit/54c879aa1aad6d03c12538d562a562d573d0aaeb) is reasonable? It's based on master.

Basically I did this:
- Copied the client validation code from `AbstractGrant` into a `ClientValidator`

[2019-02-07 09:33] Sephster commented on #806
Hi @jacobweber - this is definitely something I would like to add to the server so please feel free to submit a PR. Thanks!

[2019-02-07 09:43] chervand commented on #806
Hi @Sephster @jacobweber. I've already [done it](https://github.com/chervand/yii2-oauth2-server/blob/master/components/Grant/RevokeGrant.php) for the `Yii2` framework integration library. In case you might want it here, I'll submit a PR.

[2019-02-07 09:46] Sephster commented on #991
Agreed that this should be documented if it isn't already.

Can you give a reason why the current implementation is insufficient for your use case though? It really would help prioritise this proposed change if there is a demonstrative use case why this should be changed.

I understand that this change will give you more control but I am struggling to see why the current implementation would cause

[2019-02-07 09:56] lordrhodos commented on #991
@crtl I think you can, you just need to extend the related `Grant*` classes, override the `generateUniqueIdentifier` method and use the classes in the server. So technically this is possible, although this is not a clean and OO solution. Which next to using UUIDs for me was the main issue I saw with the lib and hope to see integrated in a flexible (interface, factory) way.

[2019-02-07 10:01] lordrhodos commented on #991
Sure someone can argue `but its working like it is`. Then I would state that this is a library, developed not to be a final product.

@crtl I am backing this. I think the library should follow the current path to deliver the tools to implement an oauth2 and resource server supporting the defined (specs) oauth2 flow in a as easy as possible way, but also as flexible as possible. When it comes to fl

[2019-02-07 10:17] crtl commented on #991
@Sephster For example I want my identifiers to consists of alnum characters from a-zA-Z0-9.

Now I do understand your point of view more.
In my opinion this is no breaking feature and the priority for me personally is not that high.
I just saw it in the code and thought that there is room for improvement because it breaks with the Single Responsibility Principle and the Seperation of Concerns (and

[2019-02-07 10:31] Sephster commented on #991
Thanks for the discussion guys. I think this is something we should look to do. I'm not sure on timings yet but will flag this as an improvement and reopen the original PR for another look. Cheers both for your contributions here!

[2019-02-07 12:17] Sephster commented on #990
Sorry @ghostika I'm not sure I'm following still. My confusion is stemming from the need to login to Facebook and then authenticate with the OAuth 2 server. I think this question might be better served on StackOverflow as I'm unclear what you are trying to achieve and don't have much familiarity with Facebook's API offerings. Sorry I can't be of further assistance.

[2019-02-07 12:17] #990 closed

[2019-02-07 15:24] Sephster commented on #806
Thanks both for your offers of help with this. I think that Jacob's proposal would be more likely to be accepted. If my understanding of the RFC is correct, this change is adding an endpoint rather than a grant. Thanks both again for your offers of help here.

[2019-02-07 17:33] jacobweber commented on #806
No problem. I will try to work it up into a PR. I may steal some of @chervand's more mature code if he doesn't mind.

[2019-02-07 17:36] chervand commented on #806
@jacobweber I don't mind :)

[2019-02-08 10:41] crtl commented on #991
Additional it sohuld noted that the current documentation for `AccessTokenRepository` and `RefreshTokenRepository` contains the following information for `getIdentifier`

[2019-02-08 11:03] crtl commented on #986
Some people use object ids as their identifiers so in my opinion this behaviour is desired.
`getIdentifier` is called by the library which expects a string but due to the missing type hint the implementation can vary and we can use whatever identifier types we want to use.
We just have to return a `string` for `getIdentifier`.

[2019-02-08 12:48] MichaelKubovic commented on #962
Hi @m0ark, how did you deal with the missing nonce?

[2019-02-08 13:19] Sephster commented on #986
That's a good point. Thanks for looking at this @crtl. I will close this issue down as your logic makes sense.

WRT to the traits vs interfaces comment, I'm sorry if I was not clear enough on this point but I did not confuse these terms.

[2019-02-08 13:19] #986 closed

[2019-02-08 13:28] Sephster commented on #991
I've checked and this is correct because of our use of `bin2hex2`.

[2019-02-10 21:50] lordrhodos commented on #958
just to clarify, this seems to apply only to the following grant types:

* Authorization Code Grant (https://tools.ietf.org/html/rfc6749#section-4.1.2.1)
* Implicit Grant (https://tools.ietf.org/html/rfc6749#section-4.2.2.1)

The error responses for the following grant types *do not require* the `state`parameter:

* Resource Owner Password Credentials Grant
* Client Credentials Grant

(both link t

[2019-02-10 22:39] Spomky commented on #958
@lordrhodos tha’s right. Broadly speaking, the `state` parameter is should be part of any response (success or failure) from the authorization endpoint.
This is true for all response types ; not only the Authorization Code Grant and Implicit Grant but also the ones defined by other specification (e.g. OpenID Connect and its `id_token` or `none` response types)

[2019-02-11 06:11] lordrhodos commented on #958
@Spomky speaking spec language is an own skill I guess 😉

From what I understand this library does not support OIDC (and its erlated response types), nevertheless this should be fixed. What I wonder is how the inclusion of the`state` query parameter should be handled for this library?

@Sephster do you have any opinion about it? Currently the `OAuthServerException` does not know about a `state` pa

[2019-02-11 19:37] Sephster commented on #958
Yeah you are right that we don't currently implement OIDC so this shouldn't be a concern for us and we should just adhere to the already implemented RFCs. At the moment the exceptions are static so I think it would be best if we just pass state in as an argument to the relevant method when applicable and make this argument optional.

[2019-02-12 16:59] eselskas opened #996 "Resource server middleware on a separate API"
Hi guys, great project!

I'm a bit puzzled here. I setup an auth API using your library, its working great for all the grants! Now I have another API for resources. What im trying to achieve is to have middleware in the resource API, validating the token through the auth API. From the examples I've seen (at least this one: https://github.com/thephpleague/oauth2-server/blob/master/examples/public/a

[2019-02-12 22:07] Sephster commented on #996
Apologies if I'm not following your question here but I will give it a go. I think you are correct in saying that you will need to have duplicates.

The Auth Server needs the access token repository so that it can generate and issue access tokens. The Resource Server needs the access token repository so that it can verify that the access token hasn't been revoked. Both should point to the same com

[2019-02-13 09:48] eselskas commented on #996
Thanks for the quick reply, that makes sense now.

Have a great day!

[2019-02-15 18:20] yuloh commented on #889
If anyone else reads this thread wondering about the status of the original issue, the client_secret was no longer required for the password grant in [5.0.0-RC1](https://github.com/thephpleague/oauth2-server/blob/master/CHANGELOG.md#500-rc1---2016-03-24).

https://github.com/thephpleague/oauth2-server/blob/0227f14b7bbeaa2ec1fec378ba0c1afd927e95b0/src/Grant/AbstractGrant.php#L187

[2019-02-15 23:58] EslamIsmail93 commented on #700
passport response The resource owner or authorization server denied the request

[2019-02-20 19:41] vidalvasconcelos opened #998 "Make UserEntityInterface Api more compatible with AccessTokenEntityInterface"
I implementing an package for Zend Expressive and noticed a possible improvement in UserEntityInterface API.

The **AccessTokenEntityInterface** extends **TokenInterface**, this interface require a **setUserIdentifier** method but UserEntityInterface not have a **setIdentifier**, for simple use, this does not cause any problem. but will have great value to improve the isolation these entities.

<i

[2019-02-28 14:15] eselskas commented on #996
Hi @Sephster, I wanted to follow up on the above and clarify something.

Since we have 2 separate APIs (resource & auth), we want to keep their logic completely separate and have them communicating to different databases. I have added the AccessTokenRepository to the resource API for the moment, but the concern is that if we need to modify this repository at some point and roll out the change, we

[2019-03-01 21:11] jacobweber opened #999 "Security question/issue: how is client_credentials grant restricted to confidential clients?"
If you're using the `client_credentials` grant, you [MUST use a confidential client](https://tools.ietf.org/html/rfc6749#section-4.4) with a secret; otherwise anyone can get client-level credentials (right?).

But I don't think there's anything built into oauth2-server that validates this, and there's nothing in the [included example](https://github.com/thephpleague/oauth2-server/blob/master/examp

[2019-03-02 21:16] filecage commented on #649
Couldn't find this in the unreleased section of the `8.0.0` branch so I assume it is not implemented yet. @Sephster do you need any help with that issue?

Making Refresh Tokens optional and especially setting their TTL would be a really nice feature.

[2019-03-02 21:21] Sephster commented on #649
PRs are always welcome so please feel free to have a stab at this. According to the spec (and I am saying this from memory rather than checking it), I don't believe refresh tokens should have TTLs. Making the refresh tokens optional would be great though. Thanks for offering assistance.

[2019-03-02 21:40] filecage commented on #649
Yes, that is why I've wanted to make the TTL configurable, so I can set it to forever :) I'm not spec-safe either but as far as I know, refresh tokens do not have a TTL and can only be revoked, not expire.

However I think that having an optional TTL for Refresh Tokens still is a pretty good idea.

[2019-03-05 18:08] mtangoo commented on #996
I do create my endpoint and do it separately as My resources are always separate from the Oauth server. So +1 for Server inbuilt API endpoint!

[2019-03-05 18:10] mtangoo commented on #700
I would suggest you start with laravel/passport then when you confirm it is indeed this library you then open new issue.

[2019-03-08 19:30] Sephster commented on #999
The `is_confidential` flag is just an example implementation you could use to flag your clients as confidential. In the latest version of the server, we don't currently support specifying whether the client is confidential or public. This is left up to you.

In an upcoming version we will support the ability to flag a client as private or public. For now though, the implementer should just ensure

[2019-03-08 19:30] #999 closed

[2019-03-08 19:33] Sephster commented on #996
It sounds like you want token introspection. The RFC hasn't been implemented yet but it is planned for a future release.

[2019-03-09 07:15] mtangoo commented on #996
Read the RFC and sounds straight forward. Follow this library norms doesn't it mean new `IntrospectionRepositoryInterface` and `IntrospectionEntity` will be needed the former having method like `validateToken(....)`?

I would be happy to write the code if I get correct guidance.

[2019-03-09 18:14] mtangoo opened #1001 "MultipleAccess token for same user and application"
Hi,
I am re-writting the library that works on the top of this library for Oauth2 server and have found little confusing thing here. If I for example create access token from Auth Code grant two times for the same app, I get two valid tokens. Form what I understand, once app request for the new toke, they always discard the older and don't care anymore. So logical way would be to remove old token

[2019-03-11 15:49] Sephster commented on #1001
Are you using the same auth code or multiple auth codes to request the access token?

[2019-03-12 05:40] mtangoo commented on #1001
@Sephster multiple of course!

[2019-03-12 10:05] Sephster commented on #1001
There isn't really anything that I can find in the OAuth 2 spec that says a client can't possess multiple access tokens. I also can't think of a reason why this would be a problem. I suppose the access tokens could have differing scopes and the client could use each one for different scenarios but it would be easier to just ask for the union of scopes across both tickets.

Ultimately, as this isn'

[2019-03-12 10:11] mtangoo commented on #1001
@Sephster I understand that. My concern was that if two tokens have exact same permission and client. I wanted just to get opinions here of what others do. My default setting have been to leave them as they are, but as am refactoring different things I though I should re-visit this too.

My first though was check if token with equal scenario, client and user exists and zap it off before saving new

[2019-03-12 10:12] mtangoo commented on #1001
Sorry if I wasn't clear of what am asking. Asking is a difficult art :)

[2019-03-13 08:57] Sephster commented on #1001
Ahh I see. Ultimately it really depends on you. If you feel these extra tokens are unnecessary/a security concern, I would go with your suggested scenario of removing an identical access token before saving a new one.

If I were implementing the system though, I wouldn't be too concerned with this scenario. Instead, I would be asking why the client has requested an identical token when it already

[2019-03-13 09:43] mtangoo commented on #1001
You are correct. But sometimes its hard to control clients for such things as this. Some app (may be due to incompetent of its developers or just ignorance of Oauth2) requests new token at each user visit. They don't care of refresh token at all.

I think I will stick to standards and let such user shoot their leg and help them heal (kidding)
Thanks for your valuable input!

[2019-03-13 09:43] #1001 closed

[2019-03-18 22:17] crayner opened #1002 "Documentation is in Front of Development"
The documentation shows the use of private_key_passphrase, but the development only uses this in dev-master version.  The standard composer installation fails with the error:

Thanks,  Craig

[2019-03-18 22:19] crayner commented on #1002
Sorry,  wrong package...

[2019-03-18 22:19] #1002 closed

[2019-03-25 12:15] grEvenX opened #1004 "Authorization Code Grant seems to require client_secret?"
I'm trying to authorize a mobile app using the authorisation code grant, but I came up short because it seems like oauth2-server currently requires the client_secret to be passed when exchanging the code for tokens.
From my research it seems that one of the main use cases of this grant are mobile apps that can't (and thus shouldn't) keep secrets and I wonder if it's a bug in the implementation?

Q

[2019-03-26 13:07] sg3s commented on #1004
You can work around the issue by approving the validation without a valid secret in the appropriate step. This is how we do it currently.

This behaviour was improved in PR #938 however, and the changes should be present in the future v8 version as it required backwards incompatible changes (v8 is still in development).

The PRs main goal was to improves how PKCE is activated and enforced so that

[2019-03-26 20:18] grEvenX commented on #1004
@sg3s Thanks for the update, will be looking forward to when this lands in the next release :) I guess this issue can be closed then.

[2019-03-28 13:02] sg3s opened #1005 "Refresh token handling"
I've been working on our oauth2-server implementation recently, and refresh tokens became a subject of interest. Research made me conclude that there are some other things that could be improved upon regarding refresh tokens.

**It seems a bit more fitting to require a special scope from a client before it is included**
Most implementations in the wild seem to require the `offline` (e.g. Google) o

[2019-03-29 15:13] jihanalireza commented on #582
how to urldecode this code bro

[2019-03-29 17:46] Sephster commented on #958
@marc-mabe had submitted a PR to fix the error_description which I had initially accepted but I think it will likely be reverted. Adding my comment here so others can see and generate some discussion:

[2019-03-29 17:51] marc-mabe commented on #958
@Sephster I don't fully get your concerns

From your comment:

spec

What does the current `message` be different then the `error_description` ?

[2019-03-29 17:57] Sephster commented on #958
Sorry @marc-mabe I need to do a bit more reading on this. I initially thought that `error_description` was only used by error responses from the implicit grant and auth code grant as it is explicitly mentioned there but I can see in section 5.2 it is also listed as being used in the password grant etc.

I need to take a step back and check all the places this change will apply but now expect I won

[2019-03-29 18:04] Sephster commented on #958
Looks good to me. It is being used by all grants so happy to leave in. I will roll out a release shortly. Thank you

[2019-04-09 07:34] marc-mabe commented on #991
I also agree here that the unique identifier should be possible to customize in a simple way because:
* it's not defined by the spec (= requirement to be customizable)
* Needs to be stored
  * storages behave differently like for MySQL such long string as primary-key are suboptimal
* gets transferred (encoded/encrypted) ofer the network
  * means smaller sizes will increase network performance
* g

[2019-04-09 11:34] davidvalero commented on #705
Any update about this suggestion? I need to implement a basic token but I'm having problems to do it.

[2019-05-05 08:49] Sephster commented on #649
Reopening this as want to eventually implement Alex's solution of not passing refresh token repository to grants.

[2019-05-05 08:55] Sephster commented on #1005
Hi @sg3s - sorry for the delay in responding. The library aims to conform to spec as much as possible. While I can see the benefits of some of the suggestions above, I think it would make this library a bit more opinionated than it has been in the past. I would prefer for the library to remain spec compliant where possible and be flexible enough to allow developers to add in these non-spec modific

[2019-05-05 08:56] Sephster commented on #1004
Thanks for responding here @sg3s. Marking as closed as no further actions required.

[2019-05-05 08:56] #1004 closed

[2019-05-05 09:12] Sephster commented on #998
At the moment, I can't see a use case for this change. The `UserEntityInterface` is a representation for a user entity which is stored in the DB. Typically the ID of the user would be set when the record is retrieved from the DB and the implementing object is created.

I can't think of a scenario where we would subsequently update the ID or create the entity without knowing the ID in advance and s

[2019-05-05 09:12] #998 closed

[2019-05-05 09:15] Sephster commented on #996
Sorry @mtangoo I haven't had time to read through the spec since a few months back. I would be keen to try and stick to the norms of the library as much as possible in future development though.

[2019-05-05 09:15] #996 closed

[2019-05-06 19:33] mtangoo commented on #996
@Sephster I read again my comment and sounds pushy. That wasn't what I meant. It would be strange if I didn't write after hours of work. Sorry!

You do great work of abiding to the same already 👍

[2019-05-07 08:39] Sephster commented on #996
No worries @mtangoo - I didn't think your comment was pushy at all. Thanks for the kind words and continued support of this package

[2019-05-09 13:18] marc-mabe opened #1007 "Accept key content directly instead of require a key file"
We are running the server in a docker environment with read-only filesystem and we use the same docker image for staging and production.

That's why we configure everything (including keys) using environment variables but this is impossible because the keys are required to be available as files :(

Furthermore you already accept the keys as content but in this case you write them to the filesystem

[2019-05-12 23:06] lipkau opened #1012 "[Question] JWT not in header"
Hello.

I am using this package indirectly over Laravel/Passport.
And I am facing a very annoying problem: (amazon) alexa does not adhere to the oauth standard.
they send the accessToken in the body of the request. [See the documentation](https://developer.amazon.com/docs/account-linking/add-account-linking-logic-custom-skill.html#get-token)

From my investigation as a noob, the current package do

[2019-05-14 21:08] Sephster commented on #1012
I haven't used Alexa but a quick Google search seems to confirm your suspicions, that Amazon is setting the access token in the body rather than the header.

Because the is not valid as per the OAuth 2 spec, we would be unlikely to support this in the core package.

I would advise you extend Passport to support your given case. Sorry I can't be of further help with this.

[2019-05-14 21:08] #1012 closed

[2019-05-21 09:20] sg3s commented on #1005
No worries - I have my own busy weeks too, obviously.

My aim in going in this direction was definitely to keep the library spec compliant. I think there is enough precedent (in open standards) to substantiate an option which makes the refresh token require a specific, but configurable, scope on the authorization request. I do not think this makes the library very opinionated. By default refresh t

[2019-05-21 14:14] sg3s commented on #1007
We are also running a non-root containerized environment with read-only file systems.
Our containers are also never rebuilt between promotions to different environments.
We worked around the issue by always specifying the keys as a file path reference.

But I agree, the library should just take a full key and not try to save it as a file. It tries to coerce you to handle the key safely but the met

[2019-05-22 07:03] christiaangoossens commented on #946
Within the scope of this project: providing a out-of-the-box safe oauth2 library, I would strongly oppose allowing indefinite refresh tokens by default. If this is a feature that is really wanted, I would only consider it by setting an explicit flag (which is also not used in any examples, only stated in documentation). This way nobody will use indefinite refresh tokens without considering the imp

[2019-05-22 07:09] christiaangoossens commented on #1005
I agree with @sg3s that some way of enabling refresh tokens based on the token request or the client also needs to be implemented and that #1000 does not account for this yet. Is adding a simple function call to check if refresh tokens should be enabled, passing the request, an option? Then @sg3s could implement the scope checking as described above himself without it influencing the library.

[2019-05-28 14:14] airguillaume opened #1016 "[Question] Way to read token from url"
Hi there : ),

I am currently using Slim v3 and this package. I successfully integrated the implementation for my API routes.

However, in a confirmation email I am using a link like this (see below) and I would like to know if there is a way to extract the token from the URL.:

If this isn't the place to ask, I apologize.

Best regards,
Guillaume R.

[2019-05-29 12:22] sg3s commented on #1016
If I understand correctly you are sending this email for some kind of account activation?
In any case, getting the access token from a URL is outside of the scope of this library.

I can advice you to do the following things:
1. If you are going to include an access token in a URL, do it in a query parameter, not the path section. The path section is often logged by servers, while query parameters

[2019-05-31 09:43] airguillaume commented on #1016
Hi, sorry for the late response.

Ok so, I think I might have wrongly explained my problem. It isn't how to get the token but how to read it from a string and authorize a request. Is there a way do to something like this ?

[code]

Thanks for the response : )

[2019-06-03 08:59] sg3s commented on #1016
That does make more sense. I think I know what you're after. You want to know how to validate the access token in a non-standard situation.

The library supplies a middleware for the standard situation where a bearer token is validated;
https://oauth2.thephpleague.com/resource-server/securing-your-api/

To validate the token in a request in a non-standard way, I would simply add a middleware which

[2019-06-03 09:11] Sephster commented on #1016
Thanks for your responses with this @sg3s - much appreciated for your assistance. I think @sg3s has covered most of what you will need. I would also suggest you look at the `BearerTokenValidator` class to find out how the OAuth server validates a token, specifically the `validateAuthorization()` function.

Most of the validation is handled by our third party JWT library. We use lcobucci/jwt.

[2019-06-05 12:09] airguillaume commented on #1016
Thank you so much for your responses. This helped me a lot.
 I did not tought about this simple solution that is setting the token in the header after getting it from the url. This works well.

Have a good day :) .

[2019-06-05 12:09] #1016 closed

[2019-06-05 14:14] airguillaume commented on #1016
Hey, it's me again !

I'm not sure if I can ask on top of this question (if not, I still can create a new issue/question ^^) but; I'm trying to manually generate an access token. I followed the methods issueAccessToken, getNewToken and tried to implement it but without success. Is there a link, a resource for this ? I tried a research in the issues but couldn't find anything relevant.

Any help wo

[2019-06-05 14:40] airguillaume commented on #1016
Ok, after digging for a while, I found that I had to ->convertToJWT() . This now works properly. Thank you anyway :).

[2019-06-07 20:40] rodriigomedeiros commented on #675
Hello,  leave come back this subject. My scenario is like the one in @B-Galati , but I'm not understand with implement this in method `finalizeScopes` in `ScopeRepository` class, when verification it is based in an **Client**. Could you show an example of this? How should I deny the request? Client1 should only have access to scope1 resources.

Thanks.

[2019-06-10 05:13] zerkms opened #1018 "Repositories typing contradiction"
The `ClientRepositoryInterface` is currently implemented as https://github.com/thephpleague/oauth2-server/blob/master/src/Repositories/ClientRepositoryInterface.php

[code]
As you can see it declares the return type as `ClientEntityInterface`.

Now in a few places where it's used (eg https://github.com/thephpleague/oauth2-server/blob/master/src/Grant/AbstractGrant.php#L197) it usually is invoked a

[2019-06-13 15:26] sikhub opened #1019 "Toggling between plain and JWT access token"
There has been a lot of talking (also in the issues of this project) about the access token being encoded into JWT token.

The implementation seemed OK for us until we came over AWS API Gateway (https://aws.amazon.com/api-gateway/), where you can upload access tokens and AWS takes care of verifying requests before even hitting your application to spare you unneeded requests.
However, AWS allows th

[2019-06-13 21:56] simonhamp commented on #1019
You would probably still need to be able to encode various identifiers in those 128-character keys to make them useful as tokens from OAuth2 Server’s perspective.

Remember that a token isn’t simply an API key, it’s a hashed store that encoding useful details about the authentication contained therein.

To replace that with a fixed-length key will almost certainly require some loss of data and fle

[2019-06-16 06:59] wk-done opened #1020 "Where or how to login?"
Hi,
I have more a question than an issue.

I'm about to implement a single page application. Other apps should be able to access the resources from other apps/pages in the future too.
These resources has to be secured, so I need authorization and authentication.
I never used OAuth or OIDC so please pardon me if I ask dumb questions. ;-)

I would like to use the **authorization code grant**. I read

[2019-06-17 16:51] Sephster commented on #1020
Your SPA will be accessing a protected resource which will usually be a collection of API endpoints that the user will have access to. For example, if a user wanted to give access to their Facebook data, they will typically already have an account in Facebook and Facebook will provide an OAuth compliant login.

This server doesn't deal with the login to the protected resource. It just passes the c

[2019-06-17 17:00] Sephster commented on #1019
I'm unfamiliar with the API gateway sorry. As @simonhamp has said though, the reason we use a JWT is because it acts as a bearer token which is self validating. The advantage is that we should be able to validate this without needing to query the database over and over again which is much better for performance in most cases.

As Simon had mentioned, we also encode information in the JWT to furthe

[2019-06-18 16:19] Sephster commented on #1018
Hi @zerkms - thanks for raising this. It is a duplicate of #799 so I will close this issue for now in favour of tracking it there. Cheers.

[2019-06-18 16:19] #1018 closed

[2019-06-18 16:36] Sephster opened #1021 "Support Leeway in JWT Validation"
The JWT library we use now supports clock leeway. We should allow implementations to use this feature in an upcoming version of this library

[2019-06-18 16:46] Sephster commented on #675
@rodriigomedeiros which grant are you using?

[2019-06-18 17:36] rodriigomedeiros commented on #675
Hello @Sephster , I'm use Authorization Code.

[2019-06-18 21:05] zerkms commented on #799
Trying to answer @sergeyklay question about "Is Client entity absence a normal condition, by design, or not?" to bring this issue back to life:

I think the client entity is a normal expected condition by design: one may put any rubbish in a request.

If I designed it these days and only targeted supported php versions I would:

1. Declare `League\OAuth2\Server\Repositories\ClientRepositoryInterfa

[2019-06-18 21:08] Sephster commented on #675
In the auth code grant, when the user grants permissions to access their resources, they should be shown a list of scopes that have been requested by the third party.

If they are happy with granting these scopes, the user will authorise the request and an authorisation token will be created. This will contain details on the permissible scopes.

It can then be exchanged for an access token which i

[2019-06-20 19:38] wk-done commented on #1020
Ok, thanks for the explanation. That's what I thought that I'll need to take care of the login.
What was confusing me is the comment in the [example (auth_code.php)](https://github.com/thephpleague/oauth2-server/blob/master/examples/public/auth_code.php). There is an endpoint "/authorize". And in there, there is the following block:

[code]

1. What should happen before this step? Should the user

[2019-06-20 19:38] #1020 closed

[2019-06-21 08:36] Sephster commented on #1020
Thanks @wk-done for the feedback. I think many of these questions are answered through the OAuth2 spec so would be best answered there.

I note however, that we don't have a link to any easy to read spec for OAuth2 in our docs so it is probably worth us adding something in on the intro page. I will get this sorted so that users of the library have more guidance. Thanks for your feedback.

[2019-07-02 12:56] JeroenVanOort opened #1025 "Refresh token revoked before we're sure the new tokens were received successfully"
We're using this package, via [Laravel Passport](https://github.com/laravel/passport), to build the API for a mobile app. Having mobile clients comes with problems surrounding unstable connections. In this case, the problem seems to be that the client can successfully send a request to the server, but can't receive the server's response. For most requests and responses, this isn't too much of a pr

[2019-07-02 15:05] 2blane commented on #1025
I agree completely I’ve been running into this same issue myself.

[2019-07-02 16:52] airguillaume opened #1026 "Token still working after after user deletion"
Hi,

This is more a question than an issue but; as it is mentioned in the title, if I delete a user, he can still do thing on my service because the token is still valide. How should I manage this case?

This happened during the development phase. I deleted all my tables, re-run migrations and tried to access a route with a token generated before the reset. The user id is 31, and there is only 30

[2019-07-02 21:12] Sephster opened #1027 "Add PHPStan Strict Rules"
As part of the release for version 8, I removed PHPStan's strict rules as it required big changes to a lot of signatures. I didn't want this to delay the release of v8 any further so will aim to add this back in at a later version. Adding an issue here to track.

[2019-07-03 11:34] datapp commented on #1026
Hi,

it's an expected behaviour. in the moment you create an access token, you have to define the time to life (default: 1 hour). During this hour the token will always be valid. After this period, the app has to refresh the token and your oauth server recognize that the user (and/or the refresh token) isn't valid any more.
oauth is designed for distributed systems, so the resource server don't ne

[2019-07-03 11:50] Sephster commented on #1026
You must revoke the access token. It is a bearer token meaning anyone who is in possession of it can access the protected resources the token affords.

As @datapp mentions, this is by design in the OAuth 2 spec.

I hope this answers your question but if you ah e any further comments please feel free to get in touch

[2019-07-09 00:34] rodriigomedeiros commented on #675
I understood @Sephster , I implemented what was missing in my case. Thank you!

[2019-07-09 00:35] rodriigomedeiros commented on #675
Understood @Se, I implemented what was missing in my case. Thank you!

[2019-07-09 00:35] rodriigomedeiros commented on #675
Understood @Sephster, I implemented what was missing in my case. Thank you!

[2019-07-09 05:47] B-Galati commented on #675
@rodriigomedeiros FYI I did that -> https://github.com/EnMarche/en-marche.fr/blob/6ca2a7906ffa9471a703a78c35a31adfba9d4f6d/src/OAuth/Store/ScopeStore.php#L22-L43

[2019-07-09 11:50] rodriigomedeiros commented on #675
@B-Galati , cool. In my case, it is not all customers that implement scope because until then all were self consumption. So, I had to implement differently. Here is a small sample of my solution.

The main point is in the oAuthController class, line 54-68. In addition, I created a middleware for when the client has scope defined in my registry, it necessarily needs the correct scope to access the

[2019-07-11 12:58] duchnoun commented on #442
+1 for this feature , any news ?

[2019-07-13 04:10] bs-thomas commented on #802
@bretterer
@simonhamp
@JasonTheAdams

Hello there I was wondering if anyone has finally been able to integrate this in a vanilla PHP project?

Any responses is highly appreciated as I'm considering this.

(I'm running Laravel behind, but I'm not a big fan of framework dependent libraries and prefer to use the vanilla way as it's usually more transparent, clean, and easy to switch out to another li

[2019-07-13 10:56] Sephster commented on #802
@bs-thomas the library is framework agnostic. It can be integrated with any framework or used with a vanilla PHP installation.

[2019-07-13 11:14] bs-thomas commented on #802
Thank you very much for your message.

Yes while I do know that it Can be used with vanilla PHP, based on the upper comments it seems like the documentation was not very clear on how it is to be used on vanilla PHP.

So I was just wondering if the documentation has been improved on this aspect.  The time I read the documentation, It was based on slim framework I think.

And I was just seeing if an

[2019-07-13 20:25] Sephster commented on #1026
@airguillaume I'm closing this due to a lack of activity but if you have any follow up questions please feel free to get in touch by adding a comment here.

[2019-07-13 20:25] #1026 closed

[2019-07-13 20:34] Sephster commented on #716
@stratoss sorry for not picking this up earlier. I think this issue got lost when switching maintainers and I somehow haven't seen it until now.

Could you please explain why you need to retrieve the access token or refresh token's expiration time from these functions? I'm not following the use case for this at present.

Thanks and apologies again for not spotting this issue earlier

[2019-07-13 21:03] Sephster commented on #1025
This is something that has been brought to my attention before and I'm a bit stumped on how to resolve this.

The reason we revoke your refresh token is to make the server more secure but it does have the draw back, as you have seen, that if you have a break in connection, you might not receive the new code.

One way this could be changed is to allow you to use the same refresh token over and over

[2019-07-13 21:05] Sephster commented on #1019
@sikhub I'm closing this issue due to lack of activity. If you'd like to continue this discussion, please respond and I will reopen the issue. Thanks for getting in touch.

[2019-07-13 21:05] #1019 closed

[2019-07-13 21:28] Sephster commented on #1007
Thanks for the suggestion @marc-mabe. We've just released a new major version and as this would be a BC change, it would be a while before we'd get this into the system.

As time goes by, I'm wondering more and more if we should have a .env file for the server for all these small options to make them easier to configure such as PKCE enablement, keys etc.

I will mark this as a future feature for t

[2019-07-13 21:45] Sephster commented on #1005
I see where you are coming from now. I suppose my main reservation is that according to the spec, the issuing of a refresh token is usually at the discretion of the authorization server, and not the client.

The problem with this stance is that we could be issuing a refresh token that is neither wanted or used... which isn't ideal. I will need to do a bit more reading around this but definitely fo

[2019-07-15 08:40] JeroenVanOort commented on #1025
Thank you for your understanding response.

To avoid having to ask for personal data as much as possible, the app uses anonymous users by default. When you first use the app, it calls an endpoint on our API, which creates an empty user and returns the access and refresh tokens. Just the few users that wish to use multiple devices (including users migrating to an other or new device) enter a userna

[2019-07-15 08:47] sg3s commented on #1025
Interesting. I can see how that works. You could use something like dynamic client registration for that, which would provide the client with a client id and secret to use in perpetuity, saving user registration and determining credentials for when the user actually wants to register.

Aside from that I get that requesting user interactions in other scenarios can be a hassle with unstable internet

[2019-07-15 09:19] sg3s commented on #1007
I would be strongly against using a `.env` file directly. This package is still a library and should be implemented in projects managing the config on their own. Defining the use of a separate `.env` for authorization server variables would also be against recommendations (at least in the node version of the dotenv lib [they explicitly say so](https://github.com/motdotla/dotenv#should-i-have-multi

[2019-07-17 00:59] 2blane commented on #1025
What if the client provides feedback that they have received the tokens? So the flow would look something like this:
1) Client’s access token expires.
2) Client sends request to refresh tokens.
3) Client receives new access and refresh tokens back from step 2.
4) Client sends request to server that we have received the new tokens and the server expires the old refresh token.

Step 4 is the only th

[2019-07-17 20:25] matt-allan commented on #889
Apparently this was changed back at some point, as Version 8.0 [requires the client_secret for the password grant](https://github.com/thephpleague/oauth2-server/blob/e1dc4d708c56fcfa205be4bb1862b6d525b4baac/src/Grant/PasswordGrant.php#L52).

[2019-07-17 20:57] Sephster commented on #1025
I'd prefer not to add extra steps into the flow. I think the only way we can resolve this is to allow users to have a non-expiring refresh token. It would probably be best if we implement this as the same time as the token revokation RFC. I have no timescales for this at present as we've only just released version 8 which modified the PKCE support for the library.

[2019-07-17 21:10] 2blane commented on #1025
Didn't know about the "Token Revocation RFC". That's a more formal version of my Step 4 above. Looks like a good way to handle this issue.

[2019-07-22 21:22] matt-allan opened #1034 "Example client repository allows public clients when it shouldn't"
The client credentials grant should only be used by confidential clients:

https://tools.ietf.org/html/rfc6749#section-4.4.2

The `ClientCredentialsGrant` class does not validate that the client is confidential, but instead calls `ClientRepository::validateClient`.

To prevent a public client from using the client credentials grant type you would need to check the `$grantType` and fail validation

[2019-07-22 22:09] matt-allan commented on #1034
Something that was confusing to me about this is the `AuthCodeGrant` [only calls `validateCredentials` for private clients](https://github.com/thephpleague/oauth2-server/blob/e1dc4d708c56fcfa205be4bb1862b6d525b4baac/src/Grant/AuthCodeGrant.php#L102) which made it seem like you no longer needed to check if the client was confidential before attempting to verify the secret.

However the refresh toke

[2019-07-22 23:20] matt-allan opened #1038 "The 'Which Grant' docs are outdated and don't reflect best practices"
The ['Which Grant?'](https://oauth2.thephpleague.com/authorization-server/which-grant/) page of the documentation is outdated and the recommendations don't match up with current best practices. Specifically:

- The password grant is recommended for first party clients, but the [OAuth 2.0 for Browser-Based Apps IETF draft recommends the authorization code grant](https://tools.ietf.org/html/draft-pa

[2019-07-22 23:36] matt-allan commented on #1005
They are still going back and forth about it on the mailing list but currently the recommendation is to [not issue refresh tokens to public clients](https://tools.ietf.org/html/draft-parecki-oauth-browser-based-apps-02#section-8).

Assuming the IETF sticks with that recommendation if refresh tokens become optional in the server it would be good to allow choosing based on the client so you could pr

[2019-07-23 08:19] Sephster commented on #1034
Hi Matt. Thanks for spotting this. Personally I think that we should only allow confidential clients so update the grant. Previously we didn't do this as we had no way of knowing if a client was confidential. We left those details up to the implementer. I think it would be wise we update the grant now to restrict it to confidential clients only.

For the other grants, we should probably follow sui

[2019-07-24 13:03] davispuh opened #1039 "No redirect for some AuthCodeGrant::validateAuthorizationRequest errors"
Most error cases in `AuthCodeGrant::validateAuthorizationRequest` doesn't redirect back to client even when `client_id` is specified.

For example when using "Authorization code grant" and client sends query with
 `response_type=code&client_id=existing&redirect_uri=https://...` I would expect that it would get redirected back with error so client would know they're doing something wrong.

But for

[2019-07-24 17:57] rafaelmiti opened #1040 "Private key permissions inside docker"
I had to set a read permission for other users (604) in my private key to the php function `is_readable()` pass.

I guess the problem is related to the use of docker.

I'm using this image: yiisoftware/yii2-php:7.3-apache
Creating this volume: ~/.ssh/app:/app/config/keys:delegated

It would be a security problem add the 604 permission to this line?
https://github.com/thephpleague/oauth2-server/blo

[2019-07-25 08:00] rishabhpoddar commented on #735
I believe this is a very real problem! And to solve it (plus, not have the possibility of a replay attack), here is what I thought of:
- Let's say the current refresh token is R1 and current access token is A1.
- Now, A1 has expired, so we use R1 to issue a new R2 and A2. We keep R1 in the DB, and send R2 and A2 to the client.
- If the client get's R2 and A2, they will use A2, at which point we ca

[2019-07-25 08:42] Sephster commented on #735
I'm locking this thread as there is a new active discussion in #1025 - I will keep that issue open and keep discussions there. Thanks

[2019-07-25 09:08] rishabhpoddar commented on #1025
I believe this is a very real problem! And to solve it (plus, not have the possibility of a replay attack), here is what I thought of:

- Let's say the current refresh token is R1 and current access token is A1.
- Now, A1 has expired, so we use R1 to issue a new R2 and A2. We keep R1 in the DB, and send R2 and A2 to the client.
- If the client get's R2 and A2, they will use A2, at which point we c

[2019-07-25 12:13] sg3s commented on #1025
@rishabhpoddar While I can see how your proposed logic could work, but it would not fit how refresh tokens are persisted in this library currently. The library requires the full refresh token to persist it, and we cannot encode the full refresh token in an access tokens for obvious reasons (super-insecure). Just a refresh token id might be safe and acceptable though.

Maybe I am understanding it i

[2019-07-25 13:23] rishabhpoddar commented on #1025
@sg3s Thanks for your quick reply!
"we cannot encode the full refresh token in an access tokens for obvious reasons" -> yes sorry.. i forgot to mention you encode the hashed value of a refresh token in the access / refresh token you are sending over to the client. And in the database, you store the double hashed version..

Almost all your queries could be answered if you have a look here: https://

[2019-07-25 17:45] Sephster commented on #1040
Unfortunately it would. The key should be restricted to its owner or group but never exposed to the world. Ideally you should add the other users to the group that this key belongs to instead.

I hope this resolves your issue but if you have further comments, please do get in touch.

[2019-07-25 17:45] #1040 closed

[2019-07-25 17:52] Sephster commented on #1039
There are only certain instances where we would use the redirect uri in an error state. If the client issues an invalid, missing, or mismatching redirect uri, we do not use it. Similarly if the client ID is missing or invalid, we again ignore the redirect URI. This is a security precaution.

If you know of any specific instances where you believe we are not adhering to the spec, please let me know

[2019-07-25 17:55] Sephster commented on #1038
Thanks for pointing this out Matt. Unfortunately I don't have access to the old file so it would be the case of creating a new file to facilitate this.

I think it is going to need to be remade. I have flagged this as documentation and will see if I can get round to it at some point (although creating diagrams is not my strong point, especially on Linux)

[2019-07-25 18:22] matt-allan commented on #1038
It looks like the sketch file is in the repo. I can try to install a sketch demo on my MacBook when I get home from Laracon.

[2019-07-25 18:53] Sephster commented on #1038
Thank you. If there is a way to convert to an SVG that would be great as well. Hope you're having a good time at Laracon

[2019-07-25 21:29] davispuh commented on #1039
That is correct but this library doesn't redirect in some cases even when that's not true.

That's why I created this issue, because there are such cases, which can be seen by looking at code.

Examples I noticed

- When `is_confidential=false` GET `/authorize?response_type=code&client_id=valid&redirect_uri=https://example.com/valid_uri` (no `code_challenge`)
- GET `/authorize?response_type=invali

[2019-07-25 21:35] Sephster commented on #1039
Thanks. I will take a look at this over the weekend.

[2019-08-15 22:38] uphlewis commented on #740
I appear to also be getting PREG_JIT_STACKLIMIT_ERROR on PHP 7.0

[2019-08-16 09:08] Sephster commented on #740
My understanding is that turning pcre.jit off in the .ini file should resolve this. Did you restart your php instance? I don't think this error can be thrown if jit is turned off.

As an aside, I think we need to look at making this preg more efficient. It might not be possible (I am by no means a regex expert) but I think there might be some optimisations we can make.

We also probably need to li

[2019-08-16 09:17] uphlewis commented on #740
@Sephster So i was disabling pcre.jit with ini_set in my application bootstrapping- ini_get('pcre.jit') at the point the error occurs was returning 0, so i was under the impression it was turned off.

The worst part about this is the error message contains my private key, so that ends up in plaintext in my error log. Frustratingly it was happening intermittently (consistently every 3rd request odd

[2019-08-16 09:19] mrgrain commented on #740
@Sephster Another option would be to make some of the checks in `CryptKey.php` optional. They are nice for a quick start, but as someone how knows what they are doing and what their input is, I really don't need these checks to happen.

[2019-08-19 16:46] uphlewis opened #1046 "Throw error if preg_match() fails in CryptKey constructor"
Follow-up to my comment here: https://github.com/thephpleague/oauth2-server/issues/740#issuecomment-521945609

It seems a few people have been having trouble with the [RSA key regular expression in CryptKey.php](https://github.com/thephpleague/oauth2-server/blob/master/src/CryptKey.php#L19-L20), myself included.

For me, the biggest problem here is we aren't **aware** when `preg_match()` fails bec