[2019-08-19 17:03] uphlewis commented on #1046
PR: #1047

[2019-08-23 02:00] mav2287 commented on #442
+1 the previous post said V5, but it doesn't look like OpenID Connect ever got added. Where are things at with this?

[2019-08-31 19:32] Sephster commented on #993
Fixed in PR #1042

[2019-08-31 19:32] #993 closed

[2019-08-31 20:01] Sephster commented on #1039
Confirmed as an issue for at least the first scenario. Needs resolving.

[2019-09-10 21:46] Sephster opened #1050 "AuthCodeGrant issues a 500 response if user sends a valid refresh token by mistake"
This is because a refresh token doesn't have an `auth_code_id` in its payload and we check for this in the AuthCodeGrant. See issue https://github.com/laravel/passport/issues/1077 for further details.

While it is unlikely this scenario would occur, we should add a basic check for the presence of the `auth_code_id` so we can respond with an appropriate error message to aid developers that make thi

[2019-09-12 07:57] HVStechnik commented on #442
+1

[2019-09-14 00:10] contiverosrx opened #1052 "Default Scopes Broken?"
I'm using Laravel Passport with default scope options, but I am getting an error stating that my default scope is invalid. Upon further inspection, it appears that the default scope is not added to the scopeRepository under the AbstractGrant.php file. I see that there is a variable called defaultScope, but nowhere in this file is the default scope set in the scopeRepository nor checked when valida

[2019-09-14 07:56] simonhamp commented on #1052
@contiverosrx Please can you paste the Passport config where you define your available scopes *and* your sample request for an access token with those scopes?

[2019-09-15 01:44] contiverosrx commented on #1052
After trying a few things, I found that adding a scope description in the Passport config resolved this issue.

Currently, adding a scope description is optional; that is, I don't get any error messages that they are required. It would be good to require scopes to have descriptions and have a nice error message for it OR add logic to handle scopes without descriptions.

Passport Config
[code]

Req

[2019-09-17 08:29] Sephster commented on #1052
I think this is likely to be a Passport specific issue as we don't have scope descriptions in the library. Closing this issue but if you feel there is something directly related to the library please shout and we will be happy to reopen it.

[2019-09-17 08:29] #1052 closed

[2019-09-17 21:33] Sephster commented on #1038
Marking this as closed as updates by @matt-allan have now been merged into the documentation. Thanks again

[2019-09-17 21:33] #1038 closed

[2019-09-19 06:42] SlvrEagle23 opened #1053 "Add "fragment" response_mode support for Auth Code grants."
With the big important folks who write the OAuth standards (I forget what they're called...OWASP?) shifting over to recommending an unauthenticated auth-code flow with PKCE as a replacement for the implicit flow, a number of JS libraries out there that implement this new auth-code flow (in particular, [okta-auth-js](https://github.com/okta/okta-auth-js), which isn't built for League OAuth server b

[2019-09-27 19:20] strongholdmedia commented on #884
Many of the errors are returned from Grants.
Sadly, the way Passport is integrated with Laravel currently does not make it quite easy to override/extend parts of it, but it can be done.

[2019-10-02 09:22] Sephster opened #1056 "Return Type Inconsistency"
Most repos return `string` for their `getIdentifier()` function. However, the user repo returns `mixed`. This causes confusion as implementers might think that you can return `mixed` for a client repository but this is not true.

We either need to move the `getIdentifier` calls into their own respective repos or force the user interface `getIdentifier` call to return a string in version 9.

[2019-10-04 15:01] sg3s commented on #1053
The response mode parameter and returning auth codes in the fragment part of a URL is part of the OIDC Multiple Response Type Encoding Practices specification.
https://openid.net/specs/oauth-v2-multiple-response-types-1_0.html

The OIDC standards are currently not implemented by this library.

[2019-10-07 10:20] Sephster commented on #1053
@sg3s is right. Until OIDC is supported we will not look to implement this. Closing for now. Thanks

[2019-10-07 10:20] #1053 closed

[2019-10-08 22:21] #1050 closed

[2019-10-10 09:57] ThisIsAreku opened #1059 "Usage of invalid_grant for password grant"
In case of an authentication failure in password grant, the returned error is a `invalid_grant` (400)
https://github.com/thephpleague/oauth2-server/blob/07bb5e0aece3207e868c706bec10301551a99b68/src/Grant/PasswordGrant.php#L97-L108

I can't find any informations in RFC about `invalid_credentials` but thinks it's a more appropriate error in this case, and it's already defined in `OAuthServerExceptio

[2019-10-10 10:34] Sephster commented on #1059
We returned `invalid_credentials` in version 7 but found this did not comply with the OAuth 2 RFC. Unless stated, servers should return a 400 response. The `invalid_grant` response should be returned if client_authentication fails. Details for this change can be found [here](https://tools.ietf.org/html/rfc6749#section-5.2).

I hope this clarifies matters but if you'd like to discuss further please

[2019-10-10 10:34] #1059 closed

[2019-10-17 22:20] #1046 closed

[2019-10-18 14:47] nickw1 opened #1061 "User authentication/authorisation: is this the correct flow?"
`Hi,`

Related to issue #1020:

I've read through the docs, examples and general articles on the flow of an OAuth2 application and I *think*  I've got the flow correct, in the /authorize endpoint, for redirecting the user to a login form and the user authorising access to the client app.

The logic I use in my /authorize endpoint is as follows:
Call AuthorizationServer::validateAuthorizationReques

[2019-10-20 16:33] Sephster commented on #1061
Hi Nick. Yep, that seems about right to me!

[2019-10-21 15:59] nickw1 commented on #1061
Thanks! What I'll probably do then is to publish a minimal working client/server example on gitlab soon, I think that will help people get started. When I do feel free to raise any corrections/improvements as issues!

[2019-10-21 16:09] Sephster commented on #1061
Thanks @nickw1 -  I will mark this issue as closed but if you have any further comments please feel free to shout

[2019-10-21 16:09] #1061 closed

[2019-10-25 12:42] velser opened #1062 "Race condition on key file save in CryptKey because of touch"
Hey fellows.

There is a place, when we can have race condition for key saving. `touch` creates empty file, and if at that point any request will go through file_exists it will return empty file and will not pass through permission checks and other things. Currently i have adapter for CryptKey which do not do any touches.

I would suggest removing touch, as file_put_contents validation is more tha

[2019-10-25 17:02] nickw1 opened #1063 "Full OAuth2 client/server example"
Hi,

As promised in issue #1061 I have produced a full, minimal, OAuth2 client/server example using the League client and server libraries - including user authentication and authorisation and a (one-endpoint) API.

I thought this would be useful to others wishing to code an OAuth2 server.

Do NOTE these important caveat! It's a quick and dirty job; basically it's the 'simplest possible thing that

[2019-10-25 21:59] Sephster commented on #1062
Thanks for reporting this @velser - it looks to be a legacy issue. Originally, the code used to check if the file exists and if it could touch. If everything passed, it would write the file.

At some point around two years ago, we put the file writing in an if statement  to check if the file had actually been written. In all honesty, I can no longer see the reason for the touch statement, because

[2019-10-25 22:57] #1062 closed

[2019-10-26 16:23] joseL02 opened #1065 "How can save de token in database?"
How can save de token in database?  Which is the parameter ti return de access token?

[2019-10-26 21:34] Sephster commented on #1065
In the case of the authcode, you implement the `persistNewAuthCode()` method which is documented in the _AuthCodeRepositoryInterface_.

For the access token, you similarly use the `persistNewAccessToken()` method which is documented in the _AccessTokenRepositoryInterface_.

[2019-10-26 21:36] Sephster commented on #1063
Thanks @nickw1 for the update. If possible, could you add this to the original issue so all discussions are contained to that thread? Thanks again for providing an update.

[2019-10-26 21:36] #1063 closed

[2019-10-28 17:46] nickw1 commented on #1061
Hi,

As promised  I have produced a full, minimal, OAuth2 client/server example using the League client and server libraries - including user authentication and authorisation and a (one-endpoint) API.

I thought this would be useful to others wishing to code an OAuth2 server.

Do NOTE these important caveat! It's a quick and dirty job; basically it's the 'simplest possible thing that works'.

Also

[2019-10-28 17:47] nickw1 commented on #1063
@Sephster OK have added to original issue (#1061).

[2019-11-05 22:54] A2DNEW opened #1067 "Fatal error: Uncaught Error: Class 'ClientRepository' not found"
I use this code:

[code]

But I get error :

[2019-11-06 12:36] Sephster commented on #1067
Have you create a ClientRepository class? It is not provided by the server as we don't know what underlying DB you will be using. You need to create a ClientRepository class that implements all of the methods in the ClientRepositoryInterface.

Hope this helps!

[2019-11-06 12:37] Sephster commented on #1065
Closing this issue due to a lack of activity. If you have follow up comments please feel free to post here and I will be happy to take another look.

[2019-11-06 12:37] #1065 closed

[2019-11-06 21:59] A2DNEW commented on #1067
I only intsall oauth2 with composer
How where create ClientRepository class?

[2019-11-07 20:16] caiquearaujo opened #1068 "AuthorizatonServer::respondToAccessTokenRequest returning access token two times"
I really don't know what is going on, but when generates a new access token, it being returned twice. I'm getting the following response:
[code]
At server side it's generating twice JWT tokens, calling twice `persistNewAccessToken` from `AccessTokenRepositoryInterface` (saving two access token into database) and returning, at end, the response above.

My `AuthorizationServer` setup:
[code]

I'm us

[2019-11-07 20:59] caiquearaujo commented on #1068
I got what going on, it's on:
[code]
The `AuthorizationServerMiddleware` already does the route function callback, so I removed it.
[code]
It was my lack of attention, haha.

[2019-11-07 20:59] #1068 closed

[2019-11-09 12:02] Sephster commented on #1067
It is up to you where you create it. It will depend on your project structure. If you want an example, take a look in the examples folder which should hopefully point you in the right direction: https://github.com/thephpleague/oauth2-server/tree/master/examples/src/Repositories

[2019-11-14 16:05] kpn13 opened #1070 "How to deal with CryptKey permission"
Hi,

Sorry to put on the table again a question many times discuss here but it is still not clear for me.

The crypt key is owned by the webserver with 600 permission. So it cause a problem when in dev environment we launch phpunit tests with an other user.

What should we do to avoid this problem ?

Thank you for your help.

[2019-11-25 08:33] vanteew29 commented on #439
getRedirectUriwhen_you_send_2x_2018_v1https://github.com/thephpleague/oauth2-server/blob/master/src/Grant/AuthCodeGrant.php#L119-L122

[2019-11-25 19:09] Sephster commented on #439
I don't understand your comment. Could you clarify if you have found an issue please? Thanks

[2019-11-26 22:00] Sephster commented on #1070
Hello. Sorry for my delay in replying to this. What are you testing in this scenario? Could you also detail why you can't run your tests as the same user? Cheers.

[2019-11-26 22:01] Sephster commented on #1067
Closing this issue due to a lack of activity. If you still have questions please feel free to respond and I will reopen this for further discussions. Thanks

[2019-11-26 22:01] #1067 closed

[2019-11-26 23:33] Sephster opened #1073 "Support Public Clients for Password and Refresh Token Grant"
Something that was confusing to me about this is the `AuthCodeGrant` [only calls `validateCredentials` for private clients](https://github.com/thephpleague/oauth2-server/blob/e1dc4d708c56fcfa205be4bb1862b6d525b4baac/src/Grant/AuthCodeGrant.php#L102) which made it seem like you no longer needed to check if the client was confidential before attempting to verify the secret.

However the refresh toke

[2019-11-26 23:34] Sephster commented on #1073
Under the current implementation, we can't support public clients for the password grant or refresh token because we always check client credentials. We need to add a same is confidential check to these grants that we have for the auth code grant.

[2019-11-26 23:37] Sephster commented on #1034
Closing this as the original issue has been resolved. I've opened up issue #1073 to deal with the public client support issue. Thanks @matt-allan

[2019-11-26 23:37] #1034 closed

[2019-11-26 23:53] Sephster commented on #958
Need to force `error_description` for version 9 and add in state response to the exception if present to close this issue off.

[2019-11-27 08:21] kpn13 commented on #1070
Hi,

Here is the scenario :

1 - First time I go to my application with my browser, the crypt key does not exist, so it's created and owner by my web server user (www-data) with permission 600.
2 - Then I want to launch my test suit using Phpunit. It failed because the user executing tests is not www-data (obviously) and my user does not have permission to use the crypt key.

`LogicException: Key

[2019-11-27 15:34] Sephster commented on #1070
In our own tests, we create a stub key and chmod the file to 0600 at run time which solves any issues. This would probably be your cleanest option. I've included the relevant section of code in the test for reference.

https://github.com/thephpleague/oauth2-server/blob/b1582d052063397edccd1b09e49d8906ea20af10/tests/AuthorizationServerTest.php#L34-L40

Please do let me know if this is what you were

[2019-11-28 08:27] kpn13 commented on #1070
Hi @Sephster ,

Thank you for your answer, it's exactly what I need !

Thank you for taking time for my question !

[2019-11-28 08:27] #1070 closed

[2019-11-28 16:33] uphlewis commented on #885
It would be nice to be able to do this without having to re-implement/copy+paste the guts of `AccessTokenTrait::convertToJWT()` completely.

How about if we added the following method to `AccessTokenTrait`:

[code]

That gives any descendants the opportunity to simply override the `setCustomScopes()` method, and then in `AccessTokenTrait::convertToJWT()` we can run the builder through that method

[2019-12-12 16:18] sheridans opened #1076 "Scopes in separate tables"
I've been working with integrating doctrine with zend-expressive-oauth2 which officially uses this library, I have the auth flow pretty much working whereby user has to login and authorise clients & scopes (if present).

During the process due to having a large amount of scopes (and readability) I wanted to drop the [imploded] "scopes" column from the oauth_access_tokens table, create related scop

[2019-12-14 14:36] wapacro commented on #442
+1

[2019-12-17 16:09] matt-allan opened #1077 "Support hash instead of query string for authorization response"
Hello,

I was building a demo with the [AppAuth](https://appauth.io/) JS library and learned that the AppAuth library returns the authorization response code and state params in the URL hash instead of the query string.

I [opened an issue](https://github.com/openid/AppAuth-JS/issues/137) to ask why it doesn't conform to the spec and learned they are doing this to avoid the code and state params b

[2019-12-17 17:55] Sephster commented on #1077
Hi Matt. Thanks for the investigation and background on this. Do you know of any other server implementations supporting this? Usually if a behaviour isn't in the spec, we won't implement it but I'd be keen to see how widespread this is. Thanks!

[2019-12-17 18:14] Sephster commented on #1076
Hi @sheridans. The `convertScopesQueryStringToArray()` function is called from the `validateScopes()` function. The scopes are usually passed from the HTTP request or from the decrypted auth code which is a JSON object. This will always be a string as far as I can tell.

I'm wondering if there is a scenario I've missed where we are passing the scopes from the scope repository? If there is a scenar

[2019-12-18 00:32] sheridans commented on #1076
I may be wrong and it could be something to do with doctrine entities, seems to be related to the below section of code in AbstractGrant:

[code]

Since `convertScopesQueryStringToArray($scopes)` is private I managed to overcome the issue by extended the AbstractGrant class and overriding the above function which then allowed me to override the convertScopesQueryStringToArray() function.

Possibly

[2019-12-18 22:58] matt-allan commented on #1077
I looked around and didn't see any other implementations doing this. Google seems to still be using the implicit grant so I couldn't even find an example of them doing this.

I was thinking about this some more and with PKCE it doesn't seem like a huge benefit from a security standpoint - PKCE already protects the token from interception.

I'm going to go ahead and close this for now, thanks for t

[2019-12-18 22:58] #1077 closed

[2019-12-26 16:03] robitwtms commented on #808
Has there been anymore progress on example implementations? I've been banging my head against a wall trying to figure out how to get this setup with symfony.

[2019-12-26 19:49] pilotcurler commented on #808
I was able to get it setup using bshaffer/oauth2-server-php after a
significant amount of futzing, but no changes to bshaffer code.   PHP 7.2.
Symfony 4.  I can reliably generate tokens, and have integrated a database
to store them.

From: Robert Quinn <notifications@github.com>
Sent: Thursday, December 26, 2019 11:04 AM
To: thephpleague/oauth2-server <oauth2-server@noreply.github.com>
Cc: Doug <g

[2020-01-08 18:38] Sephster commented on #808
I'm not too familiar with Symfony myself but this community plugin might be of use: https://github.com/trikoder/oauth2-bundle

[2020-01-14 00:20] andrewmclagan commented on #898
We will be working on an implementation starting ASAP.

https://github.com/wp-headless

The intention is to integrate it into the wp-headless ecosystem that is being developed. Javascript client and react data fetching bindings. For a fully supported headless CMS environment.

[2020-01-28 00:42] andrewmclagan commented on #885
Agree with @uphlewis, even if `convertToJWT()` returned an instance of `Builder` and not `Token` we could extend the trait and modify the token returned in `__toString()`

[2020-01-30 11:56] philrennie commented on #1076
I've been hitting this also, where I have scopes as a doctrine entity.

When the code is unpacked in AuthCodeGrant->respondToAccessTokenRequest() line 88
`$authCodePayload = json_decode($this->decrypt($encryptedAuthCode));`
the scopes property is a single empty stdClass.

I think the problem comes down to when the code is created in completeAuthorizationRequest()
`
$payload = [
                ...

[2020-01-30 13:02] sheridans commented on #1076
Good work, glad it wasn't just me having that issue, would be good to get the PR merged. I overcame the issue by extending each of the grant classes in my applications, which is tedious.

[2020-01-31 22:51] Sephster commented on #1076
Do either of you have some example code you can share? From @philrennie's pull request it looks like the way you have implemented the `getScopes()` function is the problem?

Is there a reason you can't just have your version of getScopes return an array of scopes? This would be the correct way to implement the function

[2020-02-03 11:29] sykezz commented on #442
+1

[2020-02-03 11:33] philrennie commented on #1076
Hi,

I think the underlying issue is the json_encode on line 358 of AuthCodeGrant. The contents of the scopes array shouldn't need to take it in to account.

So in my code getScopes returns a doctrine arrayCollection of scope entities, which implement scopeEntityInterface, which satisfies the constraint for getScopes() to return an array, but doesn't json_encode properly.

`/**
     * @var ScopeEn

[2020-02-04 10:16] Sephster commented on #1076
Sorry but I don't think this is an issue the library should be fixing. If I understand correctly, your scopes are not a simple array, but instead a Doctrine arrayCollection which is a wrapper around an array object.

The library does not expect to receive an arrayCollection which I think is what you are trying to work around. Because this is an implementation issue that doesn't affect the majority

[2020-02-04 10:34] kgrosvenor commented on #442
Need this

[2020-02-04 14:42] kohlerdominik opened #1085 "Feature Request: Allow wildcard subdirectory for redirect uri"
Hi all

We’d like to propose a change of behavior regarding Redirect URLs. We use the proposed method right now in a customized implementation and we are ready to create a PR from it. However, we would prefer to have approval that the PR would be merged before creating it.

**Current behavior**
Multiple redirect urls are allowed. Each URL is required to be listed exactly.

**Proposed behavior**
Sa

[2020-02-04 16:22] Sephster commented on #1085
I very much see the need for this request but I think it is unlikely we would accept this feature. We try to match the server as closely as possible to the specs and make the library flexible enough that if you want to deviate from this, you should be able to (with overrides or custom implementations).

I double checked the specs and it does specify that we require exact matches. Could you use the

[2020-02-04 18:38] kohlerdominik commented on #1085
Thank you very much for your quick response.

We thought of utilizing the state parameter, but we were not happy with the possible results. Therefore, as said, we already wrote a custom implementation for the `AuthCodeGrant`. It's this changes that we'd like to merge back to this repository. We thought that other developers could benefit from this, too, and beside it's a little easier for maintena

[2020-02-05 06:21] arietimmerman commented on #442
I just published the source code of the OpenID Server as used by [idaas.nl](https://www.idaas.nl/). You can find it here https://github.com/arietimmerman/openid-server

It has currently one dependency, being `league/oauth2-server`. It extends a set of classes in order to provide support for the OpenID Connect authorization grant and implicit grant.

However, I had to strip out some idaas.nl specif

[2020-02-06 21:59] Sephster commented on #1085
Hi @kohlerdominik - sorry but I think we wouldn't merge this in as it is not part of the OAuth spec. I've done some reading around and can't see this as a normal practice although I do appreciate that there are some implementations that allow this. I think, without this being something recommended in the OAuth spec, we would not merge this in.

For what it is worth, in the spec, I think the sectio

[2020-02-06 21:59] #1085 closed

[2020-02-06 22:23] yovchev commented on #1076
@sheridans the function `validateScopes` is correct it expects `string` or `array` as specified in ` * @param string|array $scopes line 283` and instead you are passing an `object` that's why it fails with `expects parameter 1 to be a string`  because is not an `array` where is this object generated can you share the implementation of the `AuthCodeEntity` in your setup?

@philrennie

Can you confi

[2020-02-06 22:42] yovchev commented on #1076
Also as @Sephster mentioned why don't you just override the `getScopes` function in your `AuthCodeEntity` implementation

[code]

[2020-02-10 09:34] x3a opened #1088 "Fix client validation in ClientCredentials-Example"
After setting up the provided examples like described in the corresponding `README.md` the client validation for the ClientCredentials-Grant authorizes any client independent from which credentials were sent during the request.

**Example**

[code]
So this works as expected, but the next one doesn't.

[code]
This should fail because of invalid credentials but doesn't. The problem lies in the provi

[2020-02-10 09:57] x3a commented on #1088
I was able to fix this, this is how the correct response should look like:

[code]
See: [Pull Request](https://github.com/thephpleague/oauth2-server/pull/1089)

[2020-02-10 12:43] kgrosvenor opened #1090 "How can i restrict access token/refresh token expiry based on client?"
I would like to do something like this but it is not working, any ideas why, it seems like this would be the place to override the default behaviour?
[code]
I feel the system should register this and allow us to override the time based on clients, currently you can only set one global level expiry...

[2020-02-10 13:09] kgrosvenor commented on #1090
Sorry yep this is working my bad!

[2020-02-10 13:09] #1090 closed

[2020-02-11 16:50] diego-sorribas opened #1091 "Change UserRepository users table"
Hi ! It is possible to change where the UserRepository check the users credentials ? For example if I have already a users table how I can implement oauth2-server check my users table instead the oauth_users?

In bshaffer oauth2 server you can pass config to the storage.

[2020-02-11 19:31] Sephster commented on #1091
The package doesn't specify which tables (or even which storage mechanism) you use. You are free to implement this however you want. All as you need to do is create a UserRepository that implements the UserRepositoryInterface.

That interface has a function called `getUserEntityByUserCredentials`. You can implement this function so that it checks your existing table.

As long as you make it return

[2020-02-11 19:33] Sephster commented on #1076
Thanks for the input @yovchev. I agree with what you are saying. I think this is an implementation issue that can be resolved by the implementer without needing to change the server. Because of this, and the lack of follow up comments, I'm going to close this issue.

However, if I have misunderstood the underlying issue, please provide me with a concrete example of the issue at hand and I will be

[2020-02-11 19:33] #1076 closed

[2020-02-11 19:44] #1091 closed

[2020-02-11 19:52] Sephster commented on #1088
Fixed in pull request #1089

[2020-02-11 19:52] #1088 closed

[2020-02-12 09:13] SOHELAHMED7 opened #1092 "Default Scope does not work as expected"
Server - http://localhost:7876/web/index.php

Client - http://localhost:7878/web/index.php

When we have URL (present in client app to Oauth with server)

scope - email is present - this case works fine

http://localhost:7876/web/index.php?r=oauth/default/authorize&client_id=1&response_type=code&scope=email&redirect_uri=http%3A%2F%2Flocalhost%3A7878%2Fweb%2Findex.php%3Fr%3Dsite%2Fredirectedhere

B

[2020-02-16 06:02] Imboga opened #1093 "invalid_grant Error When Credentials are Incorrect"
I'm using the native oatuh2-serve included in Laravel 6.2.
In the previous version of oauth2-server, I used to face a 400 error when credentials were missing and 401 error when credentials were wrong.
This is not happening since this [PR #967](https://github.com/thephpleague/oauth2-server/pull/967/commits/2b4974b697ca937d37f407c429d792c467af7ec5).

Is this the way you handle returning errors now?

[2020-02-18 07:20] kamholz commented on #1085
@Sephster I think there should be more discussion on this topic. Two points:

1. It's not really accurate to say the requested wildcard feature is "not part of the OAuth spec". It's not _required_ by the OAuth spec, but it's permitted -- we're dealing here with a SHOULD requirement, not MUST. So, the decision to exclude it would be easier to understand if there was a more explicit justification --

[2020-02-18 09:42] Sephster commented on #1093
Hi @Imboga - yep, we changed this because the old response wasn't conforming to the OAuth 2 specs properly. You could possibly leverage the event to track an invalid credentials attempt

[2020-02-18 09:48] Sephster commented on #1092
Taking a quick look at this, I think there might be a bug here. I'm going to flag it as so and will take a look at it more closely later. I think that 0 could be a valid scope but because of our `empty` usage, we aren't detecting this. Thank you

[2020-02-18 11:07] Sephster commented on #1085
This RFC points to why we will avoid dynamic URIs https://tools.ietf.org/html/draft-ietf-oauth-security-topics-14#page-11. It is too fraught with dangers and abuse to warrant inclusion in the main branch.

[2020-02-18 17:56] SOHELAHMED7 commented on #1092
Let me know if more info needed. Happy to help. Also willing to help you with PR if needed

[2020-02-18 19:28] kamholz commented on #1085
Thank you. That citation is very helpful.

[2020-02-20 22:28] Imboga commented on #1093
Perfect! Thanks for your fast reply. I will try to find a way to handle this.

[2020-02-20 22:28] #1093 closed

[2020-02-25 15:42] yob-yob opened #1097 "What hint message should we use to identify a failed authentication of user?"
Please read pull request #967 to fully understand the reason for this issue

Hi, I already did the research and yes, I found out that this does conform to the OAuth 2 specs

BUT!...

can we put a hint on this? I could see that the exception returns this
- error
- error_description
- hint
- message

but the hint data is empty. if we could use this, then it would be easy for devs to know that the cr

[2020-02-25 22:20] Sephster commented on #1097
I've added a hint now which will be released in version 9. I don't have a timescale for this being released at present. If you are desperate for this notification, I would recommend using the event that is also issued as a stop gap in the meantime. Thanks for your suggestion.

[2020-02-25 22:20] #1097 closed

[2020-02-28 16:07] nivv opened #1099 "Authorization Code flow and PKCE"
I'm having some trouble with oauth and the Authorization Code flow and PKCE. How can I get a refresh token?

The refresh token flow requires a `client_secret`, but PKCE prohibits `client_secret`. Is refresh token a no go?

Am I missing something? I've searched around on the obvious places, but all I can find is that `client_secret` is required for the `refresh_token`-grant.

[2020-02-28 16:28] Sephster commented on #1099
Sorry I'm in work just now. If you are right, and we are explicitly requiring a client_secret, we will need to change this as it is not complying with the spec. We should only request this from confidential clients.

[2020-02-28 17:01] nivv commented on #1099
@Sephster I left the `client_secret` blank like below:

[code]

It's stored as empty string in the DB as well. So I guess it works as intended!

[2020-02-28 19:33] #1099 closed

[2020-02-29 20:18] Sephster commented on #1097
I have decided to revert this change. The hint is usually returned in the exception so there is a chance it could be exposed to the end user. This could be a security concern as the specs deliberately obfuscate the reason for the error to reduce the attack surface.

Because we have an event for this, I think it would be best implementers use the event instead and log this in their application log.

[2020-03-26 15:25] alterphp opened #1101 "Refresh a token from a different client"
This is not an issue but a question about implementation.

I have many webapps, each using its own subdomain. Each webapp is an OAuth client. When I'm logged on a webapp, I'm also logged on the other ones, so that I can browse between my webapps without authenticating against each one.

Problem: base implementation of RefreshTokenGrant disallows refreshing a token from a different client (cf. http

[2020-03-26 15:38] Sephster commented on #1101
If you want to stick with the OAuth spec, then you shouldn't change this. If a different client uses a refresh token, how is the spec to know that the token hasn't been leaked? It's a security measure to prevent attacks.

Hope this helps!

[2020-03-28 23:24] #1101 closed

[2020-03-30 10:48] Sephster commented on #1025
Hi all. I have given this a lot of thought and I think this is something that should be fixed by the implementer.

I recently made a change for a client who was having such an issue. I modified the revoke function so that it revokes a ticket after X minutes. I also modified the implementation so that a client could have at most, one set of tokens associated with them (so if the refresh token is us

[2020-03-30 10:48] #1025 closed

[2020-04-06 12:59] Richard87 opened #1103 "[Help needed] Adding authorization level to access-token"
Hi!

I can add the required authentication security level to my AuthCode, since I know it at the time, but how can I transfer that knowledge to the AccessToken (either in the database, or as a claim in the JWT)

I'm already using OpenID Connect, but I'm not sure how to transfer that "knowledge" properly...
I need to know if the user is authenticated with Email/Password, 2-FA with a SMS-code, or 2F

[2020-04-06 17:28] Richard87 commented on #1103
Ps, I don't need to add it to the JWT, but I do

[2020-04-07 08:52] Richard87 commented on #672
@alexbilbie Sorry for bringing this upp, 4! years later...

I have a similar problem, I need to know the security level the user authenticated with (username/password, username/password+otp or high-security external oidc-provider).

This information is available when authorizing the user, and stored in the AuthCode, but it's not available when I produce the AccessToken or the IdToken. I don't care

[2020-04-07 08:56] Richard87 commented on #672
Is this something you would accept a pull-request to fix?

[2020-04-07 11:50] Richard87 commented on #1103
My hacky solution...

1. Add a function "getAuthCode" in `AuthCodeRepositoryInterface`, so we can fetch it later
2. Modify the access token
 - Fetch the request token first, so we can access the encyrpted AuthCode
3. Modify AccessToken, to include our new claims in `__toString()`

First get a hold of the request object
[code]

[code]

[2020-04-07 12:17] Sephster commented on #1103
Hi @Richard87 - it would probably be best to have this stored on the JWT as a custom claim although changing the finalizeScopes method might also work for you.

At the moment, I'm trying to push through a large PR on the device code grant so don't have time to look at this just now. My partner and I have just had a baby so things are going to be a bit slower just now for a wee while.

I'm going to

[2020-04-07 12:17] #1103 closed

[2020-04-07 12:21] Sephster commented on #672
@Richard87 I would definitely accept a PR for this issue as it should be straight forward. As @Shkeats suggested, we just need a nullable reference to the auth code ID.

This is an interface change though so wouldn't be released until the next major version and would need to be created on the v9 branch. Cheers

[2020-04-07 14:27] Richard87 commented on #1103
of course, no problem, take your time, I have solved it temporarily, and congratulations!

(for future records, "finalizeScopes doens't work, because it doesn't have access to the authCode or the authorization session cookies etc)

[2020-04-14 03:18] Veitor commented on #782
@Sephster My problem is different from them but you also need to change AccessTokenRepositoryInterface to accept the token instead of tokenID.

From the perspective of the resource server, the resource server and auth server are not on same mechaine.  client request resource server with access_token, resource server use your `ResourceServerMiddleware` to validate access_token.  and actually using

[2020-04-15 08:23] manticorp commented on #783
It's also very difficult/impossible to implement those exact permissions on a Windows machine.

The check should be disabled by default, or pushed to another, specific method, e.g. a static ```CryptKey::checkPermissions($file)``` that can be invoked as needed, not in the constructor for CryptKey.

[2020-04-15 15:20] TheNodi opened #1106 "OAuthServerException: Unauthorized instead of Internal Server Error"
(This issue comes from Laravel Passport, but it is applicable to every token repository that can throw a generic error.)

I'm using MySQL as storage for Access Tokens (default Laravel Passport implementation). When a request comes in, `BearerTokenValidator::validateAuthorization` is called to validate the parameters.
If MySQL is not available (e.g. `Too Many Connections`), every authenticated requ

[2020-04-15 16:15] lk77 commented on #1093
Hello,

is there a way to restore the old behaviour ?

[2020-04-15 17:15] Sephster commented on #1093
The only way would be to downgrade to an older version of the library. I would recommend that if you need to track this, you should leverage the events systems instead.

We won't be reverting this change as the previous implementation didn't conform to the OAuth 2 spec unfortunately.

[2020-04-15 22:19] Sephster commented on #1106
Thanks for spotting this. Because this is a PDO error and in general, this library is storage agnostic, I think it is right we don't specifically capture this error. Happy to implement your suggest of just moving the code lines.

Have created PR #1107 to address this. Thanks for reporting

[2020-04-15 22:22] #1106 closed

[2020-04-16 07:07] lordrhodos commented on #962
@m0ark I am interested in this as well. Hit the same issue.

[2020-04-18 11:09] Sephster commented on #672
Closing as merged in #1112

[2020-04-18 11:09] #672 closed

[2020-04-20 18:23] lordrhodos commented on #884
@Sephster I have been looking into possible ways of translation handling and I have some question about the approach you prefer.

From what I understand all issues and requests related to translation are fully optional and related to the provided error responses based on the `OAuthServerException::generateHttpResponse` method:

https://github.com/thephpleague/oauth2-server/blob/4e4a6b6a7e6c2e9cdfe

[2020-04-21 19:49] strongholdmedia commented on #884
This idea is excellent.

In fact I am yet to see a single instance of actual implementation in which the exceptions have been translated.
But given this is a feature, and it already exists, I am not against it _per se_.

That being said, the notion of Symfony translator being overkill is absolutely on spot.
If that is a default implementation, fine - but please provide options for both overriding

[2020-04-26 14:11] DJPretorius commented on #705
@Sephster, Has there been any progress on using non JWT bearer tokens?

[2020-05-07 12:56] siarheipashkevich commented on #1093
@Imboga did you find the solution for your problem?

[2020-05-09 15:00] delboy1978uk opened #1114 "One client per user?"
Hi there, and thanks once again for your awesome package.

Quick question. I added a user ID column to my clients table, my thinking being that a user can create an API key, and it creates the client. So far so good, with the client_credentials grant at least.

However, I'm now on an iPhone app, and have read that as these devices are not confidential, we should not have the client secret in the s

[2020-05-09 15:11] simonhamp commented on #1114
You probably don’t want to create a new client for every user.

Is this _your_ iPhone app, that you’re planning to allow _your_ users to authenticate with _your_ OAuth service?

[2020-05-09 15:13] delboy1978uk commented on #1114
Yes it is, I got my server rocking and so have moved on to some SwiftUI so that I can put it to use! :-)

[2020-05-09 16:54] simonhamp commented on #1114
So you really only need one client as this is just one client application.

Each user authenticates via that client, the authentication issues a temporary token which allows the app to act on behalf of the user.

Your client ID and secret will have to be in your source code somewhere, but usually in some kind of encrypted keystore that should protect them on each user’s device. I’m no iOS dev, but

[2020-05-13 20:40] Sephster commented on #1114
I don't think you should tie your client to your user. These are two distinct concepts in OAuth and a client will typically have many users. I would recommend that you keep these separate if possible. You should still be able to retrieve the associated user ID from the access token.

For the iPhone, you will need to use the auth code flow with PKCE to maintain security. Hope this helps!

[2020-05-13 20:40] #1114 closed

[2020-05-17 17:55] jerfeson opened #1115 "The access token return is wrong or I am doing something wrong."
I am using version "8.1.0". In previous versions, the BearerTokenResponse class generated the access token based on JWT, now the accessToken object defined in the AbstractResponseType class is needed, the setAccessToken method is converted to a string, but it turns out that in this case it is unable to cast

**AbstractGrant**

[code]

**AbstractResponseType**
[code]
**BearerTokenResponse**

[code]

[2020-05-17 18:33] jerfeson commented on #1115
Sorry I found my mistake, it was between the chair and the keyboard. the convertToJwt function was replaced by the magic __toString method, it was in the documentation in the update area.

https://oauth2.thephpleague.com/upgrade-guide/#access-tokens

[2020-05-17 18:33] #1115 closed

[2020-05-17 20:32] Sephster commented on #1115
No worries :) Good luck on your install.

[2020-05-28 05:38] Misosooup opened #1117 "Question on refresh token scopes"
At the moment, refresh token scopes are returned base on the access token scopes set.

When a user request for a new access token via the refresh_token grant type and he/she requested lesser scope than what the original access token has. Should the refresh token have the original scopes or should the refresh token has the new scopes requested.

1. If the refresh token has the new scopes requested,

[2020-05-29 07:34] jkufner opened #1118 "Wrong warning about public key permissions"
`PHP Notice:  Key file "file:///.../public/../public.key" permissions are not correct, recommend changing to 600 or 660 instead of 644 in /.../vendor/league/oauth2-server/src/CryptKey.php on line 63`

This warning makes no sense. It is a public key. Anybody can have it.

[2020-05-29 10:28] Sephster commented on #1118
Fair point. Would welcome a PR to fix this.

[2020-05-30 15:19] HenrijsS commented on #1097
As you reverted this change, what would now be the best method on differentiating Invalid request between invalid credentials? I was just following some Laravel passport tutorials and this update makes the verification part of the tutorials obsolete.

[2020-05-31 18:56] Sephster commented on #1097
@HenrijsS I would recommend using the event and logging it

[2020-05-31 19:11] HenrijsS commented on #1097
Turns out the problem was that even though specifying the APP_URL, it doesn't store the token when using NPM [Browsersync](https://www.browsersync.io/).
Going back to the local url works but I just have to refresh the page manually every time I make code changes which is a bummer but not a dealbraker.

[2020-06-02 20:27] EverGreeff opened #1119 "Tutorials"
Hello, how can I start learning about this library? I searched for hours and found nothing for beginners, is this library so hard to learn?

Thanks.

[2020-06-03 13:22] skroczek opened #1120 "Usage of Custom Claims"
First of all thank you for this great library and for all the work that went into it. And of course congratulations to @Sephster on the new human fork. :partying_face:

So what I'm currently trying to implement are custom claims.  What I actually want is relatively simple. I want an equivalent to this:

[code]

-> I would like to add additional information to the JWT.
However, I don't see how I ca

[2020-06-03 14:33] Sephster commented on #1120
Hi @skroczek - thank you so much for the well wishes. I think I'm over the worst of the sleepless nights now. Thanks for your kind words regarding the package.

I've seen in Passport that there are some calls to add custom claims to the JWT so this is something we definitely want to look at. You are right though, that unfortunately at this stage, there is no way to do this out of the box. It would

[2020-06-03 14:33] #1120 closed

[2020-06-03 20:16] skroczek commented on #1120
Thanks for your quick response. Of course, it would be nice if it would already work, but I was already expecting this answer. It rather makes me feel better that I didn't miss anything obvious and it is also a chance to contribute to this library
I have therefore created a fork (https://github.com/skroczek/oauth2-server/tree/wip/private-claims) to help me to evaluate what is needed. I haven't tes

[2020-06-04 05:07] Misosooup commented on #1119
For the start, you need a basic understanding of what oauth2 is. The different types of grants, etc. It really depends on what grants you want to support in your auth server.

There are 3 parts to Oauth2,

1. Getting the AuthCode
2. Using the AuthCode to get the AccessToken
3. Using the refresh token to request for a new access token.

This library supports everything and is very extensible.

[2020-06-25 22:10] hafkenscheid opened #1125 "AuthCodeGrant validateAuthorizationRequest uses defaultClientRedirectUri"
Case:
- A client with
   - multiple redirect URIs: ``http://localhost1 http://localhost2 http://localhost3``
   - none, one or many scopes: ``scope1 scope2``
- A request with:
   - a valid redirect URI (not being the first one): ``http://localhost2``
   - an invalid scope ``scope3``

[code]
Result:
- A response to the defaultClientUri, being in this case ``http://localhost1``

So, the response is

[2020-06-25 22:34] Sephster commented on #1125
If you have multiple redirect URIs against a client, you must specify which one you want the request to be redirected to. If this is not specified in the request as the `redirect_uri` parameter, we just take the first one in the array and redirect to that.

It might be more appropriate to enforce clients to specify the redirect uri they want us to use if they've registered multiple ones but this w

[2020-06-25 22:37] Sephster commented on #1119
Sorry I thought I had responded to this. Have you look at the [documentation site](https://oauth2.thephpleague.com/)? I would also recommend checking out the examples directory in this repo which shows a working example with Slim. If you have any specific questions, I'd be happy to answer them.

[2020-06-26 06:31] hafkenscheid commented on #1125
I do explicitly set the redirect_uri parameter (``http://localhost2``), it is validated, and valid.

When this function starts validating the scopes, it ignores the validated redirect_uri and starts using the default. That goes well if the scopes are valid, but in the case of invalid scopes, the error only holds the default. And the error handler than returns to the default instead of the explicit

[2020-06-26 10:27] Sephster commented on #1125
I see. Yep, this looks to be a bug. Previously the library forced clients to specify a redirect_uri on every call. The default URI was added so that clients didn't have to specify the redirect URI. Looks like we need to modify this so it only uses the default if a valid redirect URI hasn't been provided. Thanks for pointing this out

[2020-06-30 23:26] Sephster commented on #1125
Fixed in PR #1126. I will aim to create a bug fix release tomorrow. Cheers again for reporting.

[2020-06-30 23:26] #1125 closed

[2020-06-30 23:27] Sephster commented on #1119
Closing due to lack of activity.

[2020-06-30 23:27] #1119 closed

[2020-07-03 13:12] Sephster commented on #1118
Looking at this further, the CryptKey class was originally introduced to use passwords with your private key. I need to do a bit more investigation into this to find the best way to resolve it.

[2020-07-04 21:50] kedomingo opened #1127 "Unable to validate scopes from auth code grant type because it is validating the json encoded Scope object instead of just the scope identifier"
Hello, I am trying to implement this project and I encountered this problem while working on the auth code grant.

The scopes encoded in the auth code payload encodes the whole Scope object. This can be seen in `AuthCodeGrant::completeAuthorizationRequest()`. `$authCode->getScopes()` must return `ScopeEntityInterface[]`.

Using `authorization_code` grant type, decoding the auth code sets the `scop

[2020-07-04 22:49] kedomingo commented on #1127
solved.

I didn't realize `jsonSerialize` is called during json_encode, and my implementation of that function in `ScopeEntityInterface` returns the objects shown above.

Closing

[2020-07-04 22:49] #1127 closed

[2020-07-07 19:45] Pchelolo commented on #1120
We (Wikimedia Foundation) are currently using this library in production for OAuth support in Wikipedia and its sister projects and are very happy with it, thank you a lot for building and maintaining this project.

We are very interested in supporting private claims for one of our infrastructure projects, so we would be happy to help with getting the pull request by @skroczek accepted. We are goi

[2020-07-07 21:38] Sephster commented on #1120
Hi @Pchelolo - thank you for the kind words regarding the project. The PR is definitely something I'd be keen on integrating into the system but I haven't had time to do a full review yet as I welcomed my first child into the world a few months back. Things are easing up now so I'm hoping to dedicate more time to this.

If you have time to perform a review of the PR that would be welcome. @skrocze

[2020-07-08 07:48] skroczek commented on #1120
Hi @Sephster and @Pchelolo , I would be very happy if someone would review the pull request. Here is a short summary of the current status: As far as I can tell, the pull request should not have any back compatibility breaks. This is best verified again, since the pull request has become a bit more extensive. However, it has been made sure that the changes are optional. The tests have been adapted

[2020-07-16 12:25] RubenKruiswijk commented on #798
This happened to us as well this week. Are there any plans to address this here or reopen https://github.com/thephpleague/oauth2-server/pull/1017?

[2020-07-21 18:21] jhoff opened #1129 "Typo in AuthCodeGrant.php"
https://github.com/thephpleague/oauth2-server/blob/master/src/Grant/AuthCodeGrant.php#L313

Pretty sure it's supposed to be `code_challenge` not `code_challenged`

[2020-07-22 15:07] #1129 closed

[2020-07-22 15:07] Sephster commented on #1129
Thanks for reporting this. Fixed now. Cheers

[2020-07-23 13:10] Sephster commented on #798
Yes this is planned for a future major release. Listed as issue #1021

[2020-07-23 13:10] Sephster commented on #798
Closing this issue to track in #1021

[2020-07-23 13:10] #798 closed

[2020-07-28 11:01] Aliance commented on #35
@alexbilbie Can I use that package for implementing OpenID Connect?

[2020-07-29 12:38] Sephster commented on #35
Not yet but there is a package available from a third party which will allow this https://github.com/steverhoades/oauth2-openid-connect-server

[2020-08-02 03:48] RanjeetSingh00 opened #1131 "I can Add milti account feature"

[2020-08-03 11:53] Sephster commented on #1131
Please can you provide a bit more details about what you mean? Thank you.

[2020-08-03 11:58] Sephster commented on #1117
It looks like we should be issuing the refresh token with the same scopes as the original, regardless of what scopes were requested.

I think this should probably be changes to better match the spec. Thanks for flagging.

[2020-08-04 09:45] RanjeetSingh00 commented on #1131
I want to make a oauth authentication system with multi accounts like google or others.

[2020-08-06 12:53] Sephster commented on #1131
Connecting to accounts like Google sounds more like a client task. Many of these oauth providers are already integrated into https://github.com/thephpleague/oauth2-client - I would take a look there to see if this suits your requirements. Thanks

[2020-08-06 12:53] #1131 closed

[2020-08-16 12:53] ezralazuardy commented on #934
any update to this feature request?.. it'll be awesome if this library support dynamic registration protocol though..

[2020-08-25 21:39] pszalko opened #1133 "Notice: Undefined offset at AuthCodeGrant when redirect uri not defined"
Case related to #1125:

Client:
* no default redirect URI specified -> returns empty array on `getRedirectUri()`

AuthCodeGrant:
* expects array returned from `$client->getClientUri()` has at least one element
* defined client returns an empty array

Result:
* PHP Notice: Undefined offset: 0 at /src/Grant/AuthCodeGrant.php (line 271)

[code]

[2020-08-28 14:07] ppritcha opened #1136 ""Implementation" for Authorization Code Grant seems incomplete"
I'm new to the library and trying to use the example code in the "Implementation" section for the Authorization Code Grant.  Within the code for /authorize, I see:

// The auth request object can be serialized and saved into a user's session.
// You will probably want to redirect the user at this point to a login endpoint.

How would I go about doing that from within this function?  The example se

[2020-08-29 13:51] Sephster commented on #1136
I'm not aware of any complete implementation that is out there for the Slim Framework. The purpose of the examples is to get you going but you will need to fill in some of the gaps with knowledge about the Slim Framework or adapt the example to whichever other framework you might be using.

To serialize an object, you would use the `serialize()` function which returns a string that you can then st

[2020-08-29 13:51] #1136 closed

[2020-08-31 13:29] ppritcha commented on #1136
Thanks for the response.  I was able to find a different oauth2 library with more complete documentation and examples that should get me going faster.  Wishing you all the best with your ongoing development of this library.

[2020-08-31 20:36] Pchelolo opened #1137 "Support adding `issuer` claim to the access token JWT"
The JWT [iss](https://tools.ietf.org/html/rfc7519#section-4.1.1) claim is a registered claim name for the JWT standard. Some validator implementations, most notably [envoyproxy](https://www.envoyproxy.io) require the issuer claim to be set in various circumstances, however there's no way right now to specify the claim in the access token emitted by the library.

[2020-09-05 12:04] Sephster commented on #1133
Thanks for spotting this. I will aim to get a fix out today. It looks like we aren't properly detecting invalid clients that have no redirect URI associated with them.

[2020-09-18 02:49] spronkey opened #1139 "Question about migrating from v4 non-JWT access tokens"
I'm updating an implementation using v4 of this package to v8, moving to Laravel\Passport and looking at how to provide a migration path for clients that have non-JWT tokens.

I have existing clients using access and refresh tokens that are simply strings that match up to strings in the database. The current implementation of the Bearer Token Validator seems to be specifically targeted at JWTs, an

[2020-09-23 12:16] Sephster commented on #1139
The rewrite for version 5 was quite extensive. I am not aware of people writing fallback mechanisms but I assume people have done this.

I think you would be best writing an alternative BearerTokenValidator as you have mentioned which lifts logic from version 4 until you can weed the old tokens out of your system.

Sorry I can't be of further help with this by providing examples etc.

[2020-09-23 12:16] #1139 closed

[2020-09-23 12:38] Sephster commented on #1137
Hi @Pchelolo. Thanks for your PR. The _ISS_ claim is not required as per the JWT spec so the JWTs issued by the server are valid.

I believe the reason we haven't included the claim initially is because our access token entities are converted to JWTs when they are issued using the AccessTokenTrait.

If you want to add an issuer, you could replace the AccessTokenTrait's `convertToJWT` call with cod

[2020-09-23 12:38] #1137 closed

[2020-09-23 21:18] #1133 closed

[2020-10-04 02:39] bradjones1 opened #1142 "Meta/Feedback: Change JWT library from lcobucci/jwt to web-token/jwt-framework"
I'm not aware of the specific history of choosing a JWT library to use, but the conversation at https://github.com/thephpleague/oauth2-server/issues/1007#issuecomment-511330307 leads me to ask the question, how difficult would it be to swap out `lcobucci/jwt` for [`web-token/jwt-framework`](https://github.com/web-token/jwt-framework)?

Both appear to have active development/maintainers, though nei

[2020-10-04 03:09] bradjones1 commented on #1007
Trying to collect context regarding this and related problem spaces/issues: With the addition of [`CryptKeyInterface`](https://github.com/thephpleague/oauth2-server/pull/1044) we could continue to abstract out the key handling such that the generation of a JWKs manifest works regardless of the specific cryptography in use.

[2020-10-12 13:19] meyer59 commented on #1093
@Sephster can you provide an example how to handle events to return different status code ?

[2020-10-14 16:03] ol1s commented on #885
Even once you have managed to add custom claims to the JWT, how do you get them back out of the validated request?

Currently `BearerTokenValidator` is hard-coded to return only 4 specific claims:

[code]

[2020-10-14 22:01] Sephster commented on #1093
@meyer59 If you are using the server middleware, you could maybe intercept the exception and change the response to whatever you want it to be. I wouldn't recommend this though as the responses given by the server are valid OAuth responses. Hope this helps

[2020-10-16 04:04] pigochu opened #1143 "Question: how server create identifier ?"
I think identifier is too long ,  is is possible let us choose 36 base identifier ?  ex.  base_conver( $identifier , ? , 36)

[2020-10-22 10:07] KieronWiltshire opened #1144 "Per token expiration time"
Why is it not possible to specify per token expiration time? I'm using Laravel Passport, please see my issue here which explains my trouble.

https://github.com/laravel/passport/issues/1356

[2020-10-22 12:27] Sephster commented on #1144
Typically the expiration time is a security consideration that is taken by the server owner as they will be tasked with protecting the data. We could maybe link this to specific client's but this would add in complexity which is unlikely to benefit most users.

You mention in the support call that you would like to set the expiration time for longer than a year. However, I wouldn't recommend this

[2020-10-22 12:37] Sephster commented on #1143
Are you talking about the function `generateUniqueIdentifier`? You should be able to pass a length to this function to change the length of the identifier if you wish.

[2020-10-22 13:00] KieronWiltshire commented on #1144
I guess it depends on the use case as I am using personal access tokens as API keys too. I guess what I’m really asking for is just the ability for the user to specify their own expiration time, for example if I have a customer on my system who wants to create an API key, I would prefer to do so through the auth mechanism I already have instead of building another system just to authorise API keys

[2020-10-22 13:19] pigochu commented on #1143
Thanks
I will overrwrite it convert to to base 36, the length will be shorter.

[2020-10-22 13:19] #1143 closed

[2020-10-27 15:22] Sephster commented on #1144
I don't think this is something we would include in the server at this time due to the security implications. If you can find examples of other popular servers that use this mechanism then I'd be happy to look at this again. Sorry we aren't going to go forward with this at this time.

[2020-10-27 15:22] #1144 closed

[2020-10-29 23:18] halfpastfouram opened #1145 "Domain events do not provide information about tokens"
When a domain event is emitted the receiver of that event has no way to access information about for instance the access/refresh-token that was issued.

### Situation

Our access tokens have a supplementary property called `mfa_validated`. That property's value is either `true` or `false`. When issuing a new access token that was requested via a refresh token the new access token should inherit th

[2020-10-31 21:36] chris-doehring commented on #1142
A contributing factor could be that `lcobucci/jwt` is blocking php 8 compatibility right now, while `web-token/jwt-framework` allows php 8 usage. Looking at the current state of `lcobucci/jwt`, I'm not sure whether there will be a `v4.0` release before php 8 GA.

[2020-11-01 13:49] Spomky commented on #1142
Hi there,

My 2 cents on this conversation.
I am the author of the JWT Framework and I will be happy to help you implementing that framework. I’ve worked a lot on the OAuth2 framework protocol and quite familiar with all the associated concepts.

As I develop, I realized that we should not depend on an implementation or the other. Now, that why I try to be “framework agnostic”, whatever it is. Thi

[2020-11-06 19:38] Moriuks opened #1147 "Call to undefined method League\\OAuth2\\Server\\AuthorizationServer::setEncryptionKey()"
I'm trying to authenticate suiteCRM after installing/doing the steps in [SuiteCRM API](https://docs.suitecrm.com/developer/api/developer-setup-guide/json-api/#_before_you_start_calling_endpoints) and double checking in [Oauth2 installation ](https://oauth2.thephpleague.com/installation/).

When i tried to reach the endpoint {suitecrm.url}/Api/Acces_token i get a 505 error and the apache error logs

[2020-11-08 20:47] Sephster commented on #1147
I would recommend you use a later version that 6.1.1 if possible. Have you got any code that is explicitly calling the setEncryptionKey method? This is usually handled by the AuthorizationServer and should be called on a grant type.

My suspicion is that you have some custom code somewhere which is calling this function incorrectly. Without seeing your entire repository I can't provide any better

[2020-11-08 21:11] Sephster commented on #1142
At the moment, we don't have plans to replace the usage of lcobucci's JWT library. If there wasn't a PHP 8 compatible release prior to the GA we might have to revisit this decision but I understand a new release will be forthcoming soon.

We primarily use the JWT library to read incoming bearer tokens. However, this can be easily replaced with another JWT lib if you wish. The `BearerTokenValidator

[2020-11-08 21:11] #1142 closed

[2020-11-08 22:25] Moriuks commented on #1147
Thanks for the response Sephster,
I am not sure what the issue was but it has to do with the bitnami configuration so i just installed suiteCRM without bitnami and now i am able to authenticate to the server, it responds with the token and refresh token.

[2020-11-08 22:25] #1147 closed

[2020-11-19 12:57] devfutfanatics opened #1150 "Multiple tokens valid at the same time"
Each time the application is authorized, a new token is generated and the old one is not revoked.

[2020-11-19 12:58] #1150 closed

[2020-11-19 12:59] ceresaconsultoria opened #1151 "Multiple tokens valid at the same time"
Each time the application is authorized, a new token is generated and the old one is not revoked.

[2020-11-19 22:04] Sephster commented on #1151
This is expected behaviour. Access tokens will remain until they are explicitly revoked by the user or expire. They don't automatically get revoked when a new one is generated.

You shouldn't need to generate a new access token if you already have a valid one. I hope this answers your issue but if you have any follow up points please just shout.

Thanks.

[2020-11-19 22:04] #1151 closed

[2020-11-21 22:21] webmake opened #1152 "Race condition in file permission"
Hello,

it's quite similar to https://github.com/thephpleague/oauth2-server/issues/1062 but for us happened error with bad permissions, because one process puts content, and other tries to read it and gets `Key file "file:///tmp/****.key" permissions are not correct, recommend changing to 600 or 660 instead of 644`
I think it really deserved locking..

[2020-11-21 23:51] Sephster commented on #1152
Can you give a little more information about how it is you have two processes interacting with the file? I haven't come across this before. Thanks!

[2020-11-23 07:53] webmake commented on #1152
It's very hard to reproduce, because it happened once, and I suspect that it was two identical time http requests and concurring cpu cycles.
You can fake this situation by adding additional sleep before changing permission, and you will see that. I was told that it could be io wait, so thats why it occurred.

first process ops:
[code]
second process ops:
[code]

[2020-11-24 11:21] halfpastfouram commented on #1145
Any comments on this are very much welcome. I can create a PR if you'd like.

[2020-11-24 21:44] Sephster opened #1153 "Re-instate PHPStan"
Removed PHPStan as the version compatible with PHP 8 doesn't run any levels without us making breaking changes. Need to reinstate in the next major version

[2020-11-24 21:46] Sephster opened #1154 "Pass JWT Config Item"
To use version 4 of lcobucci/jwt, we needed to init the new Configuration object. At the moment, this is instantiated locally but it would be good if we could inject this as a dependency. Unfortunately this creates a breaking change so needs to be held out for v9.

[2020-11-24 21:48] Sephster opened #1155 "Remove backwards compatibility hack for JWT aud"
The latest version of lcobucci/jwt passes an array instead of a string for the `aud` claim. To prevent breaking changes, if this array contains a single value, we convert it to a string to retain past behaviour.

When upgrading to v9, we must remove this compatibility hack.

[2020-11-25 03:17] agwidarsito opened #1156 "Latest version of lcobucci/jwt is throwing deprecation messages breaking /oauth/token"
The standard "/oauth/token" route now longer works as the newly added deprecation messages are interrupting the flow, which were added in lcobucci/jwt at:

https://github.com/lcobucci/jwt/commit/5ce37ae2061942019e21ad5ef3af160cb5a4ad39

It's being tracked in that repository at:
https://github.com/lcobucci/jwt/issues/550

[2020-11-25 06:32] seddighi78 commented on #1156
it just fixes with add this to the `composer.josn`:
`"lcobucci/jwt": "3.3.1"`

[2020-11-25 07:38] muhammad-zakir commented on #1156
this should do as a temporary solution, but the latest version that won't break because of the exact same reason for now would be `3.3.3`.

[2020-11-25 08:49] lcobucci commented on #1156
This is already being handled in #1146. Please check https://github.com/lcobucci/jwt/issues/550#issuecomment-733557709 for the rationale and suggestions on how to upgrade.

[2020-11-25 10:56] elironkryeziu opened #1157 "Change oauth2-server version"
I want to change the version of league/oauth2-server package from 8.1.1 to 8.1.0. The problem is that laravel/passport package requires it and I don't have it in my composer.json file.

How can I change the version?

[2020-11-25 11:02] dcyou commented on #1157
`
composer require lcobucci/jwt:3.3.3 && composer update
`
https://github.com/lcobucci/jwt/issues/550#issuecomment-733557709
https://github.com/thephpleague/oauth2-server/pull/1146

[2020-11-25 12:32] #1157 closed

[2020-11-25 12:49] FatlumGjinofci commented on #1157
@dcyou you saved us from HELL ;)

[2020-11-25 23:52] Sephster commented on #1156
I've now released version 8.2.0 of the oauth2-server package. If you are running PHP 7.3 or greater, you can install version 8.2.0 to resolve this issue. If you are below PHP 7.3, please ensure you have error notifications turned off on production as deprecation notices should not be turned on for production environments.

I hope this resolves your issues but if you have any follow up queries plea

[2020-11-25 23:52] #1156 closed

[2020-11-26 12:18] yulei745 opened #1160 "Dependency JWT ^3.3.1 will be updated to 3.4.0"
Deprecated: Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead.

[2020-11-26 12:55] Sephster commented on #1160
Please update to the latest version of the server which uses v3.4 minimum.

If you are having issues on production please ensure error notifications are not turned on in your php.ini file 👍

[2020-11-27 02:15] yulei745 commented on #1160
@Sephster ok tks

[2020-11-27 02:16] #1160 closed

[2020-11-27 09:36] magnetik opened #1161 "Cannot use the client credentials without any redirect URI"
AFAIK when using only the client credentials grant, one can use a client without any redirect URI (as it's not used anywhere in this grant).

Change introduced in #1140 makes it impossible to use such client.

[2020-11-28 17:09] michanismus commented on #1161
Same here, very annoying

[2020-11-29 19:55] symbioquine opened #1162 "OAuthServerException::invalidClient() produces browser login prompt"
In experimenting with the Drupal's simple_oauth module, I have come across some surprising behavior.

Suppose site A uses thephpleague/oauth2-server and site B wants to connect to site A on behalf of site A's users. If the developers of site B use an oauth client id which is missing from site A, their users will get a HTTP error code 401 access denied - browsers respond to that code by showing an

[2020-11-29 20:02] ambroisemaupate opened #1163 "Private key Passphrase should be passed to JWT configuration in AccessTokenTrait context"
Following lines trigger  `openssl_pkey_get_private` error because passphrase is empty **when your private key requires a passphrase**:

[code]

https://github.com/thephpleague/oauth2-server/blob/master/src/Entities/Traits/AccessTokenTrait.php#L55

[code]

It should be:

[code]

[2020-11-30 09:46] Sephster commented on #1163
Thanks for spotting this. Someone has also submitted PR #1164 to resolve this. Should get it fixed today. Cheers

[2020-11-30 12:59] ambroisemaupate commented on #1163
Thanks for your PR and the really quick release! Have a great day.

[2020-11-30 12:59] #1163 closed

[2020-12-01 21:30] paul121 commented on #1161
Rather than requiring a `redirect_uri` for ALL authorization flows, maybe it should only be required when attempting the Authorization Code flow? And only throw the error for that case?

https://tools.ietf.org/html/rfc6749#section-3.1.2.4

[2020-12-01 23:27] Sephster commented on #1161
If a client is registered with the server, there isn't anything native in the package to stop it from using the Authorization Grant which does use the redirect_uri.

The [OAuth 2 spec](https://tools.ietf.org/html/rfc6749#section-2) states that when a client registers, it must indicate what type of client it is and give its redirect uris.

[Oauth.com](https://www.oauth.com/oauth2-servers/client-reg

[2020-12-01 23:49] Sephster commented on #1162
I see your concern here but the server is acting as expected in the spec. Because the client identifier sent to the server is invalid this triggers an `invalid_client` error response as the client is unknown and should issue a 401 response.

Surfacing this information to the resource owner should, in most situations, not be useful. The resource owner would likely not have access to site B's client

[2020-12-02 11:39] michanismus commented on #1161
https://tools.ietf.org/html/rfc6749#section-4.3

The redirect_uri is useless for this grant type. It would be easy to check the type and test for redirect_uri when it is mandatory.

[2020-12-02 11:53] Sephster commented on #1161
It is mandatory regardless of the grant type you are using as I have explained. We _could_ add in a check but this would go against spec by allowing clients without redirect_uris and I don't believe we should go down this route.

[2020-12-02 12:58] Spomky commented on #1161
Hi all,

My 2 cents on this discussion.

I agree with the fact that the redirect uris are a critical part of the flows.
There are several known attacks that use redirect uris.

But I disagree with you when you write there are mandatory. The [section 3.1.2.2](https://tools.ietf.org/html/rfc6749#section-3.1.2.2) of the specification is clear on that point:

SHOULD, not SHALL or MUST. And it is neede

[2020-12-02 13:25] Sephster commented on #1161
Thanks for your comprehensive response and apologies if I misled. The upcoming oauth 2.1 spec uses SHALL instead of SHOULD. It has been considered best practice to mandate the redirect uri for some time now which is why the oauth site also says it is mandatory. This is the primary reason for my decision.

As an aside, what are the implications for you as developers? What do you need to change to a

[2020-12-03 04:50] symbioquine commented on #1162
Hi @Sephster, thanks for the detailed response! I hadn't dug into the browser basic auth behavior (or the RFC) deeply enough it seems... :)

I can confirm that if the server returns a HTTP 401 - either without the `WWW-Authenticate` header, or with `WWW-Authenticate: Bearer realm="OAuth"` - then the browser ***does not*** show the basic auth dialog.

Only when the header is `WWW-Authenticate: Basi

[2020-12-03 21:21] Sephster commented on #1162
Thanks @symbioquine. That's really interesting. Do you know why Drupal is forcing an empty Authorization header out of interest? I can't think of a reason for this.

I think this is probably not standard procedure so _might_ be better fixed in the Drupal simple oauth module but would welcome any further insight you have on the reasoning for this behaviour in case my assumptions here are incorrect.

[2020-12-04 03:16] symbioquine commented on #1162
According to the [git blame](https://git.drupalcode.org/project/drupal/-/blame/22c3d0488d8ea63ae9390f2741a4a2efdf03cb32/.htaccess#L72-74) that rewrite rule was added with [this change](https://git.drupalcode.org/project/drupal/-/commit/32806c41c803b8feee9f75b7b2fc1da9e02033e8) which in turn was associated with [this issue](https://git.drupalcode.org/project/drupal/-/commit/32806c41c803b8feee9f75b7

[2020-12-07 09:48] Radiergummi commented on #885
Since the 8.x release, you cannot override `convertToJWT` anymore, since it's marked private instead of public. @Sephster, is there any specific reason to not make it protected instead? I recognize the intention to keep things safe and prevent users from shooting their own foot, but OTOH I know what I'm doing and _need_ a few custom claims in my tokens, which will be read by other applications.
It

[2020-12-07 21:32] Sephster commented on #1162
Great find and thanks so much for providing so much information! I would very much welcome a fix as it seems this rewrite rule is pretty common.

Because there would be three conditions in the if statement, it might be better to put the authorization header check in a private method and add a comment about why we are doing this.

If you don't have time to do this, no worries at all. I will get to

[2020-12-07 23:14] webclaus commented on #1161
Hello,

I can give you the simplest example of a scenario from our shop:

We run a SaaS to which our customers can connect their own website using the auth code grant and pull in various content from their account with us. They all use the same client and we don't validate any secret as they have to log in with us before getting back an auth code.

The redirect uri is different for each customer a

[2020-12-07 23:33] Sephster commented on #1161
Thanks for the reply @webclaus. I'm sorry this has caused you issues. Your scenario doesn't seem to be a typical setup so is a bit of a head scratcher for me.

Usually the customers website would be acting as the client but it sounds like you have some kind of proxy client if I am understanding correctly?

In this case, when you add a new customer, you should add the redirect URI of the customers

[2020-12-07 23:48] webclaus commented on #1161
One example is a WordPress plugin for our service. The flow is as follows:

- Customer installs plugin and hits a button in the admin pages that creates a url for our auth endpoint and initiate the oauth flow.
- Customer logs into our service to access the url she is redirected to (unless already signed in) and grant access to WP.
- Customer gets an auth code and is redirected back to WP where we

[2020-12-08 21:28] bradjones1 commented on #1161
Co-maintainer of the Drupal Simple OAuth module here. This change in 8.2 introduced an uncaught BC break in our module on dependency update; not a huge issue but will be rolling a release soon to pin to `^8.0 < 8.2` in order to preserve the `SHOULD` behaviour, and the next release can include a note for BC breaking change that this is now a `SHALL`.

See https://www.drupal.org/project/simple_oauth

[2020-12-08 22:03] Sephster commented on #1161
Thanks for your input @bradjones1. Do you need php 8 support as this is only available for 8.2.

I think because this is causing so many issues, I'm going to revert and move this to the next major version.

I was 50/50 about whether to class this as a BC or a patch because we are fixing a security hole but looks like this is affecting enough people to hold off until a major release. I should have

[2020-12-08 22:32] bradjones1 commented on #1161
At the moment the Drupal implementation doesn't require PHP 8.

I think since the spec says `SHOULD` and this changes it to `SHALL`, it's more BC break than "security hole," in so far as it's technically still 2.0 compliant, even if it's not a "good idea" to proceed without a redirect URI. That said, rolling a release now to address this on our side though that won't stop users from stumbling upon

[2020-12-08 22:41] webclaus commented on #1161
I'll second the point that this seems to be breaking BC - a mere composer update trashed our tests.

So all for postponing the change to a major release....and when that rolls around I'll be the first to bring a PR for an `allowEmptyReturnUri()` method ;)

[2020-12-08 22:45] Sephster commented on #1161
Although this is being changed in 2.1 when that RFC is finalised, it has been common practice for some time now to [enforce the redirect URI](https://tools.ietf.org/html/rfc6819#section-5.2.3.5) as mentioned in RFC 6819.

Again it uses the word _should_ but it is much more explicit about the dangers of not doing this. I will push this to v9 for now as the server has been like this for some time an

[2020-12-08 23:55] symbioquine commented on #1162
Thanks @Sephster! I've opened https://github.com/thephpleague/oauth2-server/pull/1170 with the proposed fix - looking forward to any feedback...

[2020-12-09 20:19] bradjones1 commented on #1162
Drupal `simple_oauth` maintainer here, let me know if I can be a resource on this. (I'm `bradjones1` on Drupal Slack, too.)

[2020-12-10 10:45] magnetik opened #1172 "SPA Auth code flow"
(This is somewhat a follow up on the situation of #889, but it feels cleaner to start another conversation).

The documentation states :

So at the moment, I should ask the user to tell if he "wants" a secret during client creation.
I've never seens it in "big" oauth providers (like github) asking for this. Secret seems to be generated all the time.

I'm quite confused on how this should work.

Wh

[2020-12-10 10:47] magnetik commented on #1161
It looks like a good way to handle this 👍

Ton of thanks for the lib and your dedication ❤️

[2020-12-10 11:26] Sephster commented on #1172
I've never seens it in "big" oauth providers (like github) asking for this. Secret seems to be generated all the time.

When the client registers, it should indicate whether it is a public or confidential client. Client registration isn't handled by this package so it is up to you how to implement it but if it is confidential, the client should be issued a password and ID upon registration.

 You

[2020-12-10 11:32] #1161 closed

[2020-12-11 12:10] #1162 closed

[2020-12-11 23:12] Sephster opened #1174 "Add Unauthorized_Client support"
At the moment, the only error we do not handle is unauthorized_client. This is issued when a client tries to use a grant they have not been given permissions to. We should investigate the potential of using this in version 9.

[2020-12-12 17:32] pamelus commented on #1007
To the original comment, in lcobucci/jwt 4.0.0 you can no longer create key by giving either its contents or path to a file. It now has separate classes for in-file (`\Lcobucci\JWT\Signer\Key\LocalFileReference`) and in-memory (`\Lcobucci\JWT\Signer\Key\InMemory`) keys and league/oauth2-server hardcodes the usage of LocalFileReference.

For now it makes us stick to 8.1.*, where it's still possible

[2020-12-12 20:38] Sephster commented on #1007
The upgrade to php 8 wasn't plain sailing as we didn't want to break BC but the jwt package needed to be a major upgrade.

Unfortunately this was one of the compromises. I will take a look but might need to release a proper solution for v9. Sorry for any inconvenience caused by this.

[2020-12-15 10:31] Gelembjuk opened #1177 "How to support multiple redirect_uri for oauth2 client?"
Is there any workaround to support more than one valid redirect_uri for oauth2 client?

I see in the code validateAuthorizationCode function requires a redirect_uri to be string and equal to provided url.

Maybe there is some trick to support more than one vale url?
Maybe inside ClientRepository i can somehow to read requested url and set "correct" url to a client entity?

[2020-12-15 10:44] Sephster commented on #1177
The getRedirectUri function can also return an array. If you have multiple redirect uris return the in an array from this function on your client 👍

[2020-12-17 16:54] GDmac commented on #1145
Isn't your custom property `mfa_validated` something you
can store in your own implementation of `OurCustomToke implements TokenInterface` ?

The moment your implementation of `AccessTokenRepositoryInterface`
or `RefreshTokenRepositoryInterface` returns a new token, it can set the property.

[2020-12-19 20:53] Sephster commented on #1172
Closing due to lack of activity. Please shout if you have any follow up questions.

[2020-12-19 20:53] #1172 closed

[2020-12-22 12:01] gergof opened #1179 "Support for Device Authorization Grant (RFC 8628)"
Is it possible to implement Device Code grant type?

[2020-12-24 15:50] Sephster commented on #1177
Marking as closed due to lack of activity. If you have any follow up questions please do let me know and I will be happy to reopen this.

[2020-12-24 15:50] #1177 closed

[2020-12-27 21:44] johnwc commented on #442
@Sephster @alexbilbie Has there been anymore work on Open ID? What's particularly useful that we are needing is the [OpenID Connect Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html) spec, which would allow a remote API be able to verify a token quickly without much manual configuration.

[2021-01-04 10:25] Sephster commented on #442
No work yet. There is a Symfony bundle now using the package which is also interested in getting this introduced so I expect it to be pushed forwards this year. In the meantime you can use @steverhoades's [repo](https://github.com/steverhoades/oauth2-openid-connect-server) if you are needing this quicker.

[2021-01-04 11:16] kgrosvenor commented on #442
@Sephster, Great news and thanks for all the work this really is a flexible and awesome library - I've implemented it using Doctrine classes and Slim, @steverhoades repo for OpenID Connect works great, one of the extra features I was interested in was OpenID Introspection

[2021-01-04 14:07] ABGEO opened #1182 "User deprecated function: Implicit conversion of keys from strings is deprecated"
Hello there,

I am using  `league/oauth2-server8.1.1` with `lcobucci/jwt:3.4.2` and am getting the following deprecation message:

I suggest using `LocalFileReference` in `BearerTokenValidator`. I will provide the PR shortly.

[2021-01-04 14:28] ABGEO commented on #1182
Oh, I see you don't support `8.1.x` and this issue has already been fixed in `8.2.x`, right?

[2021-01-04 16:18] Sephster commented on #1182
That's correct. If you upgrade this issue should be resolved. Thanks

[2021-01-04 16:18] #1182 closed

[2021-01-04 16:24] Sephster commented on #1179
Not yet but hopefully this year. Please keep an eye on releases

[2021-01-04 16:24] #1179 closed

[2021-01-04 20:19] guitar-freq commented on #1156
Hello, I'm new to these kinds of issues & have read all this but the error is still there. I'd appreciate some more detail on how to fix this please. Make a change to some composer file somewhere and then what?
thanks.

[2021-01-05 07:14] HenkPoley commented on #1156
It is my understanding that these ought to fix the error:
[code]

Possibly some older, and maybe you don't use one of those. First check with `composer show -i` if these are packages you have installed.

[2021-01-05 10:16] Sephster commented on #1156
@guitar-freq can you upgrade to the latest version? If you can, you should.

If you aren't able to, you should turn off your deprecation notices on your production environment as these shouldn't be on. Which server do you use?

[2021-01-14 16:09] Sephster commented on #1152
@webmake sorry for the delayed response. Why do you have two PHP instances reading the file?

[2021-01-14 17:44] webmake commented on #1152
This is http requests, so aren't controlled how many in parallel

[2021-01-15 00:41] Sephster commented on #1152
I've done a bit more reading around this and realise that this could occur because Apache/NginX can spawn concurrent processes that cause this kind of race condition. Apologies as I originally thought you might have had two servers accessing the same file share or something.

I'm at a loss as to how to fix this to be honest. We could put a file lock but PHP file locking is anything but certain bec

[2021-01-15 10:02] webmake commented on #1152
We are encountering each time after deployment at higher load, (9cases per month). There would be solution by using [locks](https://github.com/symfony/lock) or another file that is is ongoing save procedure

[2021-01-15 10:05] Sephster commented on #1152
Thanks @webmake - that is more frequent than I was expecting. I will keep this open and look to implement a simple `flock` implementation which should resolve the issue. Thanks for reporting this.

[2021-01-15 10:34] 2618094 opened #1183 "Custumize request attributes in BearerTokenValidator"
Hello! I'm looking for a way to add custom request attributes for token.
The problem is here:
https://github.com/thephpleague/oauth2-server/blob/master/src/AuthorizationValidators/BearerTokenValidator.php#L120
There is no option to add attributes except for write my own implementation of validator.

[2021-01-16 13:11] Sephster commented on #1183
At the moment this is the only way sorry. Hoping to get custom claims added in soon though.

[2021-01-16 13:11] #1183 closed

[2021-01-26 03:42] ssigwart commented on #1007
I hav an update in #1180 that switches from using `getKeyPath` (hence requiring the temporary file) and replacing it with `getKey` which can use a file (`Lcobucci\JWT\Signer\Key\LocalFileReference`) or memory (`Lcobucci\JWT\Signer\Key\InMemory`).

[2021-01-27 03:59] Extarys opened #1185 "PASETO instead of JWT?"
I found #873 but I didn't find any follow-up or any other information online.

Is there a way to use PASETO tokens instead of JWT?

This looks like an awesome library though, I hope I'll get to use it.

[2021-01-27 07:39] Sephster commented on #1185
There is no implementation for PASETO in the library yet. I was wIting for an Ietf RFC to be finalised. Last time I checked a draft version had been submitted but I'm not aware of it going any further.

This isn't to say it is a blocker at all but would probably make us implement quicker. Cheers

[2021-01-27 07:39] #1185 closed

[2021-01-27 09:26] peyobr opened #1186 ""league/oauth2-server": "8.2.4" Dependency "lcobucci/jwt": "^4.0" doesn't work anymore"
[2021-01-27 08:35:46] ERROR: syntax error, unexpected 'Parser' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) {"exception":"[object] (Symfony\Component\Debug\Exception\FatalThrowableError(code: 0): syntax error, unexpected 'Parser' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) at /vendor/lcobucci/jwt/src/Configuration.php:22)

[2021-01-27 11:12] Sephster commented on #1186
Please see [this issue](https://github.com/lcobucci/jwt/issues/638). You need to be using PHP 7.4 as a minimum. Please upgrade your PHP version and this should fix your issue.

[2021-01-27 11:12] #1186 closed

[2021-01-27 12:14] peyobr commented on #1186
thanks a lot

[2021-01-27 18:35] Extarys commented on #1185
Hey @Sephster, thanks for your reply. I'm not a OAuth specialist so I thank you for your explanation.

I share the feeling.

[2021-02-01 19:48] mssoylu opened #1187 "why client and user relation repeated for authorization_code attempt?"
I have a question. Whenever I try to log in with the authorization_code, a client - user relationship line is created again in the database. What is the reason of this? This line is happening again, even though there was already a relationship before?

[2021-02-01 20:40] Sephster commented on #1187
The server doesn't create any relationships as it is storage agnostic. I suspect this will be something specific to your implementation so unfortunately, don't think I can help unless you have the code available for review?

[2021-02-07 09:33] exeba opened #1188 "Redirection URI validation and rfc8252"
As far as I understand the current implementation requires a perfect match between the registered redirection URI and the URI specified in the authorization request.

However, section 8.4 of rfc8252 states:

Authorization servers MUST require clients to register their complete
redirect URI (including the path component) and reject authorization
requests that specify a redirect URI that doesn't exa

[2021-02-15 11:38] Nikita128 commented on #1188
Yeah, we've encountered the same exact issue recently. I've created [a separate post](https://github.com/laravel/passport/issues/1406) about this.

[2021-02-15 11:43] Nikita128 opened #1190 "Enable non-constant port for http://localhost redirect URLs for Native App clients"
Native App client is using loopback interface (listens on http:localhost:<random_port>) to accept an authorization code sent via redirect URL from an authorization endpoint. But OAuth 2.0 server seems not to support random ports for localhost redirect URLs if a client is a Native App, but it's stated in [the specification](https://tools.ietf.org/html/rfc8252#section-7.3) that the authorization ser

[2021-02-15 14:27] MehdiJafari395 opened #1191 "resulted in a `400 Bad Request` response: {"error":"invalid_request","error_description":"The request is missing a required parameter, includes an invalid paramet (truncated...)"
hi
i'm using authorization code in laravel and i have this error :

Client error: `POST http://localhost:8000/oauth/token` resulted in a `400 Bad Request` response: {"error":"invalid_request","error_description":"The request is missing a required parameter, includes an invalid paramet (truncated...)

and this is my code :

Route::get('/info-bank/callback', function(Request $request){

    if($requ

[2021-02-16 05:49] Nikita128 commented on #1190
I've noticed in your documentation that you haven't yet implemented RFC 8252.
Does it mean that this feature will come with full RFC 8252 support or is it possible to implement somehow separate from it?

[2021-02-24 00:38] guich2507 opened #1192 "Empty response"
Hello,

  To begin i want to congratulate you for your work. Your lib is really useful and good.
I encounter a little problem i can not solve by myself.
I install your lib with composer require league/oauth2-server in a docker and implement our engine based on symfony.
I use your example code like that :

use Laminas\Diactoros\ServerRequestFactory;
use Laminas\Diactoros\ResponseFactory;

class tok

[2021-02-26 00:09] guich2507 commented on #891
I encounter exactely the same problem. Do you know how it was solved for him ?

[2021-02-26 00:19] Sephster commented on #891
We don't. If you could provide some var_dumps as listed above it might give us a better insight into the issue. Any help would be appreciated

[2021-02-26 00:33] guich2507 commented on #891
Hello, thanks for your quickness.
Of course i can, but i do not have the same code.
Can you please say me in the bearertokenresponse where i should take var_dump ?
class BearerTokenResponse extends AbstractResponseType
{
    /**
     * {@inheritdoc}
     */
    public function generateHttpResponse(ResponseInterface $response)
    {
        $expireDateTime = $this->accessToken->getExpiryDateTime()-

[2021-02-26 00:39] guich2507 commented on #891
1 -- var_dump($responseParams);
        $responseParams = \json_encode(\array_merge($this->getExtraParams($this->accessToken), $responseParams));
      2 -- var_dump($responseParams);
        if ($responseParams === false) {
            throw new LogicException('Error encountered JSON encoding response parameters');
        }
      3 -- var_dump($response);
        $response = $response

[2021-03-01 07:56] FabianTe opened #1194 "ResourceServer depends on key stored in file"
Hi,

I have a question about the `\League\OAuth2\Server\ResourceServer` class. I'm currently trying to integrate Keycloak as an identity provider. I am struggling to find a way where the public key is dynamically loaded from keycloaks API rather than being stored in a file.

Any idea on how to archive this? To me it seems that the `\League\OAuth2\Server\ResourceServer` API wasn't really constructe

[2021-03-03 18:22] GameplayJDK opened #1195 "Consistent json_decode() usage across grant types"
Hello everyone,

I hope you're all fine. I'll get straight to it:

While implementing authentication through the `league/oauth2-server` package, I've noticed that the `\json_decode()` calls are not consistent across grant types. Ok, so it actually only makes two occurrences in the whole codebase, but I stumbled upon this by accident and as I'm kind of "have a thing" for very strict consistency to

[2021-03-04 07:44] Sephster commented on #1194
Have you got any documentation I can look at for Keycloak to see how it expects this to work? Thanks

[2021-03-07 11:03] Sephster commented on #1195
The refresh token contains scopes which need to be encoded for transport. I think this was done so that we could call `implode` to easily achieve this. Changing the refresh token would be a breaking change and I think in most situations it would be preferable to keep the return as an object.

Thank you for the offer of a PR but I think it would be best to keep the implementation as is for now.

[2021-03-07 11:03] #1195 closed

[2021-03-07 13:31] eugene-borovov opened #1197 "Test invalid JWT fails with lcobucci/jwt:4.1.2"
[Test invalid JWT](https://github.com/thephpleague/oauth2-server/blob/master/tests/ResponseTypes/BearerResponseTypeTest.php#L155) fails with `lcobucci/jwt:4.1.2` and OK with `lcobucci/jwt:4.0.0`

The reason is `lcobucci/jwt:4.0.0` try to check invalid JWT and `lcobucci/jwt:4.1.2` fail to parse base64.
Expected test result is `Access token could not be verified`. With `lcobucci/jwt:4.1.2` we\`ve go

[2021-03-08 21:53] GameplayJDK opened #1199 "Make AuthCodeGrant::validateAuthorizationCode() visibility protected"
Hello everyone,

I'd like to propose making the `AuthCodeGrant::validateAuthorizationCode() method`'s visibility `protected`. In addition the method should also carry a `@throws` tag.

Currently the method is `private`, which means there is no way to alter (extend or change) the validation logic for the auth code, for example in a sub-class of `AuthCode`.

The new signature would look like this:

[2021-03-08 23:09] Sephster commented on #1199
What kind of change would you want to make to the authorisation mechanism? Can you give an example? Thank you

[2021-03-09 09:19] GameplayJDK commented on #1199
The use-case at hand is a sub-class of `AuthCode`, which must have access to the submitted auth code before the access and refresh tokens are issued. The intent is to link the provided auth code to the issued tokens for later use.

[2021-03-10 13:37] FabianTe commented on #1194
Hi @Sephster! In the last 2 weeks I have coded a proprietary solution using a basic JWT validation package and a selfmade PHP class that simply fetches the public keys from Keycloak. When I created this issue I didn't know that what I was looking for was an API endpoint that returns [a JWK / a JWKS](https://tools.ietf.org/html/rfc7517).

The Keycloak endpoint I ended up using is mentioned in this

[2021-03-10 23:23] wurst-hans commented on #1155
This breaks usage of my OAuth 2.0 implementation using v8.2.4.

I'm storing OAuth attributes inside my application. For this my middleware looks like:

[code]

This works fine with version 3.4.2 of lcobucci/jwt. `$data['oauth_client_id']` contains a numeric ID then. But when upgrading to version 3.4.5 I get an empty array only without any value it in. So your [workaround ](https://github.com/theph

[2021-03-10 23:52] Sephster commented on #1155
What is the aud claim returning in the later version. Can you provide a var dump of this please? Thanks

[2021-03-11 09:55] wurst-hans commented on #1155
I don't know exactly what you mean. Dump of `$request->getAttributes()` returns

[code]

And I think, I have a solution for this. As you can see, I'm using numeric/integer IDs which refer to my database models (I have models for scope, clients, users etc.). I don't know why user ID is casted to string, but scopes aren't, but internal these all are integers.

Looking into [source](https://github.co

[2021-03-11 10:19] garethellis36 opened #1201 "Validating access tokens from multiple authorization servers"
Hello,

I'm working on a project where we will have an application in a public, web-facing server, talking to a PHP API on a server in an enterprise LAN.

The application will need to support two login types: one type of user comes from our own company, and will authenticate with our enterprise Active Directory; the other type of user comes from outside, and will authenticate using username and pa

[2021-03-11 11:39] eugene-borovov commented on #1201
You can use [iss claim](https://tools.ietf.org/html/rfc7519#section-4.1.1) to determine auth server.

[2021-03-11 11:45] garethellis36 commented on #1201
I've decrypted a token created by this library and it does not contain an `iss` claim. Is there a way to configure this library to include that claim in the JWT? And if so, I don't see a way to directly inspect the claims on the token, because the entry point for validating the token is a PSR-7 middleware that just adds access token ID, client ID, user ID, and scopes to the response attributes. Wo

[2021-03-11 12:23] eugene-borovov commented on #1201
Does ADFS token contain an iss claim token? You really need to implement the `AuthorizationValidatorInterface` to add issuer analysis. This library lacks the ability to configure the `iss` claim.

[2021-03-11 12:25] garethellis36 commented on #1201
I don't know that yet, I haven't talked to our AD team to see if we can even configure our version of AD to use OAuth. I'm theorizing/planning at this point. Thanks for your help!

[2021-03-14 15:29] Sephster commented on #1201
You would need the iss claim from the JWT and as @eugene-borovov said, we don't support this at the moment. I did try to code something up to support this this morning but it would be a breaking change so won't come in until we release a major version which would be some time away.

I also would recommend you do not use the password grant any more as it is deprecated. You should be able to just us

[2021-03-14 15:34] Sephster commented on #1201
Just thinking on this more though, the iss claim is really just so the recipient of the token can confirm it came from where they expected it to.

I think you'd be better, if possible, to just have a single auth page with maybe a checkbox saying you are an internal or external user (or whatever makes most sense), and depending on this, it fires the form to validate against either the DB or the AD

[2021-03-14 16:10] Sephster commented on #1199
What is the reason for wanting to link the auth code to the access token? I'm hesitant to make this function non-private as it is a part of core security of the package and a mistake could make implementations less secure.

[2021-03-14 16:44] Sephster commented on #1194
@FabianTe you can set the public key in the ResourceServer. It is the second constructor parameter and it allows you to pass in either a CryptKey object or the plain key string.

There is also a PR submitted to change the key to be able to be stored in memory instead of a file which should be merged in soon. I'm hopeful both of these things will solve your problem but if not, please feel free to r

[2021-03-14 16:44] #1194 closed

[2021-03-14 17:10] #1197 closed

[2021-03-14 17:46] garethellis36 commented on #1201
I think we could in theory inspect the JWT in a separate middleware before using this lib's middleware to validate the token - we could (again, in theory) see if the JWT has an `iss` claim, check it's value, and wire up the appropriate public key for the next middleware to use. But it doesn't feel right, and as you say, it sounds like a misuse of the `iss` claim too.

In an ideal world, we could c

[2021-03-14 17:48] Sephster commented on #1192
Are you using any framework for your code? In our examples we use Slim which expects us to return PSR7 responses and handles them accordingly.

If you aren't using a framework that handles PSR7 responses, you will need to do some extra leg work to generate the appropriate HTTP response.

My assumption is this is the issue. I hope this helps but if not, please get back in touch and we will reopen t

[2021-03-14 17:48] #1192 closed

[2021-03-14 20:57] Sephster commented on #1191
The exception thrown normally contains a hint that will tell you what parameter is missing. You can call `getHint()` on the Exception to find out what the issue is. Hope this helps!

[2021-03-14 20:57] #1191 closed

[2021-03-14 21:22] Sephster commented on #1201
Yep, you will need to have an authorization server but you'd need to have that for using the password grant too as you need to authenticate the user's username and password somewhere.

I think this question is probably outside the scope of the support channels for this package as it sounds more like an architectural discussion you need to have with your colleagues.

In most situations with OAuth,

[2021-03-14 21:32] GameplayJDK commented on #1199
It would be pretty complicated to explain the whole concept I decides to use for single sign on here.

For the `auth_code` grant, when a authentication request is completed and an auth code is issued, a session is created and already associates with it. I'm currently overriding the `issueAuthCode()` method from the `AbstractGrant` class for that. In the next step, when the access token request is

[2021-03-14 22:35] Sephster commented on #1199
This sounds like quite a niche implementation. We haven't had many calls for overriding the `validateAuthorizationCode()` method (if any) as I think it fits most people's requirements. I appreciate this might be causing you issues but I feel that for the vast majority, having this method as private is not causing any issues, but opening it up, could lead to accidentally making the system insecure.

[2021-03-14 22:35] #1199 closed

[2021-03-14 22:44] Sephster commented on #1190
Apologies for the delay in responding @Nikita128 - this is something we'd be happy to support. If you want to submit a PR we'd be happy to take a look at it.

I'm going to close this in favour of #1188 as it was open first. Thanks

[2021-03-14 22:44] #1190 closed

[2021-03-14 22:45] Sephster commented on #1188
Thanks both. Happy to accept a PR but this looks like something we should resolve. I will flag it for a future update.

[2021-03-14 23:14] GameplayJDK commented on #1199
While it may not cause any issues, keeping it private is really limiting extensibility here.

I understand and accept your point of view and it's definitely good to not always take a liberal opinion on security related topics. To overcome this limitation I now will have to ship a slightly changed implementation of the `AuthCode` class. It's a pity there is no other way to solve this, but it'll do.

[2021-03-30 10:37] 11mb opened #1205 "Issuing an access-token based on a refresh-token"
Hi,

Regarding issueing a new access-token based on a (valid) refresh-token, I have a question:

The code that issues a new access-token (from the refresh-token grant) is being called here:
https://github.com/thephpleague/oauth2-server/blob/master/src/Grant/RefreshTokenGrant.php#L69

The user_id is being taken from `$oldRefreshToken['user_id']`, but how is this `user_id` being set in the first pla

[2021-03-30 16:34] romansorin opened #1207 "Class 'Lcobucci\Clock\SystemClock' not found and Target [Lcobucci\JWT\Parser] is not instantiable with building"
- Passport Version: 10.1.2
- Laravel Version: 8.35.0
- PHP Version: 7.4.7
- Database Driver & Version: MySQL, 5.7.12

### Description:

This issue recently popped up in one of our projects, and I've spent the better part of a full day and a half trying to sort it out. When attempting to make an API/HTTP calls that utilize Passport/OAuth, the following errors are returned:

[code]

This SystemClock

[2021-03-30 20:08] gbalcewicz opened #1208 "Add method on AuthCodeGrant to disable plain verifier."
It would be nice to remove plain verifier from codeChallengeVerifiers in AuthCodeGrant, for example `disablePlainCodeChallengeMethod()`

[2021-04-01 07:18] marc-mabe opened #1209 "TypeError in mallformed tokens"
I'm using https://github.com/mezzio/mezzio-authentication-oauth2 and noticed thousands of 500 errors on our server.
(Someone tried to access something he should not but I don't expect this bug a security issue.)

The problem happens if someone passes a token not as string.

E.g:
[code]
[code]

The bug seems to be fixed with but other grant types are very likely effected, too
[code]

[2021-04-01 07:34] eugene-borovov commented on #1209
You can add a middleware to filter the request.

[code]

[2021-04-15 07:33] edge33 opened #1213 "Separate Auth Server and Resource Server"
According to the docs:

`The public key should be distributed to any services (for example resource servers) that validate access tokens.
`

So I though I might be able to separate the auth server and the resource server.

but, can I actually run auth server and resource server on separate machines?
I saw the snippet for creating the res server:

[code]

it takes in the `AccessTokenRepository`, In

[2021-04-15 09:57] eugene-borovov commented on #1213
The `AuthorizationValidatorInterface` implementation on `ResourceServer` should request `AuthServer` in  `isAccessTokenRevoked` method. It may be a common database or a remote API call.

[2021-04-15 13:48] edge33 commented on #1213
Ok then. I though with JWT tokens I might have been able to validate tokens only by having auth server public key, but this is not the case. thank you very much for the clarification ;)

[2021-04-15 15:17] eugene-borovov commented on #1213
The token revocation check is performed after the [JWT check](https://github.com/thephpleague/oauth2-server/blob/6fb1cb99bf86d06e269eb3a56f87091a12ec20a2/src/AuthorizationValidators/BearerTokenValidator.php#L112). You can disable it in `isAccessTokenRevoked`, always returning `false`.

[2021-04-15 19:17] edge33 commented on #1213
Brilliant! thank you :)

[2021-04-15 19:17] #1213 closed

[2021-04-17 09:57] #1209 closed

[2021-04-17 10:13] Sephster commented on #1208
The choice of verifier should be at the discretion of the client rather than the server. Unless security advice changes for the OAuth 2 spec with regards to this verifier, I think it would be best to leave as is to remain spec compliant.

[2021-04-17 10:13] #1208 closed

[2021-04-17 10:32] Sephster commented on #1207
Because you are running PHP 7.4, you should be running version 4.x of the JWT package. This requires the lcobbuci/clock package. Even if you were on version 3.4.x, there is a compat class to provide this package so I'm unsure how this is occurring.

Can you check what versions are in your composer lock file for the JWT package and Clock package and report back here please? Cheers.

[2021-04-17 10:42] Sephster commented on #1205
The user ID comes from the auth code payload. It will be enforced when implementing the AuthCodeEntityInterface and is issued via the `getNewAuthCode()` method in the `AuthCodeRepositoryInterface`. Hope this helps

[2021-04-17 10:42] #1205 closed

[2021-04-17 10:45] Sephster commented on #1201
Closing this due to lack of activity. Please feel free to reply if you have further questions/comments.

[2021-04-17 10:45] #1201 closed

[2021-04-17 10:46] Sephster commented on #1187
Closing due to lack of activity

[2021-04-17 10:46] #1187 closed

[2021-04-17 11:31] Sephster opened #1214 "Change CryptKey to use PHPSecLib for key validation"
As the title says :)

[2021-04-17 16:59] romansorin commented on #1207
I forgot to update this issue after I resolved it, but I essentially cleared my project of all additional dependencies (including Passport), removed the composer.lock file, and reinstalled dependencies one-by-one. I started with the major packages (Telescope, Horizon, Passport) and then added in my smaller dependencies, resolving any version conflicts/peer dependencies as needed.

I'm successfully

[2021-04-17 16:59] #1207 closed

[2021-04-20 08:59] cicnavi opened #1216 "Inappropriate error code 'unsupported_grant_type' during authorization request"
Hi, thank you for your wonderful work on oauth2-server package.

According to [OAuth 2.0 spec for errors during authorization request](https://tools.ietf.org/html/rfc6749#section-4.1.2.1), authorization server should return error 'unsupported_response_type' if the response_type parameter is invalid (missing, unsupported value...). The current implementation returns [error code 'unsupported_grant_t

[2021-04-21 10:51] eugene-borovov commented on #1073
Quick workaround
[code]

[2021-04-22 19:06] ceresaconsultoria opened #1218 "refresh token ttl after generating the token"
[code]

how to send the ttl of the refresh token?

only comes the token expire_in.

[2021-04-23 03:55] eugene-borovov commented on #1218
This information is encoded in the [refresh token](https://github.com/thephpleague/oauth2-server/blob/a60313319786ca17973791dab6cf99f13b43d976/src/ResponseTypes/BearerTokenResponse.php#L41).

[2021-04-23 12:45] ceresaconsultoria commented on #1218
Don't have a way to send this data with json?
--

Em sex., 23 de abr. de 2021 às 00:55, Eugene Borovov <
***@***.***> escreveu:

[2021-04-23 13:16] Sephster commented on #1218
The refreshTokenGrant has a function `setRefreshTokenTTL` which you can use to change the default TTL. Hope this helps!

[2021-04-23 13:16] #1218 closed

[2021-04-23 15:33] eugene-borovov commented on #1218
[code]

[2021-05-06 07:18] reshmasubi opened #1225 "Drupal : Issue on \oauth2-server\src\ResponseTypes\BearerTokenResponse.php file"
Hello,

On master branch file \src\ResponseTypes\BearerTokenResponse.php there is an error in below code :
$responseParams = [
            'token_type'   => 'Bearer',
            'expires_in'   => $expireDateTime - \time(),
            'access_token' => (string) $this->accessToken, ###  issue in this line
        ];

Here trying to convert an object to string which is ending in an error.
In old ve

[2021-05-06 07:59] Sephster commented on #1225
Nothing has changed massively around these functions. The only thing I can think of is we now use the `->toString` method on a JWT from lcobucci's package.

What version of lcobucci/jwt do you have installed? Cheers

[2021-05-06 08:07] reshmasubi commented on #1225
Verion is lcobucci/jwt (3.4.5)

[2021-05-06 08:33] dumblob opened #1226 "Single-file deployment for dummies?"
This might sound crazy, but there seems to be a growing "market" of those wanting to "have sensitive information in own hands" and who "want to maintain different identities for each domain or even each access to the same domain".

For that some free web hostings or similar might come handy so the only problem might be deployment **and** long time maintenance (incl. automated version updates, auto

[2021-05-06 21:14] reshmasubi commented on #1225
The error code which I have mentioned is  in league/oauth2-server (8.2.4) :

 File name : oauth2-server/src/ResponseTypes/BearerTokenResponse.php

Line number : 31

  'access_token' => (string) $this->accessToken,

![985_722_1](https://user-images.githubusercontent.com/51992110/117366001-c6212b00-aedd-11eb-98bc-31cfd3506c7a.png)

[2021-05-06 22:21] Sephster commented on #1226
We don't and don't believe we ever would sorry.

[2021-05-06 22:21] #1226 closed

[2021-05-06 22:42] Sephster commented on #1225
What is the exact error message you are getting? Are you using our access token trait? The version of lcobucci/jwt looks good 👍

[2021-05-07 03:17] reshmasubi commented on #1225
Yea I am using access token trait.  I am using oauth2-server with Drupal application. The parameter  change on convertToJWT() method is causing issue.( attached the error message)

And it is solved by downgrading the version of league/oauth2-server to 8.0.0.

Thanks for your response which helped me to debug.

![image](https://user-images.githubusercontent.com/51992110/117392597-06999c80-af10-11eb

[2021-05-07 07:52] Sephster commented on #1225
Glad you fixed it. I've reopened as I think we may need to look at this for others

[2021-05-15 22:59] Sephster commented on #1216
Thanks @cicnavi - this is an interesting one. We don't specifically ever check for the response_type parameter in the way the oauth 2 spec expects. If a client sends in an authorization request, the server retrieves all enabled grant types, and checks against each one whether it can respond to an auth request.

[code]

In the case of the authcode grant, we check if a response_type has been set, if

[2021-05-17 09:55] cicnavi commented on #1216
Thank you Andrew for getting back to this!
I'll just humbly comment on the implementation, with total respect on the
current workings of the package and not expecting to change this anytime
soon or at all.

From the spec, I can see that the authorization code flow and implicit flow
use authorization endpoint. Both flows use basically the same requests by
the spec, and I can see the practically dup

[2021-05-18 07:04] Guichaguri opened #1229 "Internal same service authentication"
I already have a service that has its own simple authentication system and user database. I'm implementing OAuth2 for Single Sign On for a few other external platforms.

Because of that, I'm revisiting and willing to rewrite the authentication mechanism.

The authentication on the external platforms seems pretty straight forward with OAuth2, but I'm puzzled on how should I implement the login sess

[2021-05-18 07:24] Guichaguri commented on #1229
I just found https://github.com/thephpleague/oauth2-server/issues/879 that leans towards the first solution, but since this central server is a SPA that also consumes the API, I still have to generate a token at some point.

What I mean is that I'm generating two distinct tokens for the exact same task, while also maintaining two systems for validating these distinct tokens, that's why I'm leaning

[2021-05-18 07:55] Sephster commented on #1229
OAuth is a delegated authorisation service, not an authentication service. If you need authentication such as single sign on, you'd be better served looking at Open ID Connect.

If authorisation is what you require, I would recommend the internal users have a different login mechanism as you've outline in step 1.

[2021-05-19 07:14] Guichaguri commented on #1229
Thanks for the quick answer. I've read a little bit of the OpenID Connect spec, I can see how it helps with SSO, but it's not exactly what I'm aiming for.

I already have the authentication system in place, the only missing piece is the token generation/validation for the login form. I'll be using the first solution, creating a different type of token just for the login screen.

I still think expo

[2021-05-19 07:14] #1229 closed

[2021-05-31 19:30] #1214 closed

[2021-05-31 20:03] #1092 closed

[2021-06-01 01:00] Justincale commented on #954
Hi @leroy0211 did you ever solve this, i'm facing the same problem. Thanks

[2021-06-04 02:10] zerkms opened #1231 "ClientCredentialsGrant and AuthCodeGrant should reuse the `$this->validateClient` result"
At the moment `ClientCredentialsGrant` and `AuthCodeGrant` simply validate client as `$this->validateClient($request);`, while `PasswordGrant` and `RefreshTokenGrant` do `$client = $this->validateClient($request);`.

The latter is more convenient: in my very implementation using `ClientCredentialsGrant` - the `ClientRepository::getClientEntity($clientIdentifier)` does not have enough details to co

[2021-06-04 02:15] zerkms commented on #1231
Okay, now I realised `$this->validateClient` still returns the client returned from `getClientEntity`. Right, so I need a dirty hack here :-(

[2021-06-04 02:15] #1231 closed

[2021-06-04 04:22] hungcrush opened #1232 "I got this issue when upgrade to 8.3.0 "The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than once, or is otherwise malformed""
Hi, Please help me how to fix this issue:

"The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than once, or is otherwise malformed"

When I downgrade to 8.2.4 it works well..

I'm using Laravel Passport

Sorry for my english not well..
Thank you

[2021-06-04 04:43] exception0x876 commented on #1232
It breaks because of the changed condition here

src/Grant/AbstractGrant.php line 241
if (\is_string($clientId))

Laravel Passport uses integers for $clientId

Previously the condition was checking is_null so it worked just fine.

[2021-06-04 06:31] hungcrush commented on #1232
Thank you so much. I got it

[2021-06-04 08:08] #1232 closed

[2021-06-04 08:31] Sephster commented on #1232
Reverted the offending check 👍

[2021-06-04 14:15] alessandrog22 opened #1234 "Error: invalid client and client authentication failed with status code 401 Unauthorized when requesting access_token"
I am using this library and the client one for a project and, after the sign in/sign up and the authorization of the scopes, following the Auth Code Grant flow, I have to request an access_token that lets the user call the apis. But after some debug I reach this error from the response. I hope someone can help me.
![Senzanome](https://user-images.githubusercontent.com/37110712/120814814-8470b800-c

[2021-06-05 05:54] ghdi opened #1235 "Version conflict with lcobucci/jwt 4.1.4"
Hi,

Currently, I have installed league/oauth2-server 8.2.4 and lcobucci/jwt 4.1.4, which works like a charm.

When trying to upgrade to league/oauth2-server 8.3.1, I bump into a version conflict with lcobucci/jwt 4.1.4, requiring   lcobucci/jwt ^3.4 || ~4.0.0 instead.

Is there something I might have missed in the release notes?

Thanks!

[2021-06-09 07:30] NicoHaase commented on #1235
This looks related to https://github.com/thephpleague/oauth2-server/commit/a60313319786ca17973791dab6cf99f13b43d976 - but I'm a bit surprised that there are no more details, like a pull request or a description of the problem that existed.

[2021-06-09 09:33] Sephster commented on #1235
Sorry folks I'm on holiday just now and can't remember off the top of my head. Basically the lib needs to support php 7.2 and there were some functions in jwt 4.1 that didn't support 7.2 so we had to downgrade

[2021-06-15 06:37] derrabus commented on #1235
On PHP 7.2, Composer should not install version 4.1 of the jwt library (and also not 4.0, fwiw). Is there something we can do to broaden the compatibility for the library, allowing applications to install 4.1 again? I don't feel comfortable pinning down a dependency that is critical to the authentication layer of my application to an outdated release.

[2021-06-15 08:04] Sephster commented on #1235
Sorry for the delay. I've looked into this now and remember why I made this change. Version 4.1 of the JWT library deprecated `validAt` in favour of the `strictValidAt()` check. However, the `strictValidAt()` method is _not_ in version 3.4 which we support for PHP version 7.2.

I raised an issue https://github.com/lcobucci/jwt/issues/722 to see if we could backport `strictValidAt()` to version 3.4

[2021-06-15 09:48] derrabus commented on #1235
Thank you for the explanation, @Sephster. Would #1236 be an acceptable solution?

[2021-06-18 06:25] ghdi commented on #1235
All,

Thanks a million for looking into this, very much appreciated!

Oauth2-server plays a critical role in our systems and I sleep better when the latest version is installed.

Regards,

Edwin

[2021-06-30 14:06] leroy0211 commented on #954
@Justincale No I haven't. The project I was working on was stopped (not due to this).

But years in advance, I think I would have solved it to create a custom registration api, reusing the authentication logic from any authentication library.

In theory you know the user's username and password. The only thing you might not know are the additional scopes. This can be send during registration. When

[2021-07-10 10:37] #1235 closed

[2021-07-10 10:38] Sephster commented on #1235
Merged in fix. Thanks to @derrabus for the PR.

[2021-07-12 03:48] ghdi commented on #1235
Thanks for following up on this, much appreciated!

[2021-07-15 06:50] Sephster commented on #1234
Apologies for the delay in replying. With the auth code grant, usually this error is thrown because your redirect URI does not match any of the redirect URIs the client was registered with. If this is not the case, the client credentials provided will be failing. You should check both of these in your request to determine which scenario might be causing this.

Hope this helps and good luck with th

[2021-07-15 06:50] #1234 closed

[2021-07-25 21:38] boesing opened #1239 "Possible regression with `redirect_uri`?"
Hey there,

I am actually working on https://github.com/mezzio/mezzio-authentication-oauth2/pull/34
I've realized tests are failing since this package in v8.3.0 where the `RedirectUriValidator` was introduced with its `RedirectUriValidator#isLoopbackUri`.

As I am not that familiar with these packages, I just wanted to drop this here.

Was it ever possible to pass just a `path` as `redirect_uri`?

[2021-07-25 21:55] boesing commented on #1239
This PR could be a fix, even tho, it might also disallow the usage of non FQDN-URIs (e.g. path only like `/redirect`).
https://github.com/thephpleague/oauth2-server/pull/1237

[2021-07-27 07:55] Sephster commented on #1239
I believe `/redirect` should be treated as an invalid redirect_uri. We should always be specifying some kind of scheme, whether this is https for a web address or a custom scheme for a native app.

[2021-07-27 07:55] #1239 closed

[2021-07-28 00:04] tjveldhuizen opened #1240 "BC-break by removing temporary file with private key"
Since https://github.com/thephpleague/oauth2-server/pull/1180 an in memory key is not written to a temporary file anymore. That's problematic for https://github.com/steverhoades/oauth2-openid-connect-server because https://github.com/steverhoades/oauth2-openid-connect-server/blob/77d31399b1cf6bab6eef544c5c6089e6c5913880/src/IdTokenResponse.php#L94 depends on the file on disk. I think such change s

[2021-07-28 03:42] Sephster commented on #1240
Thanks for reporting this. What is the error message you are receiving? Is it when trying to retrieve the key path?

If you could specify the exact error message I can take a look and see if we should be applying a fix. Thank you

[2021-07-28 07:56] tjveldhuizen commented on #1240
The error I get is `The path "" does not contain a valid key file`, but that's not an exception in this package. The problem is that until version 8.3.1 [this line](https://github.com/thephpleague/oauth2-server/blob/0809487d33dd8a2c8c8c04e4a599ba4aadba1ae6/src/CryptKey.php#L126) did return a file path, even when the CryptKey was instantiated with the key string as a parameter. Now it returns an em

[2021-07-28 08:51] Sephster commented on #1240
I see what you mean now and am sorry this is causing issues. Are you passing a key into the AuthenticationServer as a string or a file path? I think the change we have made means if you pass a string (effectively key contents), we will only ever store the key in memory where as previously we wrote it to the /tmp file regardless.

I didn't believe this was a BC break at the time as it wasn't changi

[2021-07-28 08:51] Sephster commented on #1240
I should add that the reason this change was made was because a number of users are using the server in a read only docker container, so the write to a /tmp file was not possible or necessary for them.

[2021-07-28 09:04] tjveldhuizen commented on #1240
I'm passing the key as a string.

I think it's okay to do this change in a major version and also think it's better not to save it in a temporary file, but it should be done in a major version (preferably with some kind of deprecation notice in a minor version).

[2021-07-28 10:11] halfpastfouram commented on #1145
Late response, but no that won't help. The problem is that we need our logic to run AFTER the token is issued and BEFORE the http response is generated.

I'm thinking about suggesting a small change that would introduce two new event classes to make our situation possible until #1184 is fully implemented. In short, it would introduce `AccessTokenIssuedEvent` and `RefreshTokenIssuedEvent`, both ext

[2021-07-28 10:52] halfpastfouram commented on #1145
Just checked. It seems my issue is solved in #1211 that was released in 8.3.0. I will close this issue if I can use this solution.

[2021-07-28 11:38] #1145 closed

[2021-07-28 13:25] GDmac commented on #1145
please tell me you are not modifying the token object thru an dispatched/submitted event

[2021-07-28 13:37] halfpastfouram commented on #1145
@GDmac In our case a user has to go through MFA. When MFA was succesful, the token's property `mfa_validated` will be set to true. That will not happen through an event.

But when the user's client requests a new access token with a refresh token, the new access token needs to have `mfa_validated` set to true or the user would have to go through MFA again. So the what happens is that the previous

[2021-07-28 14:13] GDmac commented on #1145
So, you are setting (modifying) the mfa_validated property on the token you receive with the event?

My suggestion was that when the token expires you fetch the refreshtoken anyway from the repository.
At that moment that you can pass extra info (mfa) that has to be merged into the NEW token.
Always make it as immutable as possible $newToken = repo->fetchToken($oldToken)

[2021-07-28 14:17] halfpastfouram commented on #1145
Great suggestion. I will definitely look into that, thanks.

[2021-07-30 07:50] hihuangwei opened #1241 "When is 9.0 expected to be released? Will it support openid connect？"
When is 9.0 expected to be released? Will it support openid connect？

[2021-07-30 10:04] Sephster commented on #1241
No date set at present. We would welcome a PR to implement this though

[2021-07-30 10:04] #1241 closed

[2021-08-13 18:07] Cayan commented on #1240
I also have the same issue

[2021-08-18 16:43] itay-moav opened #1244 "FATAL: Trying to include an un existing class"
In file src/AuthorizationValidators/BearerTokenValidator.php
You have the following code
[code]

Notice the \class_exists condition which is done on ```StrictValidAt::class``` This can not work. You need the class **StrictValidAt** to exist for this to work.... which would make this condition moot.
You must use a simple string syntax there. Autoloader will try to include and fail at that line

**[

[2021-08-19 05:59] eugene-borovov commented on #1244
Could you describe your setup? I cannot reproduce this issue. Do you use custom class autoloading?

[2021-08-19 07:08] itay-moav commented on #1244
I just include the composer autoloader.
But....Check the code itself.
It is pretty clear this is a bug. U are using a class constand to check if
the class exists.
For PHP to know what the class constant is (MyClass::class), It needs to
include said class ... catch 22

On Thu, Aug 19, 2021 at 1:59 AM Eugene Borovov ***@***.***>
wrote:

[2021-08-19 07:23] eugene-borovov commented on #1244
Class constant works with unknown class https://3v4l.org/kEpZH
`\class_exists` has second parameter for control autoloading. I tested this code with PHP 7.2 and error reporting E_ALL and I didn`t get  the warning.

[2021-08-19 11:20] itay-moav commented on #1244
hmmm... maybe I have an autoloader hidden somewhere.
If that is the case, this code will sometimes break, sometimes not.
Try with an autoloader that replaces both \ and _  to / and includes that
file, on top of the vendor autoloader.
include this : str_replace(['\','_'],'/',$class_name) . '.php'

On Thu, Aug 19, 2021 at 3:24 AM Eugene Borovov ***@***.***>
wrote:

[2021-08-19 21:01] ybelenko opened #1245 "Straight way to issue access token"
Sometimes I need to create short living access token without direct user request. Most obvious example is mail with token after some server event.

I know, that's against recommendations and best practises to include access token in url, but 99% of web applications send reset password link with token in it. Cannot see any difference if I send reset link with access token.

So, it would be great to

[2021-08-20 06:09] eugene-borovov commented on #1244
I suggest to use [PSR-0 autoloading](https://getcomposer.org/doc/04-schema.md#psr-0) for legacy code.

[2021-08-20 14:15] itay-moav commented on #1244
A good idea, but maybe give a facility for other users who might encounter
this issue in the future.

On Fri, Aug 20, 2021 at 2:10 AM Eugene Borovov ***@***.***>
wrote:

[2021-10-11 20:52] #1245 closed

[2021-10-11 20:57] #1244 closed

[2021-10-26 01:22] twlawrenceko opened #1252 "Root package 'league/oauth2-server' cannot require itself in its composer.json"
Hello,

I am not able to run the compose command. I get the following error.

[code]

Thank you.

[2021-10-26 01:29] #1252 closed, assigned to nobody

[2021-11-15 10:43] ogi77gr opened #1253 "Creating login for user/Sending Resource owner data"
I am new to creating oauth2 server and I would really appreciate some help. I have studied the auth code flow and I understand it. Can you please tell me some things according to the code bellow
// Validate the HTTP request and return an AuthorizationRequest object.
        // The auth request object can be serialized into a user's session
        $authRequest = $server->validateAuthorizationReque

[2021-11-16 11:53] Sephster commented on #1253
Typically the user will click on a link to be taken to the login page. It is the login page's responsibility to redirect the client to the auth server after authorisation has been successful. You might use the `header()` function to achieve this.

There is no paradigm that I'm aware of for the resource owner data. Typically I see /api or /resource but it is entirely up to you.

I would highly reco

[2021-11-16 11:53] #1253 closed

[2021-11-22 13:58] ogi77gr commented on #1253
Sorry for the question but after a lot of reading I understood that first the authorization server checks if the client is valid and then it redirects to login and then if the login is successful it redirects to scopes and then it produces the authorization code. Then the authorization code is used by the client who asks for an access token etc.
Are you suggesting that we first go to the login pag

[2022-01-04 09:23] jbaron-gingco opened #1258 "[Feature Request] Make it possible to configure token life times per client"
Currently, token life times can be configured per grant type - in our application, this is basically the same "globally". This is not sufficient for some use cases:

- Some clients should get a long living access token using the client credentials grant - one example would be the AzureAD SCIM implementation. They can only handle fixed tokens, or Microsoft AzureAD Graph tokens (I know... but Micros

[2022-01-04 09:58] jbaron-gingco commented on #1258
Pull request for a first attempt: https://github.com/thephpleague/oauth2-server/pull/1259

[2022-01-12 12:45] cvigorsICBF opened #1260 "Access Token Scope not meeting oAuth 2 specification requirements?"
Hi,
In the [client credentials docs](https://oauth2.thephpleague.com/authorization-server/client-credentials-grant/) it has the scope included in the request, but only the token_type, expires_in and access_token is included in the response. The scope is not included in the response.

What happens if a client requests a scope that they are not allowed access too?

According to the [oauth2 specifica

[2022-01-24 23:26] Sephster commented on #1260
Thanks for reporting. This does appear to not conform to the specs. Will flag this as a bug. Thanks for reporting

[2022-01-24 23:48] Sephster commented on #1260
Realised this is a duplicate of #793 so closing in favour of that. Thank you for reporting though @cvigorsICBF

[2022-01-24 23:48] #1260 closed

[2022-01-25 00:18] Sephster commented on #1258
By default we provide a bearer token response. The benefit of these token types is that you don't need to look up a DB to check the validity of the token. The downside is there isn't anyway to revoke them as you've noted. For this reason, the access tokens in the library should always be relatively short lived.

It is possible to write your own token response but you'd still have the issue of eith

[2022-01-25 00:19] #1258 closed

[2022-01-25 00:41] Sephster commented on #1225
After looking at this more closely, it seems simple_oauth don't use the provided `AccessTokenTrait` that defines the `convertToJWT()` function and usage so I think this was probably restricted to that Drupal module although I can't be certain as it looks like the issue has subsequently been fixed. More details on the Drupal fix can be found in [this issue](https://www.drupal.org/project/simple_oau

[2022-01-25 00:41] #1225 closed

[2022-01-25 12:43] tomelsj opened #1261 "Question: Next step in the authorization server flow: extracting and validating the JWT token?"
Hello, when you have the JWT from the oauth authorization server, what should I do next? I am not very familiar with the oauth, but I feel that I missing some step. Suppose that I want to post some data from the client to the server by the API using the JWT token, how do I validate the token on the server? How do I extract it and identify who sent the request?

[2022-01-28 17:18] zploited commented on #885
What is the status of this?
I also need to add data to the generated JWT. In my case, I need to set a "KID" parameter in the header of the token.

This is an old thread, almost 4 years old.. Did someone find a workaround??

[2022-01-28 17:20] uphlewis commented on #885
@zploited the only way is by extending the class(es) (and binding your implementation(s) in your dependency container if you use one)

[2022-01-29 13:54] Sephster commented on #1261
You should use the resource server class to intercept and verify that the JWT the client has is valid. Please see [this section of the docs](https://oauth2.thephpleague.com/resource-server/securing-your-api/) for further information. Thanks

[2022-01-29 13:54] #1261 closed

[2022-02-08 16:24] AdeAttwood opened #1262 "JSON encoding ScopeEntityInterface"
Currently, when encoding a `ScopeEntityInterface` for the JWT, it relies on the `jsonSerialize` function of the class to return a string of the scope identifier. In one of our apps we are struggling with this a bit as we would like the `jsonSerialize` function to return an object.

Would you be interested in accepting and PR what would use the `getIdentifier` method on the `ScopeEntityInterface` t

[2022-02-18 16:45] edgreenberg opened #1263 "Suggestion: Retrieve Keys from Key Vaults"
On Azure and AWS, there is a secure Key and Secret storage system.  Azure calls this KeyVault. AWS calls it KMS.

When using oauth2-server, which is installed in the vendor directory, these secrets are retrieved from static files, in the constructor of CryptKey.

It would be nice to be able to pass these secrets into the Oauth2 package from outside, so that they could be retrieved from the key vau

[2022-02-18 16:48] yunwuxin opened #1264 "any way to customize redirect uri validator?"
https://github.com/thephpleague/oauth2-server/blob/19dc5e47c465bc9f1804859660b7efe456a40713/src/Grant/AbstractGrant.php#L282-L292

[2022-02-22 07:12] decrypted commented on #885
TLDR; my 2 cents for function convertToJWT being private

`    use AccessTokenTrait{
        convertToJWT as public parentconvertToJWT;
    }`

on the topic of if this is needed - I agree that

- not exposing the builder
- having Builder as a final class, hence limiting the ability to work this in initJwtConfiguration (like withHeader)
- not returning Builder with convertToJWT (or an internal func

[2022-02-22 16:41] Sephster commented on #1264
Not at the moment. We haven't opened this up, primarily because the way it functions is specified in the OAuth 2 specs and we try to be spec compliant. Is there something you can't do with the current set up?

[2022-02-22 16:55] Sephster commented on #1263
Hi @edgreenberg. You should be able to just pass the keys to the constructor of the AuthorizationServer and ResourceServer as strings. The constructor will accept either a CryptKeyInterface or a string to cater for the scenario you are describing if I am understanding correctly. Just to check, are you using version 8?

[2022-02-22 17:13] Sephster commented on #1262
Hello. Cheers for getting in touch. Are you not able to use a custom trait to achieve this instead of the default ScopeTrait provided? I think this might be a better route to go down but if you disagree, please could you provide more context as to why you need the scope to be encoded as an object? I'd be interested in the use-case. Thanks

[2022-02-23 13:05] yunwuxin commented on #1264
In my project, i only want to check domain name only，not the whole redirect uri

[2022-02-23 15:26] Gelembjuk opened #1265 "Why do we need public/private keys for AuthorizationServer"
I have created the oauth2 app using this library. It works.
But i still can not understand why do i need private/public keys pair to have this working. I do not see any public key exposed with my oauth2 integration.
If it is used only internally than can i know for what?
Can i use the library without keys?

I am asking because i think how to deliver my app to users and i need to understand if i re

[2022-02-24 11:40] AdeAttwood commented on #1262
For context, we have an API for managing our scopes. Our scope entity has a `id` and `description`. Then in our actions we have something like.

[code]

This will encode to

[code]

I think this will be a good idea to change to ensure consistency in the package, and remove any ambiguous behaviour. For example, in the [BearerTokenResponse.php:36](https://github.com/thephpleague/oauth2-server/blob/1

[2022-02-24 13:30] olivernybroe commented on #1265
As far as I understand the private key is used to create the JWT access token. You then need the public key on resource servers for validating the access token.

[2022-02-24 15:28] eugene-borovov commented on #1265
AuthorizationServer requires private key to sign access token and encryption key to encode refresh token. Resource server requires public key to verify access token.

[2022-02-25 23:17] ash-m commented on #1213
I am not sure if my confusion is possibly from code changes since these comments, but I don't understand how that answers the initial question. I think your suggestion is to implement the `AuthorizationValidatorInterface` instead of using the `ResourceServer`, but as far as `isAccessTokenRevoked()`, that method uses a implementation of an `AccessTokenRepository`. Implementing it would mean a resou

[2022-02-28 08:35] Gelembjuk commented on #1265
What if my Resource server and AuthorizationServer are both parts of same app. I do not need this extra verification.
Can i skip usage of keys pair?
In my case i just do not need it

[2022-02-28 09:15] olivernybroe commented on #1265
@Gelembjuk If they are the same server, then why use Oauth and not just a session?

If you use OAuth it is needed, as how should your server be able to create the access token and validate it without having the certificate?

[2022-02-28 09:23] eugene-borovov commented on #1265
There is no legal way to skip this steps. But you may extend Resource and Authorization Server to skip usage of key pair and implement AuthorizationValidatorInterface to disable [signature verification](https://github.com/thephpleague/oauth2-server/blob/19dc5e47c465bc9f1804859660b7efe456a40713/src/AuthorizationValidators/BearerTokenValidator.php#L80).

I think this will lower the security level, b

[2022-03-01 00:00] Sephster commented on #1265
As the others have noted, this really is a fundamental requirement for the OAuth Server to work. The mechanism lets the resource server know that the JWT was created by the authorization server as your auth server should be the only one in possession of the private key. If you don't need this key pair, I suspect OAuth 2 isn't the right solution for your problem.

[2022-03-01 00:00] #1265 closed

[2022-03-01 00:35] reedy opened #1266 "revokeRefreshTokens isn't part of the GrantTypeInterface"
Renamed in d7634f92fcc2a4dc90a611987dc06579957b68d0, it seems in https://github.com/thephpleague/oauth2-server/commit/d7634f92fcc2a4dc90a611987dc06579957b68d0#diff-e3aa81140e7f04a25ca4314bf068da734e8d6b03c9ee7ef90825e65c292913c5R131-R144 `revokeRefreshTokens` (and `setRevokeRefreshTokens` before it) are used as they're part of the `GrantTypeInterface`, but the interface doesn't contain this functi

[2022-03-01 00:45] Sephster commented on #1262
Thank you for the explanation @AdeAttwood. I'm a bit confused so please bear with me. In the original post you said you wanted jsonSerialize to return the object instead of the identifier but in the code above, it looks like jsonSerialize is being bypassed entirely. Are you using the jsonSerialize function elsewhere?

I see what you mean about types though. In our trait, we specify that we will be

[2022-03-01 00:49] Sephster commented on #1266
Issue has been noted and is being fixed as part of v9 release. Thank you for attempting a fix for this.

[2022-03-01 00:49] #1266 closed

[2022-03-01 07:41] AdeAttwood commented on #1262
Sorry if this was not clear.

Yea this in our application code, we would like to return as object from  `jsonSerialize`. That was then encoding the object into the JWT and as you can imagine was causing all sorts of problems.

[2022-03-02 09:23] klemenb commented on #1025
Google's test suite for Smart Home skills at https://smarthome-test-suite.withgoogle.com/ is also saying we should do one of these two things when it is validating the OAuth implementation:

- Stop rotating refresh tokens
- Only invalidate the old refresh token after seeing the new one was used

![image](https://user-images.githubusercontent.com/2099210/156331425-b5623c4d-e1e6-4b29-ac12-3fce6d4a39

[2022-03-02 09:43] Sephster commented on #1025
You can just use the `revokeRefreshToken()` method which was added to v8.3.0 to disable refresh token invalidation. That should solve your issue @klemenb - see PR #1189 for implementation details

[2022-03-02 09:58] #1264 closed

[2022-03-02 09:59] Sephster commented on #1263
Closing as not heard back from @edgreenberg  - if you'd still like to discuss this, please feel free to reply to this issue and I will be happy to reopen it. Thanks

[2022-03-02 09:59] #1263 closed

[2022-03-02 10:43] Sephster commented on #1262
Hi @AdeAttwood. Thanks for taking the time to explain your problem. I've given this a lot of thought and I think we should be leaving this as is in the library. It has been like this for over 7 years and I don't recall anyone raising issues about this before. We _could_ change this to use _array_map_ as you have suggested but this would make the code slightly longer. I believe the original author

[2022-03-02 10:43] #1262 closed

[2022-03-02 23:11] mansguiche commented on #885
Currently looking to use this via Laravel passport and unfortunately going down rabbit holes trying to implement a custom public claim. Please consider making this more easily extensible since the alternative is that I will have to rewrite some of the inner workings which would be unfortunate just for the sake of an ideology.

I understand why you may think that adding this feature could allow peo

[2022-03-03 07:23] klemenb commented on #1025
Thank you! 👍

I actually tried this before, but now on the second look I found some other part of our code that was also revoking the refresh tokens when issuing new access tokens. After cleaning that part up, the `revokeRefreshToken(false)` works.

[2022-03-07 23:51] pamelus commented on #1007
Is it worth closing this issue, given recent versions of the library do support fileless keys (with Lcobucci's InMemory)?

[2022-03-14 15:04] BurningDog opened #1271 "Make `redirect_uri` dynamic or support wildcards (for authorization code grant)"
The docs at https://oauth2.thephpleague.com/authorization-server/auth-code-grant/ say:

This seems to imply that `redirect_uri` could be dynamically set by the requesting client. However, this is not the case - only pre-registered `redirect_uri`s are allowed - see [RedirectUriValidator::matchExactUri()](https://github.com/thephpleague/oauth2-server/blob/master/src/RedirectUriValidators/RedirectUri

[2022-03-16 04:40] bradjones1 opened #1273 "Non-URL redirection URIs fail validation (e.g., for native apps with custom schemes)"
I have a native app which performs OAuth2 with, among other clients, a native app.

The redirection URI is something like `native.app.reverse.dns://`, which is a valid URI but is not a URL.

Spec references:
https://datatracker.ietf.org/doc/html/rfc6749#section-3.1.2
https://datatracker.ietf.org/doc/html/rfc3986#section-4.3

The culprit is `parse_url()`, which as the name implies is specific to UR

[2022-03-16 06:41] bradjones1 commented on #1273
Potentially related https://github.com/thephpleague/oauth2-server/issues/1039

[2022-03-16 07:17] bradjones1 commented on #1273
Refs https://github.com/thephpleague/oauth2-server/issues/1188#issuecomment-906264171, though that and its related PR still use `parse_url()` which I think is incorrect.

[2022-03-22 09:36] BurningDog commented on #1271
### My use case

The websites I'm authenticating with OAuth make API calls to my business API - everything is on different domains. I don't want to store the OAuth JWT in localStorage, but rather httpOnly secure cookies. That cookie then _must_ be set by the API - which makes it part of the OAuth flow (from a user perspective) and the user must be automatically redirected back to their starting po

[2022-03-22 21:25] Sephster commented on #1271
Sorry for the confusion here @BurningDog. The client can pre-register multiple return URLs and can specify which one they want to use when issuing a request _or_ can leave the parameter blank and we will use either the first redirect uri registered or the only redirect uri registered.

See this code for where we do this https://github.com/thephpleague/oauth2-server/blob/19dc5e47c465bc9f1804859660b

[2022-03-22 21:25] #1271 closed

[2022-03-22 21:30] Sephster commented on #1273
Thanks @bradjones1 and thanks for the PR.  I will take a look at this tomorrow

[2022-03-23 01:30] yangjisen opened #1275 "password grant username for number is not work"
[code]

[2022-03-23 07:34] Sephster commented on #1275
Strange. After having this release out for a good while now, this is the second report I've had of this.

As far as I can see, even if your username is an int, because it comes via the http request it should always be a string.

I can't replicate this issue. Are you able to share the contents of $request->getParsedBody() so I can investigate this further?

[2022-03-23 08:14] ajgarlag commented on #1271
@BurningDog Have you evaluated using the `state` param to convey your dynamic data?

See https://www.oauth.com/oauth2-servers/redirect-uris/redirect-uri-registration/#per-request

[2022-03-29 03:29] yangjisen commented on #1275
call function createPasswordRequest(1, 1)

[code]

$request->getParsedBody()
[code]

[2022-03-29 04:55] eugene-borovov commented on #1275
The problem is here https://github.com/thephpleague/oauth2-server/blob/19dc5e47c465bc9f1804859660b7efe456a40713/src/Grant/AbstractGrant.php#L354

The request parameters do not cast to `string|null` and return as is. All helper methods should cast return value to `string|null` according phpdocs.

[2022-04-03 05:33] victorbalssa commented on #1273
Hello,
same problem here.
I have a native application with `scheme://` as  `redirect_uri`,
Thank you @bradjones1 💪🏻

[2022-04-06 21:14] #1188 closed

[2022-04-06 21:14] #1273 closed

[2022-04-07 21:40] Sephster commented on #1275
@eugene-borovov I don't think that line is causing the issue. Because we are receiving an http request, all values received should be strings as far as my testing goes unless I've made a mistake somewhere.

@yangjisen are you using any frameworks or a CMS with this package such as Laravel or Drupal? Out of the box, the request should always return strings but it might be the case that a system is

[2022-04-08 04:00] eugene-borovov commented on #1275
@Sephster  Parsed body could be changed by some middleware in application. Therefore, we should not trust the type of request parameters.

I advise you to additionally cast the parameter type to the string. This will save application from unexpected mistakes.

[code]

[2022-04-08 23:07] caballero03 opened #1277 ""league/event": "^2.2" dependency incompatibility with "league/event": "3.0.0""
I had been using "league/event": "^3.0.0" in part of my project but when I installed oauth2-server Composer downgraded Event to v2.2 which has had several name changes into v3.0.0. This breaks existing v3.0.0 code.

See here: https://event.thephpleague.com/3.0/upgrade-from-2-to-3/

I don't know if this is a issue or maybe I did something wrong when I installed it, but it would appear to me that th

[2022-04-09 07:14] Sephster commented on #1277
Yes at this time we are still on league/event 2.2. We won't upgrade to 3.0 until we release a new major version as I think this will incur breaking changes. Sorry about that and hope it doesn't cause you too many issues

[2022-04-09 07:14] #1277 closed

[2022-04-11 22:22] scottmetoyer opened #1278 "Intermittent BearerTokenValidator exceptions in the log"
I'm seeing this error several times a day in our log:

[code]

The majority of auth requests are going through just fine, this only pops up occasionally and after the users have successfully authenticated and performed a few actions through our API.

Are there any additional troubleshooting steps or ideas for figuring this out?

[2022-04-11 22:33] Sephster commented on #1278
Are you discarding the refresh tokens?

[2022-04-11 23:08] scottmetoyer commented on #1278
We're using this with Laravel Passport (password grant) and the refresh tokens are being saved in the oauth_refresh_tokens table.

[2022-04-14 08:57] super-mad-scientist opened #1279 "How to use HTPP Basic Auth?"
I want to use HTTP Basic auth because mandatory of the job i currently work on. How to do it?
Is there already option to use that? I search the doc but could find it
If not yet, perhaps i could contribute too :)

[2022-04-18 20:09] sylfabre opened #1280 "Remove anemic entities"
Hello

While working on leveling up my phpstan config to level 7, I noticed that the interfaces provided by your package lead to anemic entities.

For instance, I have implemented `OAuthAccessToken`  as a Doctrine entity with the following code:

[code]

I noticed the following issues:
* It is possible to call `getExpiryDateTime()` while no expiration date had been previously set
* All tokens have

[2022-04-18 20:27] sylfabre opened #1281 "Implement phpstan generics in interface"
Hello

I'm working on leveling up my phpstan setup to level 7 and I'm struggling with my Doctrine entities implementations of your token interfaces.

My `OAuthAccessToken` entity use the following code:

[code]

My entity `OAuthScope` implements `ScopeEntityInterface`.

It works well with phpstan Doctrine extension as `$scopes` is actually an array of `OAuthScope` that is expected by Doctrine.
But

[2022-04-25 10:33] KminekMatej opened #1283 "Invalid logic during redirect_uri validation"
Hey ya all,
shouldnt this statement be simply
`empty($authCodePayload->redirect_uri)`
instead of
`empty($authCodePayload->redirect_uri) === false`
?

https://github.com/thephpleague/oauth2-server/blob/0c2f32cd766861f3add4b95c49c5fcef3427e133/src/Grant/AuthCodeGrant.php#L214

Comparing that to false simply negates the check for nonempty.
Now, when I have redirect_uri stored in payload and not suppl

[2022-04-26 06:31] KminekMatej commented on #1283
But that actually makes `$authCodePayload->redirect_uri` meaningless, doesnt it?

[2022-04-26 06:47] Sephster commented on #1283
I'm not sure what you mean. It is an optional field but still important

[2022-04-26 09:46] ALernety opened #1284 "Opaque token support"
Hello

I'm working on project where already implemented "Authorization code grant" + JWT with this library, but now my intention to transfer from JWT to opaque token. Is it possible to do with this library?

Sorry if it was already discussed, but I can't find the topic.

[2022-04-28 16:14] Sephster commented on #1284
Hello. Thanks for reaching out and no worries on posting something here. I need to get around to creating a discussion board at some point but for now, no worries posting in issues.

Yes it is possible to use a different token format if you wish. You would need to create a new token validator that implements the `AuthorizationValidatorInterface` and create a new response type that extends the `Abs

[2022-04-28 16:14] #1284 closed

[2022-04-29 14:03] #1279 closed

[2022-04-29 20:15] KminekMatej commented on #1283
I misundestood the flow - thought you can just specify redirect_uri in the auth code and keep it empty in request, but that violates the RFC, where it clearly states that if the auth code redirect_uri has been filled, request redirect_uri must be filled as well and they must be equal.

So this issue was just my misunderstanding, sorry about that and thanks for a good work

[2022-05-04 15:42] GreyXor commented on #626
@alexbilbie hello, any news about this ?
OAuth device flow is very useful

[2022-05-04 15:52] Sephster commented on #626
There is a PR in for this already which I am going to get added in with the next major version :+1:

[2022-05-09 08:59] vaawebdev opened #1285 "Support for league/event 3.0.0"
# Recreate steps

- `league/oauth2-server 8.3.4` installed
- `composer outdated` (`league/event 2.2.0 3.0.0 Event package`)
- `composer why-not league/event 3.0.0` (`league/oauth2-server  8.3.4  requires  league/event (^2.2)`)

[2022-05-10 08:30] GreyXor commented on #626
@Sephster are you talking about this one ? https://github.com/thephpleague/oauth2-server/pull/1074
There is something i can do for help ? I have already tested it and it is great for my device flow use case

[2022-05-10 08:58] asgeirn opened #1286 "Does not enforce key lengths required by RFC 7518"
JWA section [3.3](https://www.rfc-editor.org/rfc/rfc7518#section-3.3) states:

JWA is stated as an implementation requirement in RFC 7519, section 8.

As a consequence, standards-compliant JWT libraries like JOSE refuse to validate access tokens issued using this library.

[2022-05-12 21:32] Sephster commented on #1286
The JWTs we issue aren't encrypted. They are just signed so I don't think we need to comply with that section of the RFC:

   provides encryption capabilities, of the encryption algorithms
   specified in [[JWA](https://datatracker.ietf.org/doc/html/rfc7519#ref-JWA)], only RSAES-PKCS1-v1_5 with 2048-bit keys
   ("RSA1_5"), AES Key Wrap with 128- and 256-bit keys ("A128KW" and
   "A256KW"), and the

[2022-05-12 21:32] #1286 closed

[2022-05-12 21:36] Sephster commented on #1285
Related to #1184

[2022-05-12 21:41] Sephster commented on #1281
@sylfabre thank you for the kind words and sorry it has taken me a while to get back to you. I'm working on trying to get version 9 out so at this time, if you have a fix in userland, I'd prefer not to accept a PR for this. Primarily this is because I don't want to distract from other features and I think this will have limited impact for most of our users at present. I hope you understand and tha

[2022-05-12 21:41] #1281 closed

[2022-05-12 21:56] Sephster commented on #1280
This sounds good in principle! I can't think of any immediate issues and targeting the v9 branch makes sense. My main concern would be that there is a good reason we are using setters that we haven't thought of here. I might be wrong but something is niggling in the back of my head that there is a reason it is set up this way. I might be entirely wrong on that and if I am, would welcome a PR to se

[2022-05-12 21:56] #1280 closed

[2022-05-12 22:04] Sephster commented on #1278
The reason I ask about discarding is sometimes, when you use a refresh token, it is then marked as invalid but due to connection issues, you might not receive the corresponding new access token.

When you go to re-use the refresh token, it is no longer valid and you end up having to request a brand new access token/refresh token combo.

We addressed this in the library, allowing you to retain refr

[2022-05-12 22:04] #1278 closed

[2022-05-13 06:57] asgeirn commented on #1286
This issue is related to **JWS**, not JWE.  The RS256, RS384 and RS512 signature algorithms all require an RSA key with modulus length at least 2048 bits.

[2022-05-13 07:47] driesvints commented on #1278
I'm not entirely sure what's needed for that but if you attempt a PR we can go from there.

[2022-05-15 13:55] sylfabre commented on #1281
@Sephster I understand that, good luck with version 9!

[2022-05-15 14:12] sylfabre commented on #1280
@Sephster OK I'll work on a PR.

What is the timing around the release of version 9? So I know when I should work on such a PR.

[2022-05-17 17:31] Sephster commented on #1280
I honestly couldn't say at this stage but there is still quite a bit of work to do so I wouldn't expect it to be ready for at least a month. Hope that is helpful and thanks again

[2022-07-18 13:27] goldi80 opened #1287 "BearerTokenValidator::validateAuthorization requires the JWT to have the 'Not Before' claim"
With [commit 07bdaeb](https://github.com/thephpleague/oauth2-server/commit/07bdaebb5d63ded6e227da9ba4ad72473fc4cd62) the deprecated Constraint `Lcobucci\JWT\Validation\Constraint\ValidAt` is replaced with the newer `Lcobucci\JWT\Validation\Constraint\StrictValidAt`. This replacement broke our authentication as our tokens (provided by a third party system) do not contain the optional claim 'Not Bef

[2022-07-24 22:39] lcobucci commented on #1286
@asgeirn I believe this is something for the underlying library. We realised we missed the minimum key size for HMAC algorithms and as I was about to release 4.2.0 I saw this.

More info in: https://github.com/lcobucci/jwt/issues/854

[2022-07-24 22:42] lcobucci commented on #1286
@Sephster @alexbilbie the implementation will be similar to https://github.com/lcobucci/jwt/pull/835, so an exception will be raised when receiving short keys.

[2022-07-24 22:44] Sephster commented on #1286
Thanks. Will revisit this shortly. Cheers for the heads up

[2022-08-05 13:17] lcobucci commented on #1286
Implemented in https://github.com/lcobucci/jwt/pull/855 and going to be released in 4.2.0 :+1:

[2022-08-10 10:54] DavidAtanasoski opened #1290 "Using oauth2-server with Slim"
I got started with PHP and Slim few weeks ago, so I'm beginner using this technology. Now I want to make a project where I will implement authorization, creating toke etc.

I looked at the documentation of this package, but I struggle to use it. I've successfully installed it, but now I don't know how to use it.
For example, I know that I need a database and tables, but have no idea what they shou

[2022-08-11 13:02] shyim opened #1291 "Allow Ecdsa keys as oauth2 server"
Currently, the algo is hard-coded here https://github.com/thephpleague/oauth2-server/blob/master/src/Entities/Traits/AccessTokenTrait.php#L47

Switching it does not work in any case, but you get at least a key. Verifiying seems also hard-coded somewhere

[2022-08-12 18:53] ash-m commented on #1284
@Sephster Any reason to not have these classes as part of the library?

[2022-08-12 18:55] Sephster commented on #1284
Just not wanting to maintain too many things really. For the vast majority of users I think they are happy to use JWT and the library allows you to use something else if you wish with relative ease

[2022-08-13 14:49] Ashk2a commented on #934
Bump! Any news about this feature ?

[2022-08-15 23:04] ash-m commented on #1284
@Sephster So I opened an issue on the Symfony bundle implementation which currently performs a check by loading token data to an object and checking if it is revoked. It seems the current implementation's default works under the assumption the auth server and resource server are the same (or at least use shared token storage). Correct me if I'm wrong, but isn't part of the point of JWTs to make it

[2022-08-16 10:05] Sephster commented on #1284
We make no assumption that the auth server and resource server are one and the same. You could have these separate if you like and I believe some people do.

We don't currently support token introspection which would be more convenient for separation purposes but hope to in future.

As I've noted before, it is possible already for you to change the token type if you wish for your own implementatio

[2022-08-18 18:38] adunsulag commented on #934
OpenEMR uses this library for our OAuth2 implementation and I've been investigating Unified Data Access Profiles (UDAP)  https://www.udap.org/udap-dynamic-client-registration.html as a means of providing greater security guarantees for dynamic client registration.  I'd prefer to have much of the UDAP implementation (error codes, responses, certificate chaining validation) built into oauth2-server

[2022-08-26 08:16] ThaDaVos commented on #962
Any ETA when the official OpenID connect is coming? I am running into the same issue that the `nonce` is missing - figured out one can easily add it inside https://github.com/steverhoades/oauth2-openid-connect-server `IdTokenResponse` using a `->withClaim('nonce', '<VALUE>')` inside the overriden `getBuilder` method - but struggling to get the `nonce` all the way through so it's accessible there

[2022-08-26 08:28] Sephster commented on #962
No plans to add into the next major so likely after that. Steve's repo is the best option for now 👍

[2022-08-26 08:35] ThaDaVos commented on #962
Sadly it doesn't handle the `nonce` part (I am already using it) - but trying to make it spec compliant - any hint on how one uses the new `AuthorizationRequestInterface` introduced with https://github.com/thephpleague/oauth2-server/pull/1110 ?

I can't find any docs of it but seems to be able to solve the issue

[2022-08-26 08:50] ThaDaVos commented on #962
Nvm... V9 isn't even out yet....

[2022-08-26 11:18] ThaDaVos commented on #962
I added a comment in https://github.com/steverhoades/oauth2-openid-connect-server/issues/47 - how I did it today succesfully

[2022-08-27 08:08] netniV commented on #1266
I swore I posted a comment on this already but I can't seem to find it.  I was asking about the release plan for v9 or at least the possibility of submitting a fix to the existing v8 code by commenting out the line in `enableGrantType` so people don't have to modify vendor code to make things work?

[2022-08-28 12:12] t3touch opened #1294 "How do I get a token by $tokenId"
I'm struggling with the revokeRefreshToken($tokenId) method inside my RefreshTokenRepository. Which is the right way to get the refresh token by $tokenId and how can I revoke/invalidate the token?

[2022-08-28 13:59] eugene-borovov commented on #1294
This [example](https://github.com/thephpleague/oauth2-server/blob/master/examples/public/refresh_token.php) is a good start.

[2022-08-28 14:30] t3touch commented on #1294
Thanks. But it does not show how to identify or revoke an existing refresh token by $tokenId.

[2022-08-28 16:16] eugene-borovov commented on #1294
Just remove the token from a storage. It may be hard or soft delete.
There is an [example](https://github.com/mezzio/mezzio-authentication-oauth2/blob/2.5.x/src/Repository/Pdo/RefreshTokenRepository.php) with soft delete.

[2022-08-29 17:46] t3touch commented on #1294
Ahhh. Ok, I misunderstood some things ;-)
Thanks

[2022-08-29 17:46] #1294 closed

[2022-08-31 17:58] t3touch opened #1296 "How to persist tokens in mysql"
Hi, can anybody give me some hints how to persist tokens in a mysql database?

[2022-09-14 11:39] MJTheOne commented on #1120
Why is this closed? The PR hasn't been merged yet

[2022-09-15 16:38] t3touch commented on #1296
After sometime I think I understand how to do this ;-)

[2022-09-15 16:38] #1296 closed

[2022-09-21 16:00] Sephster commented on #1291
Thank you. This implementation is hopefully just a stop gap until we drop PHP 7 support all together. I will flag this for addressing in the next major.

[2022-09-21 16:13] Sephster commented on #1290
Hello - sorry for the delayed reply. We don't provide migrations because we don't want to tie you down to any one storage solution. The main thing you need to do is make sure you are adhering to the interfaces provided.

For example, the system provides a number of repository classes and these can be mapped to your storage solution. Typically this will be a MySQL database but it could be whatever

[2022-09-21 16:13] #1290 closed

[2022-09-21 16:43] Sephster commented on #1287
Hello. Thanks for reporting this and sorry for the delayed response. When I replaced this I checked and our default access token issues an nbf claim so I didn't expect this to be an issue sorry.

Can I ask why you aren't issuing the tokens with this library or why you can't add the nbf claim in to your third party provider so I can better understand the issue.

The easiest way for you to fix this

[2022-09-22 14:57] goldi80 commented on #1287
Thanks for your reply. We're not creating the tokens with this library because the system using it to validate the tokens is only a small building block in the ecosystem of our company. There are many different systems validating tokens issued by a central system. The colleagues managing the token creation service are of the opinion, that an optional thing shouldn't be mandatory.

In fact, passing

[2022-09-22 17:08] Sephster commented on #1287
I've checked the docs and looks like looseValidAt will check nbf if it is present so that seems to be the best of both worlds. Users can still be assured nbf is checked if the token is issued via the library so happy to make this adjustment. Will try and get this implemented this week. Thanks for flagging it!

[2022-09-23 06:40] goldi80 commented on #1287
Thanks for adjusting this. I'm really looking forward to receive this update.

[2022-09-27 08:17] mostafa-rz commented on #1291
I think the verifying also take place in this method:
[https://github.com/thephpleague/oauth2-server/blob/0f32fbe00b6b1bdd72c8a70cb1763be49ce8c99b/src/AuthorizationValidators/BearerTokenValidator.php#L69](https://github.com/thephpleague/oauth2-server/blob/0f32fbe00b6b1bdd72c8a70cb1763be49ce8c99b/src/AuthorizationValidators/BearerTokenValidator.php#L69)

[2022-09-27 21:36] Sephster commented on #1296
My apologies for not getting back to you in time but I'm glad you got it sorted! If you still have any follow up questions please shout and I will try to get back to you a bit sooner this time. Thank you

[2022-10-03 12:13] PoteRii opened #1302 "Which OAuth 2.0 grant should I implement?"
The docs at - https://oauth2.thephpleague.com/authorization-server/which-grant/ says that:
1) A **third party** client is a client that you don’t trust
2) If the client is a web application that has runs entirely on the front end (e.g. a single page web application) or a **native application** such as a mobile app you should implement the **authorization code grant with the PKCE extension**
3) **T

[2022-10-10 13:50] bl0up opened #1305 "Invalid client (Client authentication failed) when secret contains special characters"
Hello,

I am trying to authenticate on a server that runs oauth2-server and implements the authorization code grant mechanism.

On my website, there is a login button that redirects users to their authentication page. There, users can enter their credentials and if they are correct, they can enter my website. This is implemented using next-auth.

Everything works fine if the secret that the admin

[2022-10-11 21:13] pokej6 opened #1306 "Race condition when issuing access token from authorization code"
# Issue
The [OAuth2 specification](https://www.oauth.com/oauth2-servers/access-tokens/authorization-code-request/#security-considerations) has the following:

This repository addresses this by revoking the authorization code after it has been used to generate an access token. However the way that is being done allows multiple concurrent requests to result in generated access tokens before the auth

[2022-10-31 22:26] Sephster commented on #1302
My apologies, it looks like point 3 was left in erroneously when this page was last updated. At the time we updated the page, guidance suggested you _could_ use just the authorization code grant in certain situations. However, I now believe in nearly all cases, if you can, you should use the auth code grant with PKCE.

[2022-10-31 22:35] Sephster commented on #1305
I don't think there are limitations but the important thing to note is that the validation of a client is handled by code you have implemented. I suspect that there might be some decoding needed in your implementation of the ClientRepository as next is correctly encoding special characters.

If you review your ClientRepository and look at the function `validateClient()` in particular, you should b

[2022-11-01 06:13] #1302 closed

[2022-11-04 20:59] ctadlock opened #1310 "Access token expiration using refresh token's expiration after a refresh"
I think there is a bug when refreshing tokens; the expiration of the access token is set to the refresh tokens expiration value, not the acess tokens expiration.

In this screenshot you can see the state of the access tokens after one refresh. The old access token is revoked (and it has the correct expiration of 1 hr), but the new access token has an expiration of 1 month (which is the refresh tok

[2022-11-04 21:05] ctadlock commented on #1310
I found the source of the issue, I was passing in the wrong value.

[2022-11-04 21:05] #1310 closed

[2022-11-08 15:29] MikolayKorniat opened #1311 "Issue with authorization code flow: Authorization code has expired"
I found a bug during the last switching from summer to winter time: [DateTime::add() adds wrong interval when switching from summer to winter time](https://bugs.php.net/bug.php?id=63311)

DateTimeImmutable::add() calculate wrong "[expire_time](https://github.com/thephpleague/oauth2-server/blob/0f32fbe00b6b1bdd72c8a70cb1763be49ce8c99b/src/Grant/AuthCodeGrant.php#L362
)" and issue already expired co

[2022-11-14 11:40] Sephster commented on #1311
oh wow. Nice find. I had no idea this was an issue.

I'm leaning towards not changing this because we'd need a new major release anyways, it has been fixed in 8.1, and active support for 8.0 is ending in 11 days anyways.

That coupled with the fact that this bug manifests itself in a small time window makes me think it isn't worth the effort. Would appreciate your thoughts on this though.

I've re

[2022-11-14 11:44] Sephster commented on #1311
Just got a reply that this won't be backported to earlier versions so the issue is here to stay

[2022-11-14 11:46] #1311 closed

[2022-11-14 12:47] Sephster commented on #1306
This is unfortunately not an easy fix. The problem here is that the access token generation can fail. If we revoke the auth code _before_ the access token is generated, then it fails, the client is left in a dead end state.

For the two solutions you've suggested, I think number 1 is already covered by the `revokeAuthCode()` function which should either remove the authcode from storage or flag it

[2022-11-14 12:49] Sephster commented on #1305
Closing due to lack of response. If you are still having issues with this, please don't hesitate to get back in touch and I will do my best to assist you

[2022-11-14 12:49] #1305 closed

[2022-11-14 13:17] Sephster commented on #1287
Fixed and apologies for the delay. Thanks again for raising this

[2022-11-14 13:17] #1287 closed

[2022-11-14 15:07] pokej6 commented on #1306
As is the case with most race conditions, it's rarely something the client wants to experience. I expect this could come up in some fringe workflows or more likely in an environment with a bad actor trying to do something nefarious.

Is this more likely to happen than the race condition? It seems like this would also be a rare occurrence, though I do agree that leaving the client in a dead end sta

[2022-11-14 15:29] Sephster commented on #1306
Ok I will flag this as something to fix. I think you're right, we would likely have to have a temp hold on using the auth code until either the request fails or completes, at which point we release the lock and either revoke the token or respond saying there was an issue generating the access token.

This would need to be done in a major release. Thanks for your input on this

[2022-11-17 21:49] #1021 closed

[2022-11-20 12:39] delboy1978uk commented on #1245
@ybelenko I have a native app with auth code flow working perfectly. for user registration, I send an account activation link email, which opens back up in the app and makes an API call to my server confirming the email. At that point, I want to issue an access token too. It works, but for some reason my refresh token isn't decrypting properly, I'm still working on that, but I'd be very interested

[2022-11-20 21:24] jwoehr opened #1314 "examples : "Test Refresh Token" example unclear"
[Testing the refresh token grant example](https://github.com/thephpleague/oauth2-server/tree/master/examples#testing-the-refresh-token-grant-example) always returns `{"error":"invalid_request","error_description":"The refresh token is invalid.","hint":"Cannot decrypt the refresh token","message":"The refresh token is invalid."}`

Probably I am misunderstanding the instruction in the README.md, but

[2022-11-21 08:43] Radiergummi opened #1315 "Add support for RFC8693 - token exchange"
Token exchange is a new grant type [defined by the IETF](https://www.rfc-editor.org/rfc/rfc8693.html) providing support for impersonation and delegation scenarios, such as the following:

[![Illustration by Scott Brady](https://www.scottbrady91.com/img/oauth/token-exchange.png)](https://www.scottbrady91.com/oauth/delegation-patterns-for-oauth-20)
_Illustration by [Scott Brady](https://www.scottbra

[2022-11-22 10:21] ybelenko commented on #1245
My current custom grant sends generated access token to user email as url query or path parameter:
[code]
Do you also need refresh token sent via mail? Makes no sense to me at the moment, because regarding to email activation - token should work as one time password, then it's better be access token(without refresh token) with a short live period. Then user have to signin again. The same for passw

[2022-11-22 12:18] delboy1978uk commented on #1245
thanks for your feedback @ybelenko, I solved my issue the other day. When I click the email link, it opens the app, and then sends the email verification code to the api, and when successful I just create a new auth code request and pass it directly into my auth server controller, then an access token request, meaning i don't have to do anything different or custom :-D
So no access token or refres

[2022-11-22 17:04] ybelenko commented on #1245
Here is my custom implementation [ybelenko/oauth2_email_grant](https://github.com/ybelenko/oauth2_email_grant). It accepts two callbacks, first executed on success access token creation, second optional callback performs extra email validation.

User repository method should  be aware of new custom grant like:
[code]

[2022-11-23 12:24] delboy1978uk commented on #1245
Thanks for sharing! :-D

[2022-11-25 22:13] marcriemer commented on #1306
Would it not be enough to revoke the auth token before issuing the access token? Then it depends on the persistent or none storage handling to take care of this. For example: request access token => revoke auth token => commit => issue access token => commit.

[2022-11-25 23:58] marcriemer commented on #1315
I'm currently working on the OpenID implementation, which can be helpful to get this done.

[2022-11-27 13:55] Radiergummi commented on #1315
In the mean time, I've actually implemented the grant type in our production authorisation server, and it's pretty straight forward.
What I'm unsure about is how to generalise the conditions to issue a token - the exchange grant is meant to be flexible and tightly integrated with application logic; but that could be worked out, I think.

[2022-11-28 01:15] ybelenko commented on #1245
Well, it seems like you generate that verification code by yourself. That's an option, but for me the biggest advantage of OAuth2 framework is strict token generation process, so I wanna use it as much as possible and don't reinvent my own authorization wheels. I would even send it as sms one time password for phone verification, but it's obviously too big for that purpose. 🤣
With OAuth2 + JWT I c